In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 10,8

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

In [2]:
test.sort_values(['create_date','create_hour'])

      test_id create_date  create_hour  start_geo_id_new  end_geo_id_new
277       277  2017-08-01            1                 5              22
308       308  2017-08-01            1                24             251
311       311  2017-08-01            1                24              29
436       436  2017-08-01            1                47             110
443       443  2017-08-01            1                16              27
450       450  2017-08-01            1                24              63
452       452  2017-08-01            1                57              85
506       506  2017-08-01            1                69              60
515       515  2017-08-01            1                99               3
531       531  2017-08-01            1                88              58
633       633  2017-08-01            1               292             735
638       638  2017-08-01            1               901            1078
639       639  2017-08-01            1               488             181
649       649  2017-08-01            1               435              65
652       652  2017-08-01            1               374             180
653       653  2017-08-01            1               167             163
349       349  2017-08-01            3               114              79
415       415  2017-08-01            3                 6              60
429       429  2017-08-01            3                 9              19
622       622  2017-08-01            3               232              68
624       624  2017-08-01            3                49             382
644       644  2017-08-01            3               454             111
660       660  2017-08-01            3               107              24
185       185  2017-08-01            5               393               5
190       190  2017-08-01            5                71              46
202       202  2017-08-01            5               194              31
455       455  2017-08-01            5                31              62
503       503  2017-08-01            5                88              72
519       519  2017-08-01            5                48               6
545       545  2017-08-01            5               161             195
...       ...         ...          ...               ...             ...
4678     4678  2017-08-07           23                24              92
4683     4683  2017-08-07           23                30              65
4694     4694  2017-08-07           23                 0             119
4696     4696  2017-08-07           23                15              33
4721     4721  2017-08-07           23                39              16
4748     4748  2017-08-07           23                64              77
4755     4755  2017-08-07           23                88               1
4758     4758  2017-08-07           23                79              55
4759     4759  2017-08-07           23               158              50
4793     4793  2017-08-07           23                 9              72
4802     4802  2017-08-07           23                55              76
4816     4816  2017-08-07           23                19              31
4817     4817  2017-08-07           23                97              17
4831     4831  2017-08-07           23                67              26
4835     4835  2017-08-07           23                89             159
4841     4841  2017-08-07           23                16               6
4869     4869  2017-08-07           23                55              34
4872     4872  2017-08-07           23                56              79
4895     4895  2017-08-07           23                55               5
4912     4912  2017-08-07           23                10              74
4916     4916  2017-08-07           23                86              66
4943     4943  2017-08-07           23                39              21
4944     4944  2017-08-07           23                71              74
4948     4948  2017-08-07           23                56             242
4954     4954  2017-08-07           23               435              65
4963     4963  2017-08-07           23                74             114
4965     4965  2017-08-07           23               205             146
4975     4975  2017-08-07           23               266             267
4977     4977  2017-08-07           23              1282              73
4996     4996  2017-08-07           23               275             264

[5000 rows x 5 columns]

In [3]:
train_jul

,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,driver_id,member_id,start_geo_id,end_geo_id,id
0,2017-07-01,0,2,140.00,20099.0,18.0,0,0,5,0,0
1,2017-07-01,0,2,78.00,9000.0,18.0,1,1,22,1,1
2,2017-07-01,0,1,86.23,10323.0,20.0,2,2,39,2,2
3,2017-07-01,0,1,81.88,14197.0,27.0,3,3,55,3,3
4,2017-07-01,2,1,217.01,39150.0,40.0,2,4,195,4,4
5,2017-07-01,2,1,55.69,8360.0,16.0,4,5,22,1,5
6,2017-07-01,6,2,188.00,40184.0,47.0,5,6,206,5,6
7,2017-07-01,8,2,56.00,10953.0,21.0,6,7,55,6,7
8,2017-07-01,9,2,25.00,2889.0,5.0,7,8,68,7,8
9,2017-07-01,9,2,31.00,4415.0,8.0,8,9,63,8,9
10,2017-07-01,9,2,33.00,4834.0,9.0,9,10,13,9,10
11,2017-07-01,10,2,58.00,11493.0,22.0,10,11,16,10,11
12,2017-07-01,11,1,41.44,5190.0,10.0,11,12,101,11,12
13,2017-07-01,11,0,61.88,7752.0,15.0,2,13,356,12,13
14,2017-07-01,12,2,25.00,2876.0,5.0,12,14,9,13,14
15,2017-07-01,14,2,192.00,22057.0,44.0,13,15,154,14,15
16,2017-07-01,15,2,105.00,21420.0,42.0,14,16,223,15,16
17,2017-07-01,16,2,52.00,9896.0,19.0,15,17,24,16,17
18,2017-07-01,16,2,28.00,3678.0,7.0,16,18,118,10,18
19,2017-07-01,17,2,122.00,20860.0,40.0,17,19,72,17,19
20,2017-07-01,17,2,80.00,13911.0,27.0,18,20,79,18,20
21,2017-07-01,17,1,141.67,28185.0,56.0,19,21,143,19,21
22,2017-07-01,18,2,145.00,30759.0,41.0,20,22,10,5,22
23,2017-07-01,19,2,61.00,12423.0,23.0,21,23,6,20,23
24,2017-07-01,20,0,59.84,6838.0,13.0,2,24,86,21,24
25,2017-07-01,21,1,117.15,24226.0,41.0,22,25,49,22,25
26,2017-07-01,21,2,96.00,16785.0,32.0,23,26,135,23,26
27,2017-07-01,22,2,44.00,5999.0,11.0,24,27,9,24,27
28,2017-07-01,22,2,41.00,7441.0,12.0,25,28,20,25,28
29,2017-07-01,23,2,39.00,4905.0,9.0,26,29,24,6,29
...,...,...,...,...,...,...,...,...,...,...,...
892488,2017-07-31,7,2,99.00,20599.0,37.0,3931,43503,18,16,892484
892489,2017-07-31,7,1,121.30,15778.0,31.0,2,143115,76,41,892485
892490,2017-07-31,8,2,28.00,3546.0,7.0,552,30813,6,24,892486
892491,2017-07-31,10,2,42.00,7467.0,14.0,366,12688,88,86,892487
892492,2017-07-31,10,2,24.00,2547.0,5.0,2044,75350,79,29,892488
892493,2017-07-31,11,2,41.00,7112.0,14.0,862,40191,118,67,892489
892494,2017-07-31,13,2,78.00,16230.0,32.0,2179,5763,17,109,892490
892495,2017-07-31,13,2,42.00,7306.0,14.0,4021,34375,6,29,892491
892496,2017-07-31,13,2,47.00,8600.0,17.0,3870,5143,26,6,892492
892497,2017-07-31,14,0,80.64,16665.0,33.0,2,53732,143,184,892493
892498,2017-07-31,14,2,59.00,11905.0,23.0,2507,9788,18,64,892494
892499,2017-07-31,15,1,34.36,5139.0,10.0,4685,16127,10,90,892495
892500,2017-07-31,15,0,75.95,11167.0,16.0,2,11881,128,29,892496
892501,2017-07-31,16,2,89.00,18431.0,36.0,1481,72442,27,49,892497
892502,2017-07-31,16,2,64.00,13162.0,26.0,3276,178741,24,80,892498
892503,2017-07-31,17,2,37.00,5964.0,11.0,3799,109426,79,1,892499
892504,2017-07-31,17,2,61.00,6307.0,12.0,4821,30141,16,15,892500
892505,2017-07-31,18,2,122.00,20794.0,41.0,1210,18320,16,18,892501
892506,2017-07-31,18,2,33.00,1576.0,3.0,2005,181806,6,6,892502
892507,2017-07-31,19,2,50.00,7125.0,14.0,581,113720,10,67,892503
892508,2017-07-31,20,1,56.37,5442.0,10.0,414,102407,162,35,892504
892509,2017-07-31,20,0,40.71,7043.0,12.0,2,24400,55,41,892505
892510,2017-07-31,20,2,67.00,14471.0,23.0,3031,8485,61,51,892506
892511,2017-07-31,21,2,77.00,16059.0,32.0,3552,32552,24,48,892507
892512,2017-07-31,21,2,32.00,3387.0,6.0,2058,84415,39,26,892508
892513,2017-07-31,21,2,69.00,7519.0,15.0,1261,184370,15,70,892509
892514,2017-07-31,21,2,56.00,5446.0,10.0,3955,528,16,56,892510
892515,2017-07-31,21,0,63.92,6594.0,13.0,2,182525,119,124,892511
892516,2017-07-31,22,2,92.00,13962.0,24.0,2995,52549,19,61,892512
892517,2017-07-31,23,2,244.00,44103.0,43.0,2469,165831,65,173,892513

In [4]:
coord = train_jul.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'count':'count'})
coord['count'].value_counts()

1      341888
2       82820
3       33273
4       16108
5        9035
6        5417
7        3410
8        2316
9        1644
10       1124
11        812
12        625
13        466
14        401
15        282
16        261
17        193
18        186
19        144
20        107
21         96
22         96
23         63
24         56
27         56
25         46
26         36
29         33
28         30
30         29
        ...
59          3
55          3
72          3
51          3
53          3
63          2
65          2
64          2
60          2
52          2
144         1
165         1
131         1
125         1
86          1
123         1
101         1
96          1
89          1
178         1
76          1
75          1
74          1
73          1
71          1
69          1
68          1
62          1
61          1
198         1
Name: count, dtype: int64