In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 8,6

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
train_jul_demand_path = '../../UAI_data/input/tain_jul_demand.csv'
train_aug_demand_path = '../../UAI_data/input/tain_aug_demand.csv'
location_path = '../../UAI_data/input/location_cls.csv'
holiday_path = '../../UAI_data/input/holiday.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
train_jul_demand = pd.read_csv(train_jul_demand_path,encoding='gbk')
train_aug_demand = pd.read_csv(train_aug_demand_path,encoding='gbk')
loc_cls = pd.read_csv(location_path)
holiday = pd.read_csv(holiday_path)
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

###  Helper Functions

In [2]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

In [3]:
# train_jul_exc = train_jul[train_jul['driver_id'] != 2].copy()
train_jul_exc = train_jul.copy()
coord_jul = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_jul.loc[:,'estimate_money_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].mean()['estimate_money']
# coord_jul.loc[:,'estimate_money_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].median()['estimate_money']
# coord_jul.loc[:,'estimate_money_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].max()['estimate_money']
# coord_jul.loc[:,'estimate_money_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].min()['estimate_money']
coord_jul.loc[:,'estimate_distance_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].mean()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].median()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].max()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].min()['estimate_distance']
coord_jul.loc[:,'estimate_term_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].mean()['estimate_term']
# coord_jul.loc[:,'estimate_term_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].median()['estimate_term']
# coord_jul.loc[:,'estimate_term_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].max()['estimate_term']
# coord_jul.loc[:,'estimate_term_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].min()['estimate_term']

# coord_jul.to_csv('train_jul_exc.csv',index=False)
coord_jul

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [4]:
test

      test_id create_date  create_hour  start_geo_id  end_geo_id
0           0    2017/8/1           21            24          27
1           1    2017/8/1           21            24           9
2           2    2017/8/1           21            24          22
3           3    2017/8/1           17            24           9
4           4    2017/8/1           17            55          55
5           5    2017/8/1           17           110          88
6           6    2017/8/1            9            23          21
7           7    2017/8/1           21            16          50
8           8    2017/8/1           13             6          24
9           9    2017/8/1           21             6          22
10         10    2017/8/1           17             6           9
11         11    2017/8/1           21            34          90
12         12    2017/8/1            9             1          13
13         13    2017/8/1           21            24          13
14         14    2017/8/1           21            10          10
15         15    2017/8/1           13            48          72
16         16    2017/8/1            7           649         111
17         17    2017/8/1           21            18          22
18         18    2017/8/1           13            15           6
19         19    2017/8/1           17            24          22
20         20    2017/8/1           21             6          24
21         21    2017/8/1           11            24          24
22         22    2017/8/1           13            27          27
23         23    2017/8/1           21            90          50
24         24    2017/8/1           21            24           6
25         25    2017/8/1           15           152          77
26         26    2017/8/1           11           140         103
27         27    2017/8/1           11            22          24
28         28    2017/8/1            9             1          39
29         29    2017/8/1           13            24          55
...       ...         ...          ...           ...         ...
4970     4970    2017/8/7           17           318          61
4971     4971    2017/8/7            9             6         649
4972     4972    2017/8/7           11           266         267
4973     4973    2017/8/7            5           119          31
4974     4974    2017/8/7           15           107          24
4975     4975    2017/8/7           23           266         267
4976     4976    2017/8/7            7            47         459
4977     4977    2017/8/7           23          1282          73
4978     4978    2017/8/7           21           817         193
4979     4979    2017/8/7           15           379         120
4980     4980    2017/8/7            3           459        1285
4981     4981    2017/8/7           21           110         364
4982     4982    2017/8/7           17           107          24
4983     4983    2017/8/7           13             5          26
4984     4984    2017/8/7            5           229          59
4985     4985    2017/8/7            5           292         735
4986     4986    2017/8/7           15            92         327
4987     4987    2017/8/7            9           205         146
4988     4988    2017/8/7           21          1283         323
4989     4989    2017/8/7            1           107          24
4990     4990    2017/8/7           17            79         117
4991     4991    2017/8/7           21           331         837
4992     4992    2017/8/7           19           260         353
4993     4993    2017/8/7           19           228        1013
4994     4994    2017/8/7            1           316         316
4995     4995    2017/8/7           17           354         403
4996     4996    2017/8/7           23           275         264
4997     4997    2017/8/7           15           110         364
4998     4998    2017/8/7           13           817         193
4999     4999    2017/8/7           13            92         327

[5000 rows x 5 columns]

In [5]:
train_aug_demand

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [6]:
test['create_hour'].value_counts()

22    443
20    411
21    383
17    346
13    334
9     313
18    261
15    254
8     246
16    242
11    240
7     234
19    225
10    211
14    201
12    180
23    147
6      76
0      70
1      61
5      47
3      30
2      25
4      20
Name: create_hour, dtype: int64

### Valid set split

In [7]:
# train_aug_exc = train_aug[train_aug['driver_id'] != 2].copy()
train_aug_exc = train_aug.copy()
coord_aug = train_aug_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
# coord_aug.to_csv('train_aug_exc.csv',index=False)
coord_aug

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [8]:
dict_list = {
'l_50' : [0,1,2,3,4,5],
'l_100' : [6],
'l_150' : [12,23],
'l_200' : [10,14,19],
'l_250' : [7,8,11,15,16,18],
'l_300' : [9,13],
'l_350' : [17],
'l_400' : [20,21]
# 'l_450' : [22]
}
l_22 = coord_aug[coord_aug['create_hour'] == 22].index
r = np.random.choice(l_22,450)
valid = coord_aug.iloc[r]
for key,l in dict_list.items():
    num =  int(key.split('_')[1])
    for hour in l:
        l_tmp = coord_aug[coord_aug['create_hour'] == hour].index
        r = np.random.choice(l_tmp,num)
        tmp_valid = coord_aug.iloc[r].copy()
        valid = pd.concat([valid,tmp_valid],axis=0)
valid.sort_values(['create_date','create_hour'],inplace=True)
valid

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
168    2017-08-01            0            39          17             3
5      2017-08-01            0             1         191             1
218    2017-08-01            0            63          18             1
42     2017-08-01            0            13           9             1
195    2017-08-01            0            49          45             1
44     2017-08-01            0            13          27             2
38     2017-08-01            0             9         194             1
202    2017-08-01            0            55          14             1
91     2017-08-01            0            22           8             2
80     2017-08-01            0            20         189             1
191    2017-08-01            0            47         248             1
354    2017-08-01            2            39           9             1
323    2017-08-01            2            22          18             1
309    2017-08-01            2             6          41             1
362    2017-08-01            2            48         198             1
325    2017-08-01            2            22          40             1
326    2017-08-01            2            23          47             1
351    2017-08-01            2            34          19             1
362    2017-08-01            2            48         198             1
377    2017-08-01            2           114          18             1
436    2017-08-01            4            80          47             1
408    2017-08-01            4            31          15             1
394    2017-08-01            4            16          19             1
434    2017-08-01            4            76          19             1
420    2017-08-01            4            55           5             1
391    2017-08-01            4            15          19             1
421    2017-08-01            4            55          19             1
407    2017-08-01            4            27          19             1
446    2017-08-01            4           273          39             1
443    2017-08-01            4           140          47             1
...           ...          ...           ...         ...           ...
54475  2017-08-07           22            38          94             1
54608  2017-08-07           22            61          18             6
54073  2017-08-07           22             5           0             1
54190  2017-08-07           22            14          86             1
54421  2017-08-07           22            26         117             2
54555  2017-08-07           22            48          32             1
54657  2017-08-07           22            67          74             1
54321  2017-08-07           22            22           7             1
54672  2017-08-07           22            71          63             1
54468  2017-08-07           22            36          50             1
54734  2017-08-07           22            80         149             1
54623  2017-08-07           22            61          88             1
54117  2017-08-07           22             9           1             1
54734  2017-08-07           22            80         149             1
54311  2017-08-07           22            21          58             1
54594  2017-08-07           22            56          27             1
54262  2017-08-07           22            18          71             3
54678  2017-08-07           22            71         273             1
54593  2017-08-07           22            56          20             1
54184  2017-08-07           22            14          14             1
54247  2017-08-07           22            18          16             1
54452  2017-08-07           22            31          61             1
54482  2017-08-07           22            39          21             1
54800  2017-08-07           22           163         110             4
54304  2017-08-07           22            21           9             8
54719  2017-08-07           22            76          83             1
54567  2017-08-07           22            51         107             1
54489  2017-08-07           22            39          39             2
54424  2017-08-07           22            27           3             2
54570  2017-08-07           22            51         191             1

[5000 rows x 5 columns]

In [9]:
valid['create_hour'].unique()

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22,  1,  3,  5,  7,  9,
       11, 13, 15, 17, 19, 21, 23], dtype=int64)

## Feature Extracting
### 1. order list attribution

In [10]:
train_tr = coord_jul.copy()
valid_tr = valid.copy()
train_tr
# valid_tr
# valid_tr['demand_count']

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [11]:
# time attribution
holiday['create_date'] = pd.to_datetime(holiday['create_date'])
train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
valid_tr['create_date'] = pd.to_datetime(valid_tr['create_date'])
train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
valid_tr = pd.merge(valid_tr,holiday,on='create_date',how='left')
train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
valid_tr['dayOfWeek'] = valid_tr['create_date'].dt.dayofweek
train_tr

# # time attribution
# holiday['create_date'] = pd.to_datetime(holiday['create_date'])
# train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
# test['create_date'] = pd.to_datetime(test['create_date'])
# train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
# test = pd.merge(test,holiday,on='create_date',how='left')
# train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
# test['dayOfWeek'] = test['create_date'].dt.dayofweek
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean,holiday,dayOfWeek
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000,1,5
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000,1,5
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000,1,5
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000,1,5
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000,1,5
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000,1,5
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000,1,5
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000,1,5
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000,1,5
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000,1,5
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000,1,5
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000,1,5
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000,1,5
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000,1,5
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000,1,5
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000,1,5
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000,1,5
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000,1,5
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333,1,5
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000,1,5
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333,1,5
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000,1,5
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667,1,5
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000,1,5
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000,1,5
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000,1,5
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000,1,5
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000,1,5
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000,1,5
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667,1,5
...,...,...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000,0,0
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000,0,0
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000,0,0
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000,0,0
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000,0,0
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000,0,0
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000,0,0
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000,0,0
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000,0,0
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000,0,0
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000,0,0
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000,0,0
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000,0,0
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000,0,0
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000,0,0
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000,0,0
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000,0,0
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000,0,0
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000,0,0
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000,0,0
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000,0,0
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000,0,0
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000,0,0
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000,0,0
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000,0,0
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000,0,0
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000,0,0
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000,0,0
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000,0,0
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000,0,0

In [12]:
coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
# coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
# coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
# coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
# train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# # train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,13.738677
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,30.390805
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,12.912578
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,7.553744
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,9.079545
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,11.571689
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,27.696970
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,11.919451
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,7.962721
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,52.000000
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,43.750000
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,14.043162
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,12.791424
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,22.566128
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,33.314815
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,39.712719
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,22.676661
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,29.571429
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,59.483333
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,20.916722
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,8.212042
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,13.580025
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,7.655760
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,NaN
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,NaN
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,27.056604
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,31.638542
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,14.307596
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,37.500000
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,15.062500
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,11.444293
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,46.200000
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,10.524762
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,43.000000
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,7.544835
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,8.674228
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,59.058824
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,21.839041
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,21.120536
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,35.769231
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,18.354354
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,4.356112
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,35.619792
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,25.074123
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,19.645570
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,NaN
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,29.564112
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,44.333333
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,31.000000
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,4.566744
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,7.808459
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,42.000000

### 2.Location
#### 2.1 Pure location

In [13]:
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_end,on='end_geo_id',how='left')
# valid_tr['end_cluster'].astype('int',inplace=True)
valid_tr

# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# test = pd.merge(test,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# test = pd.merge(test,loc_end,on='end_geo_id',how='left')
# # test['end_cluster'].astype('int',inplace=True)
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,13.738677,1,5.0
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,30.390805,1,5.0
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,12.912578,5,5.0
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,7.553744,1,5.0
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,9.079545,5,5.0
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,11.571689,1,5.0
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,27.696970,5,2.0
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,11.919451,1,5.0
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,7.962721,5,0.0
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,52.000000,5,3.0
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,43.750000,2,0.0
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,14.043162,1,5.0
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,12.791424,5,5.0
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,22.566128,5,5.0
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN,5,3.0
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,33.314815,5,3.0
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,39.712719,5,2.0
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,22.676661,1,5.0
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN,5,3.0
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,29.571429,1,5.0
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,59.483333,5,2.0
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,20.916722,5,1.0
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,8.212042,5,5.0
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,13.580025,5,5.0
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699,1,4.0
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,7.655760,1,5.0
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963,1,5.0
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679,5,5.0
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,NaN,2,1.0
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,66.000000,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,NaN,1,1.0
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,27.056604,5,5.0
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,31.638542,4,2.0
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,14.307596,5,1.0
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,37.500000,5,0.0
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,15.062500,5,3.0
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,11.444293,5,1.0
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,46.200000,5,4.0
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,10.524762,5,5.0
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,43.000000,2,1.0
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105,5,3.0
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,7.544835,5,5.0
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,8.674228,5,1.0
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105,5,3.0
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,59.058824,1,2.0
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,21.839041,5,5.0
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,21.120536,5,5.0
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,35.769231,5,2.0
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,18.354354,5,5.0
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,4.356112,5,5.0
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,35.619792,5,5.0
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,25.074123,5,5.0
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,19.645570,1,1.0
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,NaN,0,0.0
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,29.564112,1,5.0
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,44.333333,5,1.0
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,31.000000,1,5.0
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,4.566744,1,1.0
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,7.808459,5,5.0
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,42.000000,1,5.0

In [14]:
coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
# coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
# coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,13.738677,1,5.0,1.547511,1.0,7.0,1.0
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,30.390805,1,5.0,1.344828,1.0,3.0,1.0
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,12.912578,5,5.0,1.985577,1.0,10.0,1.0
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,7.553744,1,5.0,2.924370,2.0,41.0,1.0
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,9.079545,5,5.0,1.181818,1.0,4.0,1.0
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,11.571689,1,5.0,2.425455,1.0,36.0,1.0
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,27.696970,5,2.0,1.242424,1.0,3.0,1.0
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,11.919451,1,5.0,2.718519,1.0,24.0,1.0
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,7.962721,5,0.0,2.445483,2.0,27.0,1.0
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,52.000000,5,3.0,1.000000,1.0,1.0,1.0
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,43.750000,2,0.0,1.000000,1.0,1.0,1.0
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,14.043162,1,5.0,2.259475,1.0,20.0,1.0
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,12.791424,5,5.0,2.335106,1.0,28.0,1.0
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,22.566128,5,5.0,2.165714,2.0,19.0,1.0
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN,5,3.0,NaN,NaN,NaN,NaN
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,33.314815,5,3.0,1.037037,1.0,2.0,1.0
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,39.712719,5,2.0,1.421053,1.0,4.0,1.0
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,22.676661,1,5.0,1.493827,1.0,14.0,1.0
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,NaN,5,3.0,NaN,NaN,NaN,NaN
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,29.571429,1,5.0,1.000000,1.0,1.0,1.0
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,59.483333,5,2.0,1.200000,1.0,3.0,1.0
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,20.916722,5,1.0,1.627737,1.0,11.0,1.0
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,8.212042,5,5.0,2.330189,1.0,20.0,1.0
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,13.580025,5,5.0,1.816176,1.0,10.0,1.0
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699,1,4.0,1.370968,1.0,5.0,1.0
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,7.655760,1,5.0,3.103194,2.0,26.0,1.0
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963,1,5.0,1.851675,1.0,14.0,1.0
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679,5,5.0,1.618519,1.0,10.0,1.0
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,NaN,2,1.0,NaN,NaN,NaN,NaN
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,66.000000,1,2.0,1.000000,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,27.056604,5,5.0,1.729412,1.0,10.0,1.0
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,31.638542,4,2.0,1.406250,1.0,5.0,1.0
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,14.307596,5,1.0,1.428571,1.0,7.0,1.0
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,37.500000,5,0.0,1.714286,1.0,4.0,1.0
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,15.062500,5,3.0,1.300000,1.0,4.0,1.0
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,11.444293,5,1.0,2.000000,1.0,16.0,1.0
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,46.200000,5,4.0,1.000000,1.0,1.0,1.0
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,10.524762,5,5.0,1.645714,1.0,6.0,1.0
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,43.000000,2,1.0,1.000000,1.0,1.0,1.0
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105,5,3.0,1.289474,1.0,4.0,1.0
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,7.544835,5,5.0,2.093385,1.0,19.0,1.0
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,8.674228,5,1.0,2.988764,2.0,56.0,1.0
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,12.342105,5,3.0,1.289474,1.0,4.0,1.0
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,59.058824,1,2.0,1.235294,1.0,2.0,1.0
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,21.839041,5,5.0,1.383562,1.0,6.0,1.0
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,21.120536,5,5.0,1.458333,1.0,7.0,1.0
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,35.769231,5,2.0,1.000000,1.0,1.0,1.0
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,18.354354,5,5.0,1.441441,1.0,8.0,1.0
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,4.356112,5,5.0,1.735632,1.0,8.0,1.0
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,35.619792,5,5.0,1.304688,1.0,4.0,1.0
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,25.074123,5,5.0,1.552632,1.0,10.0,1.0
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,19.645570,1,1.0,1.913706,1.0,16.0,1.0
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,29.564112,1,5.0,1.401460,1.0,4.0,1.0
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,44.333333,5,1.0,1.333333,1.0,3.0,1.0
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,31.000000,1,5.0,1.142857,1.0,2.0,1.0
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,4.566744,1,1.0,3.387025,2.0,33.0,1.0
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,7.808459,5,5.0,1.921875,1.0,26.0,1.0
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,42.000000,1,5.0,5.000000,5.0,7.0,3.0

In [15]:
coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr

# coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
# coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
# coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,...,1,5.0,1.547511,1.0,7.0,1.0,2.068860,1.0,198.0,1.0
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,...,1,5.0,1.344828,1.0,3.0,1.0,2.068860,1.0,198.0,1.0
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,...,5,5.0,1.985577,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,...,1,5.0,2.924370,2.0,41.0,1.0,2.068860,1.0,198.0,1.0
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,...,5,5.0,1.181818,1.0,4.0,1.0,1.854976,1.0,73.0,1.0
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,...,1,5.0,2.425455,1.0,36.0,1.0,2.068860,1.0,198.0,1.0
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,...,5,2.0,1.242424,1.0,3.0,1.0,1.404628,1.0,34.0,1.0
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,...,1,5.0,2.718519,1.0,24.0,1.0,2.068860,1.0,198.0,1.0
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,...,5,0.0,2.445483,2.0,27.0,1.0,1.501330,1.0,38.0,1.0
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,...,5,3.0,1.000000,1.0,1.0,1.0,1.414443,1.0,20.0,1.0
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,...,2,0.0,1.000000,1.0,1.0,1.0,1.412975,1.0,14.0,1.0
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,...,1,5.0,2.259475,1.0,20.0,1.0,2.068860,1.0,198.0,1.0
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,...,5,5.0,2.335106,1.0,28.0,1.0,1.854976,1.0,73.0,1.0
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,...,5,5.0,2.165714,2.0,19.0,1.0,1.854976,1.0,73.0,1.0
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,5,3.0,NaN,NaN,NaN,NaN,1.414443,1.0,20.0,1.0
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,...,5,3.0,1.037037,1.0,2.0,1.0,1.414443,1.0,20.0,1.0
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,...,5,2.0,1.421053,1.0,4.0,1.0,1.404628,1.0,34.0,1.0
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,...,1,5.0,1.493827,1.0,14.0,1.0,2.068860,1.0,198.0,1.0
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,5,3.0,NaN,NaN,NaN,NaN,1.414443,1.0,20.0,1.0
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,...,1,5.0,1.000000,1.0,1.0,1.0,2.068860,1.0,198.0,1.0
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,...,5,2.0,1.200000,1.0,3.0,1.0,1.404628,1.0,34.0,1.0
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,...,5,1.0,1.627737,1.0,11.0,1.0,1.928592,1.0,144.0,1.0
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,...,5,5.0,2.330189,1.0,20.0,1.0,1.854976,1.0,73.0,1.0
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,...,5,5.0,1.816176,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1,4.0,1.370968,1.0,5.0,1.0,1.396352,1.0,14.0,1.0
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,...,1,5.0,3.103194,2.0,26.0,1.0,2.068860,1.0,198.0,1.0
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1,5.0,1.851675,1.0,14.0,1.0,2.068860,1.0,198.0,1.0
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,5,5.0,1.618519,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,...,2,1.0,NaN,NaN,NaN,NaN,1.503732,1.0,37.0,1.0
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,...,1,2.0,1.000000,1.0,1.0,1.0,1.406877,1.0,23.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,...,1,1.0,NaN,NaN,NaN,NaN,2.311007,1.0,178.0,1.0
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,...,5,5.0,1.729412,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,...,4,2.0,1.406250,1.0,5.0,1.0,1.326039,1.0,12.0,1.0
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,...,5,1.0,1.428571,1.0,7.0,1.0,1.928592,1.0,144.0,1.0
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,...,5,0.0,1.714286,1.0,4.0,1.0,1.501330,1.0,38.0,1.0
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,...,5,3.0,1.300000,1.0,4.0,1.0,1.414443,1.0,20.0,1.0
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,...,5,1.0,2.000000,1.0,16.0,1.0,1.928592,1.0,144.0,1.0
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,...,5,4.0,1.000000,1.0,1.0,1.0,1.371720,1.0,37.0,1.0
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,...,5,5.0,1.645714,1.0,6.0,1.0,1.854976,1.0,73.0,1.0
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,...,2,1.0,1.000000,1.0,1.0,1.0,1.503732,1.0,37.0,1.0
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,5,3.0,1.289474,1.0,4.0,1.0,1.414443,1.0,20.0,1.0
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,...,5,5.0,2.093385,1.0,19.0,1.0,1.854976,1.0,73.0,1.0
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,...,5,1.0,2.988764,2.0,56.0,1.0,1.928592,1.0,144.0,1.0
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,5,3.0,1.289474,1.0,4.0,1.0,1.414443,1.0,20.0,1.0
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,...,1,2.0,1.235294,1.0,2.0,1.0,1.406877,1.0,23.0,1.0
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,...,5,5.0,1.383562,1.0,6.0,1.0,1.854976,1.0,73.0,1.0
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,...,5,5.0,1.458333,1.0,7.0,1.0,1.854976,1.0,73.0,1.0
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,...,5,2.0,1.000000,1.0,1.0,1.0,1.404628,1.0,34.0,1.0
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,...,5,5.0,1.441441,1.0,8.0,1.0,1.854976,1.0,73.0,1.0
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,...,5,5.0,1.735632,1.0,8.0,1.0,1.854976,1.0,73.0,1.0
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,...,5,5.0,1.304688,1.0,4.0,1.0,1.854976,1.0,73.0,1.0
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,...,5,5.0,1.552632,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,...,1,1.0,1.913706,1.0,16.0,1.0,2.311007,1.0,178.0,1.0
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,1.487186,1.0,20.0,1.0
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,...,1,5.0,1.401460,1.0,4.0,1.0,2.068860,1.0,198.0,1.0
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,...,5,1.0,1.333333,1.0,3.0,1.0,1.928592,1.0,144.0,1.0
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,...,1,5.0,1.142857,1.0,2.0,1.0,2.068860,1.0,198.0,1.0
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,...,1,1.0,3.387025,2.0,33.0,1.0,2.311007,1.0,178.0,1.0
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,...,5,5.0,1.921875,1.0,26.0,1.0,1.854976,1.0,73.0,1.0
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,...,1,5.0,5.000000,5.0,7.0,3.0,2.068860,1.0,198.0,1.0

In [16]:
coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
# coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,...,1.547511,1.0,7.0,1.0,2.068860,1.0,198.0,1.0,0.013109,0.028063
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,...,1.344828,1.0,3.0,1.0,2.068860,1.0,198.0,1.0,0.001945,0.031100
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,...,1.985577,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.032656,0.022887
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,...,2.924370,2.0,41.0,1.0,2.068860,1.0,198.0,1.0,0.080987,0.042692
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,...,1.181818,1.0,4.0,1.0,1.854976,1.0,73.0,1.0,0.020464,0.017894
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,...,2.425455,1.0,36.0,1.0,2.068860,1.0,198.0,1.0,0.051742,0.024620
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,...,1.242424,1.0,3.0,1.0,1.404628,1.0,34.0,1.0,0.001707,0.025000
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,...,2.718519,1.0,24.0,1.0,2.068860,1.0,198.0,1.0,0.026761,0.077052
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,...,2.445483,2.0,27.0,1.0,1.501330,1.0,38.0,1.0,0.027507,0.081171
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,...,1.000000,1.0,1.0,1.0,1.414443,1.0,20.0,1.0,0.000092,0.001414
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,...,1.000000,1.0,1.0,1.0,1.412975,1.0,14.0,1.0,0.000363,0.037037
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,...,2.259475,1.0,20.0,1.0,2.068860,1.0,198.0,1.0,0.029707,0.031692
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,...,2.335106,1.0,28.0,1.0,1.854976,1.0,73.0,1.0,0.030766,0.048656
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,...,2.165714,2.0,19.0,1.0,1.854976,1.0,73.0,1.0,0.019688,0.039560
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.414443,1.0,20.0,1.0,NaN,NaN
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,...,1.037037,1.0,2.0,1.0,1.414443,1.0,20.0,1.0,0.000981,0.007636
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,...,1.421053,1.0,4.0,1.0,1.404628,1.0,34.0,1.0,0.010578,0.006916
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,...,1.493827,1.0,14.0,1.0,2.068860,1.0,198.0,1.0,0.010082,0.009409
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.414443,1.0,20.0,1.0,NaN,NaN
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,...,1.000000,1.0,1.0,1.0,2.068860,1.0,198.0,1.0,0.005040,0.000388
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,...,1.200000,1.0,3.0,1.0,1.404628,1.0,34.0,1.0,0.007265,0.004611
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,...,1.627737,1.0,11.0,1.0,1.928592,1.0,144.0,1.0,0.019604,0.013181
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,...,2.330189,1.0,20.0,1.0,1.854976,1.0,73.0,1.0,0.023924,0.057621
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,...,1.816176,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.019127,0.019207
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.370968,1.0,5.0,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,...,3.103194,2.0,26.0,1.0,2.068860,1.0,198.0,1.0,0.055895,0.098212
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.851675,1.0,14.0,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.618519,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.503732,1.0,37.0,1.0,NaN,NaN
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,...,1.000000,1.0,1.0,1.0,1.406877,1.0,23.0,1.0,0.002402,0.000384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.311007,1.0,178.0,1.0,NaN,NaN
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,...,1.729412,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.020813,0.016293
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,...,1.406250,1.0,5.0,1.0,1.326039,1.0,12.0,1.0,0.004853,0.016328
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,...,1.428571,1.0,7.0,1.0,1.928592,1.0,144.0,1.0,0.017059,0.012110
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,...,1.714286,1.0,4.0,1.0,1.501330,1.0,38.0,1.0,0.000893,0.009615
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,...,1.300000,1.0,4.0,1.0,1.414443,1.0,20.0,1.0,0.006373,0.008082
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,...,2.000000,1.0,16.0,1.0,1.928592,1.0,144.0,1.0,0.040595,0.058331
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,...,1.000000,1.0,1.0,1.0,1.371720,1.0,37.0,1.0,0.000175,0.023364
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,...,1.645714,1.0,6.0,1.0,1.854976,1.0,73.0,1.0,0.031510,0.023655
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,...,1.000000,1.0,1.0,1.0,1.503732,1.0,37.0,1.0,0.001899,0.000761
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.289474,1.0,4.0,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,...,2.093385,1.0,19.0,1.0,1.854976,1.0,73.0,1.0,0.038086,0.050659
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,...,2.988764,2.0,56.0,1.0,1.928592,1.0,144.0,1.0,0.055382,0.074531
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.289474,1.0,4.0,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,...,1.235294,1.0,2.0,1.0,1.406877,1.0,23.0,1.0,0.001384,0.011064
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,...,1.383562,1.0,6.0,1.0,1.854976,1.0,73.0,1.0,0.014284,0.007456
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,...,1.458333,1.0,7.0,1.0,1.854976,1.0,73.0,1.0,0.007905,0.014854
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,...,1.000000,1.0,1.0,1.0,1.404628,1.0,34.0,1.0,0.001422,0.045775
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,...,1.441441,1.0,8.0,1.0,1.854976,1.0,73.0,1.0,0.011314,0.013650
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,...,1.735632,1.0,8.0,1.0,1.854976,1.0,73.0,1.0,0.051518,0.047554
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,...,1.304688,1.0,4.0,1.0,1.854976,1.0,73.0,1.0,0.009430,0.007002
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,...,1.552632,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.010374,0.009030
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,...,1.913706,1.0,16.0,1.0,2.311007,1.0,178.0,1.0,0.014451,0.022939
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.487186,1.0,20.0,1.0,NaN,NaN
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,...,1.401460,1.0,4.0,1.0,2.068860,1.0,198.0,1.0,0.012651,0.007851
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,...,1.333333,1.0,3.0,1.0,1.928592,1.0,144.0,1.0,0.000619,0.015842
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,...,1.142857,1.0,2.0,1.0,2.068860,1.0,198.0,1.0,0.001110,0.003788
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,...,3.387025,2.0,33.0,1.0,2.311007,1.0,178.0,1.0,0.058034,0.066047
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,...,1.921875,1.0,26.0,1.0,1.854976,1.0,73.0,1.0,0.024292,0.069570
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,...,5.000000,5.0,7.0,3.0,2.068860,1.0,198.0,1.0,0.001387,0.007974

In [17]:
coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr

# coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
# coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,...,7.0,1.0,2.068860,1.0,198.0,1.0,0.013109,0.028063,0.539159,0.289222
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,...,3.0,1.0,2.068860,1.0,198.0,1.0,0.001945,0.031100,0.539159,0.289222
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.032656,0.022887,0.579441,0.566873
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,...,41.0,1.0,2.068860,1.0,198.0,1.0,0.080987,0.042692,0.539159,0.289222
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,...,4.0,1.0,1.854976,1.0,73.0,1.0,0.020464,0.017894,0.579441,0.566873
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,...,36.0,1.0,2.068860,1.0,198.0,1.0,0.051742,0.024620,0.539159,0.289222
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,...,3.0,1.0,1.404628,1.0,34.0,1.0,0.001707,0.025000,0.040195,0.466298
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,...,24.0,1.0,2.068860,1.0,198.0,1.0,0.026761,0.077052,0.539159,0.289222
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,...,27.0,1.0,1.501330,1.0,38.0,1.0,0.027507,0.081171,0.054058,0.505128
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,...,1.0,1.0,1.414443,1.0,20.0,1.0,0.000092,0.001414,0.029368,0.504273
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,...,1.0,1.0,1.412975,1.0,14.0,1.0,0.000363,0.037037,0.082221,0.069509
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,...,20.0,1.0,2.068860,1.0,198.0,1.0,0.029707,0.031692,0.539159,0.289222
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,...,28.0,1.0,1.854976,1.0,73.0,1.0,0.030766,0.048656,0.579441,0.566873
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,...,19.0,1.0,1.854976,1.0,73.0,1.0,0.019688,0.039560,0.579441,0.566873
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,NaN,1.414443,1.0,20.0,1.0,NaN,NaN,0.029368,0.504273
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,...,2.0,1.0,1.414443,1.0,20.0,1.0,0.000981,0.007636,0.029368,0.504273
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,...,4.0,1.0,1.404628,1.0,34.0,1.0,0.010578,0.006916,0.040195,0.466298
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,...,14.0,1.0,2.068860,1.0,198.0,1.0,0.010082,0.009409,0.539159,0.289222
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,NaN,1.414443,1.0,20.0,1.0,NaN,NaN,0.029368,0.504273
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,...,1.0,1.0,2.068860,1.0,198.0,1.0,0.005040,0.000388,0.539159,0.289222
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,...,3.0,1.0,1.404628,1.0,34.0,1.0,0.007265,0.004611,0.040195,0.466298
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,...,11.0,1.0,1.928592,1.0,144.0,1.0,0.019604,0.013181,0.263846,0.518449
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,...,20.0,1.0,1.854976,1.0,73.0,1.0,0.023924,0.057621,0.579441,0.566873
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.019127,0.019207,0.579441,0.566873
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,5.0,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921,0.033438,0.240757
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,...,26.0,1.0,2.068860,1.0,198.0,1.0,0.055895,0.098212,0.539159,0.289222
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,14.0,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093,0.539159,0.289222
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981,0.579441,0.566873
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,...,NaN,NaN,1.503732,1.0,37.0,1.0,NaN,NaN,0.236511,0.042046
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,...,1.0,1.0,1.406877,1.0,23.0,1.0,0.002402,0.000384,0.037296,0.237244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,...,NaN,NaN,2.311007,1.0,178.0,1.0,NaN,NaN,0.317524,0.342112
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.020813,0.016293,0.579441,0.566873
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,...,5.0,1.0,1.326039,1.0,12.0,1.0,0.004853,0.016328,0.082371,0.058562
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,...,7.0,1.0,1.928592,1.0,144.0,1.0,0.017059,0.012110,0.263846,0.518449
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,...,4.0,1.0,1.501330,1.0,38.0,1.0,0.000893,0.009615,0.054058,0.505128
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,...,4.0,1.0,1.414443,1.0,20.0,1.0,0.006373,0.008082,0.029368,0.504273
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,...,16.0,1.0,1.928592,1.0,144.0,1.0,0.040595,0.058331,0.263846,0.518449
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,...,1.0,1.0,1.371720,1.0,37.0,1.0,0.000175,0.023364,0.033091,0.434533
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,...,6.0,1.0,1.854976,1.0,73.0,1.0,0.031510,0.023655,0.579441,0.566873
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,...,1.0,1.0,1.503732,1.0,37.0,1.0,0.001899,0.000761,0.236511,0.042046
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,4.0,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961,0.029368,0.504273
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,...,19.0,1.0,1.854976,1.0,73.0,1.0,0.038086,0.050659,0.579441,0.566873
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,...,56.0,1.0,1.928592,1.0,144.0,1.0,0.055382,0.074531,0.263846,0.518449
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,4.0,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961,0.029368,0.504273
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,...,2.0,1.0,1.406877,1.0,23.0,1.0,0.001384,0.011064,0.037296,0.237244
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,...,6.0,1.0,1.854976,1.0,73.0,1.0,0.014284,0.007456,0.579441,0.566873
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,...,7.0,1.0,1.854976,1.0,73.0,1.0,0.007905,0.014854,0.579441,0.566873
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,...,1.0,1.0,1.404628,1.0,34.0,1.0,0.001422,0.045775,0.040195,0.466298
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,...,8.0,1.0,1.854976,1.0,73.0,1.0,0.011314,0.013650,0.579441,0.566873
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,...,8.0,1.0,1.854976,1.0,73.0,1.0,0.051518,0.047554,0.579441,0.566873
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,...,4.0,1.0,1.854976,1.0,73.0,1.0,0.009430,0.007002,0.579441,0.566873
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.010374,0.009030,0.579441,0.566873
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,...,16.0,1.0,2.311007,1.0,178.0,1.0,0.014451,0.022939,0.317524,0.342112
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,...,NaN,NaN,1.487186,1.0,20.0,1.0,NaN,NaN,0.110960,0.109537
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,...,4.0,1.0,2.068860,1.0,198.0,1.0,0.012651,0.007851,0.539159,0.289222
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,...,3.0,1.0,1.928592,1.0,144.0,1.0,0.000619,0.015842,0.263846,0.518449
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,...,2.0,1.0,2.068860,1.0,198.0,1.0,0.001110,0.003788,0.539159,0.289222
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,...,33.0,1.0,2.311007,1.0,178.0,1.0,0.058034,0.066047,0.317524,0.342112
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,...,26.0,1.0,1.854976,1.0,73.0,1.0,0.024292,0.069570,0.579441,0.566873
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,...,7.0,3.0,2.068860,1.0,198.0,1.0,0.001387,0.007974,0.539159,0.289222

### Time

In [18]:
map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr.loc[:,'hour_cls'] = valid_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr

# map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
# train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
# test.loc[:,'hour_cls'] = test['create_hour'].map(lambda x: map_hour[x])
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,...,1.0,2.068860,1.0,198.0,1.0,0.013109,0.028063,0.539159,0.289222,0
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,...,1.0,2.068860,1.0,198.0,1.0,0.001945,0.031100,0.539159,0.289222,0
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,...,1.0,1.854976,1.0,73.0,1.0,0.032656,0.022887,0.579441,0.566873,0
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,...,1.0,2.068860,1.0,198.0,1.0,0.080987,0.042692,0.539159,0.289222,0
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,...,1.0,1.854976,1.0,73.0,1.0,0.020464,0.017894,0.579441,0.566873,0
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,...,1.0,2.068860,1.0,198.0,1.0,0.051742,0.024620,0.539159,0.289222,0
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,...,1.0,1.404628,1.0,34.0,1.0,0.001707,0.025000,0.040195,0.466298,0
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,...,1.0,2.068860,1.0,198.0,1.0,0.026761,0.077052,0.539159,0.289222,0
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,...,1.0,1.501330,1.0,38.0,1.0,0.027507,0.081171,0.054058,0.505128,0
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,...,1.0,1.414443,1.0,20.0,1.0,0.000092,0.001414,0.029368,0.504273,0
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,...,1.0,1.412975,1.0,14.0,1.0,0.000363,0.037037,0.082221,0.069509,0
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,...,1.0,2.068860,1.0,198.0,1.0,0.029707,0.031692,0.539159,0.289222,1
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,...,1.0,1.854976,1.0,73.0,1.0,0.030766,0.048656,0.579441,0.566873,1
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,...,1.0,1.854976,1.0,73.0,1.0,0.019688,0.039560,0.579441,0.566873,1
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,1.414443,1.0,20.0,1.0,NaN,NaN,0.029368,0.504273,1
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,...,1.0,1.414443,1.0,20.0,1.0,0.000981,0.007636,0.029368,0.504273,1
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,...,1.0,1.404628,1.0,34.0,1.0,0.010578,0.006916,0.040195,0.466298,1
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,...,1.0,2.068860,1.0,198.0,1.0,0.010082,0.009409,0.539159,0.289222,1
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,NaN,1.414443,1.0,20.0,1.0,NaN,NaN,0.029368,0.504273,1
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,...,1.0,2.068860,1.0,198.0,1.0,0.005040,0.000388,0.539159,0.289222,1
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,...,1.0,1.404628,1.0,34.0,1.0,0.007265,0.004611,0.040195,0.466298,1
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,...,1.0,1.928592,1.0,144.0,1.0,0.019604,0.013181,0.263846,0.518449,1
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,...,1.0,1.854976,1.0,73.0,1.0,0.023924,0.057621,0.579441,0.566873,1
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,...,1.0,1.854976,1.0,73.0,1.0,0.019127,0.019207,0.579441,0.566873,1
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921,0.033438,0.240757,1
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,...,1.0,2.068860,1.0,198.0,1.0,0.055895,0.098212,0.539159,0.289222,1
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093,0.539159,0.289222,1
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981,0.579441,0.566873,1
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,...,NaN,1.503732,1.0,37.0,1.0,NaN,NaN,0.236511,0.042046,1
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,...,1.0,1.406877,1.0,23.0,1.0,0.002402,0.000384,0.037296,0.237244,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,...,NaN,2.311007,1.0,178.0,1.0,NaN,NaN,0.317524,0.342112,0
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,...,1.0,1.854976,1.0,73.0,1.0,0.020813,0.016293,0.579441,0.566873,0
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,...,1.0,1.326039,1.0,12.0,1.0,0.004853,0.016328,0.082371,0.058562,0
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,...,1.0,1.928592,1.0,144.0,1.0,0.017059,0.012110,0.263846,0.518449,0
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,...,1.0,1.501330,1.0,38.0,1.0,0.000893,0.009615,0.054058,0.505128,0
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,...,1.0,1.414443,1.0,20.0,1.0,0.006373,0.008082,0.029368,0.504273,0
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,...,1.0,1.928592,1.0,144.0,1.0,0.040595,0.058331,0.263846,0.518449,0
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,...,1.0,1.371720,1.0,37.0,1.0,0.000175,0.023364,0.033091,0.434533,0
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,...,1.0,1.854976,1.0,73.0,1.0,0.031510,0.023655,0.579441,0.566873,0
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,...,1.0,1.503732,1.0,37.0,1.0,0.001899,0.000761,0.236511,0.042046,0
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961,0.029368,0.504273,0
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,...,1.0,1.854976,1.0,73.0,1.0,0.038086,0.050659,0.579441,0.566873,0
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,...,1.0,1.928592,1.0,144.0,1.0,0.055382,0.074531,0.263846,0.518449,0
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.0,1.414443,1.0,20.0,1.0,0.009889,0.023961,0.029368,0.504273,0
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,...,1.0,1.406877,1.0,23.0,1.0,0.001384,0.011064,0.037296,0.237244,0
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,...,1.0,1.854976,1.0,73.0,1.0,0.014284,0.007456,0.579441,0.566873,0
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,...,1.0,1.854976,1.0,73.0,1.0,0.007905,0.014854,0.579441,0.566873,0
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,...,1.0,1.404628,1.0,34.0,1.0,0.001422,0.045775,0.040195,0.466298,0
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,...,1.0,1.854976,1.0,73.0,1.0,0.011314,0.013650,0.579441,0.566873,0
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,...,1.0,1.854976,1.0,73.0,1.0,0.051518,0.047554,0.579441,0.566873,0
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,...,1.0,1.854976,1.0,73.0,1.0,0.009430,0.007002,0.579441,0.566873,0
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,...,1.0,1.854976,1.0,73.0,1.0,0.010374,0.009030,0.579441,0.566873,0
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,...,1.0,2.311007,1.0,178.0,1.0,0.014451,0.022939,0.317524,0.342112,0
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,...,NaN,1.487186,1.0,20.0,1.0,NaN,NaN,0.110960,0.109537,0
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,...,1.0,2.068860,1.0,198.0,1.0,0.012651,0.007851,0.539159,0.289222,0
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,...,1.0,1.928592,1.0,144.0,1.0,0.000619,0.015842,0.263846,0.518449,0
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,...,1.0,2.068860,1.0,198.0,1.0,0.001110,0.003788,0.539159,0.289222,0
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,...,1.0,2.311007,1.0,178.0,1.0,0.058034,0.066047,0.317524,0.342112,0
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,...,1.0,1.854976,1.0,73.0,1.0,0.024292,0.069570,0.579441,0.566873,0
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,...,3.0,2.068860,1.0,198.0,1.0,0.001387,0.007974,0.539159,0.289222,0

In [19]:
coord_hour = train_tr.groupby('create_hour', as_index=False)['demand_count'].agg({'demand_count_h_avg':'std'})
coord_hour

    create_hour  demand_count_h_avg
0             0            1.935778
1             1            1.572084
2             2            0.739049
3             3            0.925068
4             4            0.971026
5             5            1.045984
6             6            1.257506
7             7            2.156388
8             8            3.425920
9             9            2.654506
10           10            1.125090
11           11            1.288213
12           12            1.252845
13           13            2.019655
14           14            1.448851
15           15            1.147384
16           16            1.435745
17           17            2.296841
18           18            2.081181
19           19            1.176402
20           20            1.533215
21           21            3.427579
22           22            3.145708
23           23            2.722501

### 3. Location + Time

In [20]:
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls,demand_count_h_avg,demand_count_h_median,demand_count_h_max,demand_count_h_std
0,2017-08-01,0,39,17,3,0,1,62.115833,57.121433,7248.398739,...,1.0,0.013109,0.028063,0.539159,0.289222,0,1.750000,1.5,3.0,0.886405
1,2017-08-01,0,1,191,1,0,1,116.147500,110.086667,16374.994253,...,1.0,0.001945,0.031100,0.539159,0.289222,0,1.500000,1.5,2.0,0.707107
2,2017-08-01,0,63,18,1,0,1,54.200000,46.735376,6736.457696,...,1.0,0.032656,0.022887,0.579441,0.566873,0,1.000000,1.0,1.0,0.000000
3,2017-08-01,0,13,9,1,0,1,42.493333,37.322965,4087.651203,...,1.0,0.080987,0.042692,0.539159,0.289222,0,1.333333,1.0,3.0,0.707107
4,2017-08-01,0,49,45,1,0,1,54.855000,43.487222,4876.375000,...,1.0,0.020464,0.017894,0.579441,0.566873,0,1.500000,1.5,2.0,0.707107
5,2017-08-01,0,13,27,2,0,1,54.614286,47.926306,6103.603769,...,1.0,0.051742,0.024620,0.539159,0.289222,0,1.285714,1.0,2.0,0.487950
6,2017-08-01,0,9,194,1,0,1,80.500000,101.487500,15660.409091,...,1.0,0.001707,0.025000,0.040195,0.466298,0,1.000000,1.0,1.0,0.000000
7,2017-08-01,0,55,14,1,0,1,49.000000,46.612425,6248.236822,...,1.0,0.026761,0.077052,0.539159,0.289222,0,1.000000,1.0,1.0,0.000000
8,2017-08-01,0,22,8,2,0,1,39.934048,37.937128,4313.674129,...,1.0,0.027507,0.081171,0.054058,0.505128,0,2.500000,1.0,10.0,3.082207
9,2017-08-01,0,20,189,1,0,1,NaN,NaN,26748.000000,...,1.0,0.000092,0.001414,0.029368,0.504273,0,NaN,NaN,NaN,NaN
10,2017-08-01,0,47,248,1,0,1,141.000000,NaN,28149.250000,...,1.0,0.000363,0.037037,0.082221,0.069509,0,1.000000,1.0,1.0,NaN
11,2017-08-01,2,39,9,1,0,1,66.166667,54.341467,7380.569016,...,1.0,0.029707,0.031692,0.539159,0.289222,1,1.000000,1.0,1.0,0.000000
12,2017-08-01,2,22,18,1,0,1,52.882500,50.914085,6714.915506,...,1.0,0.030766,0.048656,0.579441,0.566873,1,1.166667,1.0,2.0,0.408248
13,2017-08-01,2,6,41,1,0,1,71.550000,78.201407,11539.472419,...,1.0,0.019688,0.039560,0.579441,0.566873,1,1.000000,1.0,1.0,NaN
14,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,1.0,NaN,NaN,0.029368,0.504273,1,NaN,NaN,NaN,NaN
15,2017-08-01,2,22,40,1,0,1,104.000000,106.780000,18835.574074,...,1.0,0.000981,0.007636,0.029368,0.504273,1,1.000000,1.0,1.0,NaN
16,2017-08-01,2,23,47,1,0,1,138.000000,180.412500,27334.201754,...,1.0,0.010578,0.006916,0.040195,0.466298,1,1.000000,1.0,1.0,NaN
17,2017-08-01,2,34,19,1,0,1,NaN,68.966538,11619.509994,...,1.0,0.010082,0.009409,0.539159,0.289222,1,NaN,NaN,NaN,NaN
18,2017-08-01,2,48,198,1,0,1,NaN,NaN,NaN,...,1.0,NaN,NaN,0.029368,0.504273,1,NaN,NaN,NaN,NaN
19,2017-08-01,2,114,18,1,0,1,NaN,106.470000,17222.857143,...,1.0,0.005040,0.000388,0.539159,0.289222,1,NaN,NaN,NaN,NaN
20,2017-08-01,4,80,47,1,0,1,NaN,213.500000,38645.894444,...,1.0,0.007265,0.004611,0.040195,0.466298,1,NaN,NaN,NaN,NaN
21,2017-08-01,4,31,15,1,0,1,54.000000,70.171282,10732.319343,...,1.0,0.019604,0.013181,0.263846,0.518449,1,1.000000,1.0,1.0,0.000000
22,2017-08-01,4,16,19,1,0,1,35.875000,38.002339,4366.878105,...,1.0,0.023924,0.057621,0.579441,0.566873,1,1.250000,1.0,2.0,0.500000
23,2017-08-01,4,76,19,1,0,1,50.313333,54.486866,7059.035172,...,1.0,0.019127,0.019207,0.579441,0.566873,1,1.000000,1.0,1.0,0.000000
24,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.0,0.006198,0.021921,0.033438,0.240757,1,1.500000,1.5,2.0,0.707107
25,2017-08-01,4,15,19,1,0,1,36.793125,40.624387,4083.045553,...,1.0,0.055895,0.098212,0.539159,0.289222,1,1.125000,1.0,2.0,0.353553
26,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.0,0.014110,0.030093,0.539159,0.289222,1,1.000000,1.0,1.0,0.000000
27,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.0,0.017261,0.033981,0.579441,0.566873,1,1.000000,1.0,1.0,0.000000
28,2017-08-01,4,273,39,1,0,1,NaN,NaN,NaN,...,1.0,NaN,NaN,0.236511,0.042046,1,NaN,NaN,NaN,NaN
29,2017-08-01,4,140,47,1,0,1,NaN,NaN,53841.333333,...,1.0,0.002402,0.000384,0.037296,0.237244,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,38,94,1,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.317524,0.342112,0,NaN,NaN,NaN,NaN
4971,2017-08-07,22,61,18,6,0,0,96.514162,83.336788,14659.801289,...,1.0,0.020813,0.016293,0.579441,0.566873,0,3.500000,2.0,10.0,3.031882
4972,2017-08-07,22,5,0,1,0,0,101.000000,111.543000,22653.375000,...,1.0,0.004853,0.016328,0.082371,0.058562,0,1.000000,1.0,1.0,0.000000
4973,2017-08-07,22,14,86,1,0,0,54.965000,53.665778,7451.745351,...,1.0,0.017059,0.012110,0.263846,0.518449,0,1.000000,1.0,1.0,0.000000
4974,2017-08-07,22,26,117,2,0,0,131.526667,99.000000,19491.833333,...,1.0,0.000893,0.009615,0.054058,0.505128,0,3.000000,3.0,3.0,NaN
4975,2017-08-07,22,48,32,1,0,0,55.000000,44.140000,9058.300000,...,1.0,0.006373,0.008082,0.029368,0.504273,0,1.000000,1.0,1.0,NaN
4976,2017-08-07,22,67,74,1,0,0,39.454980,41.225225,5994.700509,...,1.0,0.040595,0.058331,0.263846,0.518449,0,3.000000,2.0,10.0,2.783882
4977,2017-08-07,22,22,7,1,0,0,NaN,126.000000,25852.000000,...,1.0,0.000175,0.023364,0.033091,0.434533,0,NaN,NaN,NaN,NaN
4978,2017-08-07,22,71,63,1,0,0,51.611852,40.747014,5710.312000,...,1.0,0.031510,0.023655,0.579441,0.566873,0,1.222222,1.0,3.0,0.666667
4979,2017-08-07,22,36,50,1,0,0,NaN,113.000000,24144.428571,...,1.0,0.001899,0.000761,0.236511,0.042046,0,NaN,NaN,NaN,NaN
4980,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.0,0.009889,0.023961,0.029368,0.504273,0,1.000000,1.0,1.0,0.000000
4981,2017-08-07,22,61,88,1,0,0,47.690728,37.462463,4089.633020,...,1.0,0.038086,0.050659,0.579441,0.566873,0,2.052632,1.0,6.0,1.508262
4982,2017-08-07,22,9,1,1,0,0,44.213021,37.089040,4606.029039,...,1.0,0.055382,0.074531,0.263846,0.518449,0,3.733333,2.5,22.0,4.193043
4983,2017-08-07,22,80,149,1,0,0,45.715000,47.690000,6415.030702,...,1.0,0.009889,0.023961,0.029368,0.504273,0,1.000000,1.0,1.0,0.000000
4984,2017-08-07,22,21,58,1,0,0,216.000000,249.695000,34794.735294,...,1.0,0.001384,0.011064,0.037296,0.237244,0,1.000000,1.0,1.0,NaN
4985,2017-08-07,22,56,27,1,0,0,86.043333,62.134103,11465.857877,...,1.0,0.014284,0.007456,0.579441,0.566873,0,1.166667,1.0,2.0,0.408248
4986,2017-08-07,22,18,71,3,0,0,83.214286,62.769375,11294.038938,...,1.0,0.007905,0.014854,0.579441,0.566873,0,1.142857,1.0,2.0,0.377964
4987,2017-08-07,22,71,273,1,0,0,109.142500,NaN,18368.769231,...,1.0,0.001422,0.045775,0.040195,0.466298,0,1.000000,1.0,1.0,0.000000
4988,2017-08-07,22,56,20,1,0,0,73.312000,59.206667,10063.499850,...,1.0,0.011314,0.013650,0.579441,0.566873,0,1.400000,1.0,3.0,0.894427
4989,2017-08-07,22,14,14,1,0,0,31.860000,27.347704,2419.015426,...,1.0,0.051518,0.047554,0.579441,0.566873,0,1.642857,1.0,3.0,0.841897
4990,2017-08-07,22,18,16,1,0,0,131.590000,96.067500,18747.821615,...,1.0,0.009430,0.007002,0.579441,0.566873,0,1.600000,1.0,4.0,1.341641
4991,2017-08-07,22,31,61,1,0,0,96.701667,81.005500,14010.611404,...,1.0,0.010374,0.009030,0.579441,0.566873,0,1.333333,1.0,2.0,0.577350
4992,2017-08-07,22,39,21,1,0,0,79.662235,67.671484,10215.143389,...,1.0,0.014451,0.022939,0.317524,0.342112,0,2.411765,2.0,10.0,2.292892
4993,2017-08-07,22,163,110,4,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.110960,0.109537,0,NaN,NaN,NaN,NaN
4994,2017-08-07,22,21,9,8,0,0,87.020000,86.911000,16209.086983,...,1.0,0.012651,0.007851,0.539159,0.289222,0,1.000000,1.0,1.0,0.000000
4995,2017-08-07,22,76,83,1,0,0,NaN,120.000000,25831.166667,...,1.0,0.000619,0.015842,0.263846,0.518449,0,NaN,NaN,NaN,NaN
4996,2017-08-07,22,51,107,1,0,0,NaN,NaN,19525.000000,...,1.0,0.001110,0.003788,0.539159,0.289222,0,NaN,NaN,NaN,NaN
4997,2017-08-07,22,39,39,2,0,0,39.807068,30.482468,2556.289998,...,1.0,0.058034,0.066047,0.317524,0.342112,0,4.653846,3.0,16.0,4.279648
4998,2017-08-07,22,27,3,2,0,0,43.362574,36.308480,4200.451724,...,1.0,0.024292,0.069570,0.579441,0.566873,0,1.666667,1.0,5.0,1.188177
4999,2017-08-07,22,51,191,1,0,0,220.020000,NaN,28844.000000,...,1.0,0.001387,0.007974,0.539159,0.289222,0,7.000000,7.0,7.0,NaN

In [21]:
coord = train_tr.groupby(['create_hour','start_geo_id'],as_index=False)['demand_count'].agg({'demand_count_start_avg':'mean'})
coord

      create_hour  start_geo_id  demand_count_start_avg
0               0             0                1.166667
1               0             1                1.304054
2               0             2                1.451613
3               0             3                1.114286
4               0             4                1.000000
5               0             5                1.403175
6               0             6                1.858942
7               0             7                1.000000
8               0             8                1.192771
9               0             9                1.380952
10              0            10                1.143791
11              0            11                1.200000
12              0            12                1.000000
13              0            13                1.298507
14              0            14                1.814480
15              0            15                1.661417
16              0            16                1.381148
17              0            17                1.352041
18              0            18                1.424000
19              0            19                1.331081
20              0            20                1.101449
21              0            21                1.122995
22              0            22                2.009158
23              0            23                1.166667
24              0            24                2.694897
25              0            25                1.145833
26              0            26                1.298246
27              0            27                1.522876
28              0            29                1.234375
29              0            30                1.080000
...           ...           ...                     ...
8382           23           391                1.000000
8383           23           412                1.000000
8384           23           419                1.000000
8385           23           425                1.000000
8386           23           434                1.000000
8387           23           437                2.000000
8388           23           443                1.000000
8389           23           470                1.000000
8390           23           471                3.000000
8391           23           472                1.000000
8392           23           477                1.000000
8393           23           478                1.000000
8394           23           485                1.000000
8395           23           488                8.000000
8396           23           496                1.000000
8397           23           506                1.000000
8398           23           536                1.000000
8399           23           579                1.000000
8400           23           590                1.000000
8401           23           596                4.000000
8402           23           606                1.000000
8403           23           626                1.000000
8404           23           709                3.000000
8405           23           739                6.000000
8406           23           816                1.000000
8407           23           950                1.000000
8408           23           988                1.000000
8409           23           998                1.000000
8410           23          1197                1.000000
8411           23          1222                1.000000

[8412 rows x 3 columns]

In [22]:
np.setdiff1d(train_tr.columns,valid_tr.columns)
# np.setdiff1d(test.columns,train_tr.columns)

array(['estimate_distance_mean', 'estimate_money_mean',
       'estimate_term_mean'], dtype=object)

### Training

In [23]:
do_not_use_list = ['create_date','demand_count','estimate_distance_mean','estimate_money_mean','estimate_term_mean','test_id']
predictors = [f for f in train_tr.columns if f not in do_not_use_list]
print predictors

['create_hour', 'start_geo_id', 'end_geo_id', 'holiday', 'dayOfWeek', 'money_hour_mean', 'money_day_mean', 'dis_hour_mean', 'term_hour_mean', 'start_cluster', 'end_cluster', 'sloc_eloc_mean', 'sloc_eloc_median', 'sloc_eloc_max', 'sloc_eloc_min', 'sloccl_eloccl_mean', 'sloccl_eloccl_median', 'sloccl_eloccl_max', 'sloccl_eloccl_min', 'se_start_ratio', 'se_end_ratio', 'se_start_cls_ratio', 'se_end_cls_ratio', 'hour_cls', 'demand_count_h_avg', 'demand_count_h_median', 'demand_count_h_max', 'demand_count_h_std']

In [62]:
import xgboost as xgb
params = {'min_child_weight': 100, 'eta': 0.1, 'colsample_bytree': 0.3, 'max_depth': 7,
                'subsample': 0.8, 'lambda': 1, 'nthread': 4, 'booster' : 'gbtree', 'silent': 1,
                'eval_metric': 'rmse', 'objective': 'reg:linear'}
boostRound = 150

train_tr_trip = train_tr[train_tr['create_date'] >= '2017-07-22'].copy()
# print train_feat_1[predictors]

xgbtrain = xgb.DMatrix(train_tr_trip[predictors], train_tr_trip['demand_count'],missing=np.nan)
# xgbvalid = xgb.DMatrix(test_feat_1[predictors])
model = xgb.train(params, xgbtrain, num_boost_round=boostRound)
param_score = pd.Series(model.get_fscore()).sort_values(ascending=False)

In [63]:
param_score

demand_count_h_avg       647
demand_count_h_std       533
sloc_eloc_mean           470
se_start_ratio           357
se_end_ratio             356
dayOfWeek                348
money_day_mean           324
demand_count_h_max       315
create_hour              313
start_geo_id             295
hour_cls                 292
money_hour_mean          291
term_hour_mean           242
sloc_eloc_max            240
dis_hour_mean            218
end_geo_id               180
demand_count_h_median    171
sloccl_eloccl_mean       118
holiday                  102
sloc_eloc_median          97
se_end_cls_ratio          69
sloccl_eloccl_max         66
se_start_cls_ratio        58
end_cluster               53
start_cluster             52
sloc_eloc_min             13
dtype: int64

In [64]:
def score(pred,valid):
    return np.sum(np.abs(pred - valid)) / (1.0 * len(pred))

In [65]:
xgbvalid = xgb.DMatrix(valid_tr[predictors],missing=np.nan)
valid_tr.loc[:,'result'] = model.predict(xgbvalid)
valid_tr['result'].fillna(1,inplace=True)
valid_tr['result']

# xgbvalid = xgb.DMatrix(test[predictors],missing=np.nan)
# test.loc[:,'count'] = model.predict(xgbvalid)
# test['count'].fillna(1,inplace=True)
# test['count']

0       1.540451
1       1.445626
2       0.937795
3       1.175273
4       1.465946
5       1.017655
6       0.971281
7       0.936877
8       1.365231
9       0.941354
10      0.939176
11      0.921065
12      1.002887
13      0.979071
14      0.984981
15      0.926276
16      1.029879
17      1.031743
18      0.984981
19      0.954695
20      1.009507
21      0.941012
22      1.072678
23      0.998327
24      1.482512
25      1.088382
26      1.011361
27      0.942481
28      0.961784
29      0.926769
          ...
4970    0.957195
4971    3.131598
4972    0.981283
4973    0.986124
4974    2.719573
4975    0.969054
4976    2.055049
4977    0.967910
4978    1.143469
4979    0.977783
4980    0.956103
4981    1.478603
4982    1.919542
4983    0.956103
4984    0.978205
4985    1.090596
4986    1.075302
4987    1.000360
4988    1.246702
4989    1.239204
4990    1.379896
4991    1.253336
4992    1.706907
4993    0.972457
4994    1.014743
4995    1.013726
4996    0.936634
4997    2.740325
4998    1.358823
4999    5.111102
Name: result, dtype: float32

In [66]:
score(valid_tr['result'],valid_tr['demand_count'])

0.8372572949409485

In [67]:
# test['test_id'] = test['test_id'].astype('int')
# test[['test_id','count']].to_csv('result.csv',index=False)