In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 8,6

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
train_jul_demand_path = '../../UAI_data/input/tain_jul_demand.csv'
train_aug_demand_path = '../../UAI_data/input/tain_aug_demand.csv'
location_path = '../../UAI_data/input/location_cls.csv'
holiday_path = '../../UAI_data/input/holiday.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
train_jul_demand = pd.read_csv(train_jul_demand_path,encoding='gbk')
train_aug_demand = pd.read_csv(train_aug_demand_path,encoding='gbk')
loc_cls = pd.read_csv(location_path)
holiday = pd.read_csv(holiday_path)
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

###  Helper Functions

In [2]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

In [5]:
train_jul_exc = train_jul[train_jul['driver_id'] != 2].copy()
coord_jul = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_jul.loc[:,'estimate_money_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].mean()['estimate_money']
# coord_jul.loc[:,'estimate_money_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].median()['estimate_money']
# coord_jul.loc[:,'estimate_money_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].max()['estimate_money']
# coord_jul.loc[:,'estimate_money_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].min()['estimate_money']
coord_jul.loc[:,'estimate_distance_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].mean()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].median()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].max()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].min()['estimate_distance']
coord_jul.loc[:,'estimate_term_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].mean()['estimate_term']
# coord_jul.loc[:,'estimate_term_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].median()['estimate_term']
# coord_jul.loc[:,'estimate_term_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].max()['estimate_term']
# coord_jul.loc[:,'estimate_term_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].min()['estimate_term']

coord_jul.to_csv('train_jul_exc.csv',index=False)
coord_jul

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000,14431.0,24.0
1,2017-07-01,0,0,21,1,39.000,4905.0,9.0
2,2017-07-01,0,1,1,2,28.500,2437.0,4.5
3,2017-07-01,0,1,15,2,67.000,10955.0,21.5
4,2017-07-01,0,1,37,1,63.000,10010.0,20.0
5,2017-07-01,0,1,39,2,67.110,11493.0,17.5
6,2017-07-01,0,1,89,1,58.000,8905.0,17.0
7,2017-07-01,0,1,95,1,90.000,15677.0,31.0
8,2017-07-01,0,1,160,2,46.520,6347.0,12.0
9,2017-07-01,0,1,303,1,66.000,11493.0,17.0
10,2017-07-01,0,2,2,1,233.000,36363.0,36.0
11,2017-07-01,0,2,38,5,64.982,6605.8,13.0
12,2017-07-01,0,2,46,1,110.710,17460.0,23.0
13,2017-07-01,0,2,265,1,315.000,41878.0,49.0
14,2017-07-01,0,3,80,1,52.000,4728.0,9.0
15,2017-07-01,0,4,97,1,37.000,4308.0,8.0
16,2017-07-01,0,5,0,1,140.000,20099.0,18.0
17,2017-07-01,0,5,1,1,206.000,27950.0,33.0
18,2017-07-01,0,5,8,2,121.500,19427.0,21.5
19,2017-07-01,0,5,29,1,201.000,27823.0,28.0
20,2017-07-01,0,5,30,1,284.000,37830.0,45.0
21,2017-07-01,0,5,31,1,380.000,36014.0,35.0
22,2017-07-01,0,5,34,1,240.000,32813.0,34.0
23,2017-07-01,0,5,39,2,147.000,23825.5,23.0
24,2017-07-01,0,5,51,1,134.920,18680.0,23.0
25,2017-07-01,0,5,63,1,163.000,21984.0,30.0
26,2017-07-01,0,5,70,1,241.000,32615.0,36.0
27,2017-07-01,0,5,71,1,200.000,26470.0,38.0
28,2017-07-01,0,5,73,1,194.000,26601.0,29.0
29,2017-07-01,0,5,102,1,128.000,18124.0,20.0
...,...,...,...,...,...,...,...,...
447489,2017-07-31,23,109,24,1,85.000,14812.0,29.0
447490,2017-07-31,23,109,79,1,94.000,16836.0,27.0
447491,2017-07-31,23,109,92,1,206.150,35307.0,55.0
447492,2017-07-31,23,114,56,1,78.000,13353.0,26.0
447493,2017-07-31,23,114,76,2,82.625,14957.0,24.0
447494,2017-07-31,23,118,25,1,23.000,1179.0,2.0
447495,2017-07-31,23,118,118,1,26.000,1913.0,3.0
447496,2017-07-31,23,118,119,1,45.000,6389.0,10.0
447497,2017-07-31,23,119,44,1,32.000,3154.0,6.0
447498,2017-07-31,23,119,90,1,67.000,11256.0,20.0
447499,2017-07-31,23,124,157,1,53.000,7900.0,15.0
447500,2017-07-31,23,135,17,1,36.000,4116.0,8.0
447501,2017-07-31,23,135,21,1,71.000,12721.0,18.0
447502,2017-07-31,23,140,90,1,74.000,13715.0,17.0
447503,2017-07-31,23,144,72,1,65.730,10999.0,18.0
447504,2017-07-31,23,147,33,1,164.000,27290.0,54.0
447505,2017-07-31,23,147,169,1,40.000,4974.0,9.0
447506,2017-07-31,23,149,122,1,96.440,17186.0,28.0
447507,2017-07-31,23,150,74,1,59.000,9280.0,18.0
447508,2017-07-31,23,150,96,1,50.000,7043.0,14.0
447509,2017-07-31,23,150,150,2,43.255,3968.0,7.0
447510,2017-07-31,23,158,24,1,57.000,8666.0,17.0
447511,2017-07-31,23,167,146,1,61.000,10784.0,12.0
447512,2017-07-31,23,194,8,1,131.000,24066.0,28.0
447513,2017-07-31,23,195,42,1,61.000,9610.0,19.0
447514,2017-07-31,23,223,25,2,57.420,8828.0,16.5
447515,2017-07-31,23,245,175,1,71.000,12165.0,21.0
447516,2017-07-31,23,251,70,1,168.430,30206.0,36.0
447517,2017-07-31,23,360,105,1,34.770,3749.0,7.0
447518,2017-07-31,23,478,80,1,206.000,37641.0,35.0

In [6]:
test

      test_id create_date  create_hour  start_geo_id_new  end_geo_id_new
0           0  2017-08-01           21                24              27
1           1  2017-08-01           21                24               9
2           2  2017-08-01           21                24              22
3           3  2017-08-01           17                24               9
4           4  2017-08-01           17                55              55
5           5  2017-08-01           17               110              88
6           6  2017-08-01            9                23              21
7           7  2017-08-01           21                16              50
8           8  2017-08-01           13                 6              24
9           9  2017-08-01           21                 6              22
10         10  2017-08-01           17                 6               9
11         11  2017-08-01           21                34              90
12         12  2017-08-01            9                 1              13
13         13  2017-08-01           21                24              13
14         14  2017-08-01           21                10              10
15         15  2017-08-01           13                48              72
16         16  2017-08-01            7               649             111
17         17  2017-08-01           21                18              22
18         18  2017-08-01           13                15               6
19         19  2017-08-01           17                24              22
20         20  2017-08-01           21                 6              24
21         21  2017-08-01           11                24              24
22         22  2017-08-01           13                27              27
23         23  2017-08-01           21                90              50
24         24  2017-08-01           21                24               6
25         25  2017-08-01           15               152              77
26         26  2017-08-01           11               140             103
27         27  2017-08-01           11                22              24
28         28  2017-08-01            9                 1              39
29         29  2017-08-01           13                24              55
...       ...         ...          ...               ...             ...
4970     4970  2017-08-07           17               318              61
4971     4971  2017-08-07            9                 6             649
4972     4972  2017-08-07           11               266             267
4973     4973  2017-08-07            5               119              31
4974     4974  2017-08-07           15               107              24
4975     4975  2017-08-07           23               266             267
4976     4976  2017-08-07            7                47             459
4977     4977  2017-08-07           23              1282              73
4978     4978  2017-08-07           21               817             193
4979     4979  2017-08-07           15               379             120
4980     4980  2017-08-07            3               459            1285
4981     4981  2017-08-07           21               110             364
4982     4982  2017-08-07           17               107              24
4983     4983  2017-08-07           13                 5              26
4984     4984  2017-08-07            5               229              59
4985     4985  2017-08-07            5               292             735
4986     4986  2017-08-07           15                92             327
4987     4987  2017-08-07            9               205             146
4988     4988  2017-08-07           21              1283             323
4989     4989  2017-08-07            1               107              24
4990     4990  2017-08-07           17                79             117
4991     4991  2017-08-07           21               331             837
4992     4992  2017-08-07           19               260             353
4993     4993  2017-08-07           19               228            1013
4994     4994  2017-08-07            1               316             316
4995     4995  2017-08-07           17               354             403
4996     4996  2017-08-07           23               275             264
4997     4997  2017-08-07           15               110             364
4998     4998  2017-08-07           13               817             193
4999     4999  2017-08-07           13                92             327

[5000 rows x 5 columns]

In [9]:
train_aug_demand

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [10]:
test['create_hour'].value_counts()

22    443
20    411
21    383
17    346
13    334
9     313
18    261
15    254
8     246
16    242
11    240
7     234
19    225
10    211
14    201
12    180
23    147
6      76
0      70
1      61
5      47
3      30
2      25
4      20
Name: create_hour, dtype: int64

### Valid set split

In [16]:
train_aug_exc = train_aug[train_aug['driver_id'] != 2].copy()
coord_aug = train_aug_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_aug.to_csv('train_aug_exc.csv',index=False)
coord_aug

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
49205  2017-08-07           22           118          70             1
49206  2017-08-07           22           118         118             1
49207  2017-08-07           22           120          16             1
49208  2017-08-07           22           133          72             1
49209  2017-08-07           22           133         150             1
49210  2017-08-07           22           135           9             1
49211  2017-08-07           22           135          77             1
49212  2017-08-07           22           138          67             1
49213  2017-08-07           22           138          90             1
49214  2017-08-07           22           138         138             1
49215  2017-08-07           22           146           8             1
49216  2017-08-07           22           149          27             1
49217  2017-08-07           22           149          72             1
49218  2017-08-07           22           149         149             1
49219  2017-08-07           22           150          21             1
49220  2017-08-07           22           152           6             1
49221  2017-08-07           22           158           1             1
49222  2017-08-07           22           164          33             1
49223  2017-08-07           22           167          47             1
49224  2017-08-07           22           168         298             1
49225  2017-08-07           22           184          87             2
49226  2017-08-07           22           191         243             1
49227  2017-08-07           22           194          27             1
49228  2017-08-07           22           195          18             1
49229  2017-08-07           22           198           1             1
49230  2017-08-07           22           198         160             1
49231  2017-08-07           22           201         127             1
49232  2017-08-07           22           251           5             1
49233  2017-08-07           22           300         306             1
49234  2017-08-07           22           349          60             1

[49235 rows x 5 columns]

In [30]:
dict_list = {
'l_50' : [0,1,2,3,4,5],
'l_100' : [6],
'l_150' : [12,23],
'l_200' : [10,14,19],
'l_250' : [7,8,11,15,16,18],
'l_300' : [9,13],
'l_350' : [17],
'l_400' : [20,21]
# 'l_450' : [22]
}
l_22 = coord_aug[coord_aug['create_hour'] == 22].index
r = np.random.choice(l_22,450)
valid = coord_aug.iloc[r]
for key,l in dict_list.items():
    num =  int(key.split('_')[1])
    for hour in l:
        l_tmp = coord_aug[coord_aug['create_hour'] == hour].index
        r = np.random.choice(l_tmp,num)
        tmp_valid = coord_aug.iloc[r].copy()
        valid = pd.concat([valid,tmp_valid],axis=0)
valid.sort_values(['create_date','create_hour'],inplace=True)
valid

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
150    2017-08-01            0            31          31             1
80     2017-08-01            0            21          21             2
35     2017-08-01            0             9          49             1
102    2017-08-01            0            22         118             1
166    2017-08-01            0            39          90             3
9      2017-08-01            0             5           5             3
43     2017-08-01            0            13          27             2
126    2017-08-01            0            24         105             1
62     2017-08-01            0            17          47             1
223    2017-08-01            0            70          25             1
245    2017-08-01            0            77          60             1
235    2017-08-01            0            72          95             1
16     2017-08-01            0             5         176             1
350    2017-08-01            2            47         183             1
362    2017-08-01            2            83          15             1
293    2017-08-01            2             5          39             1
297    2017-08-01            2             6           1             1
299    2017-08-01            2             6          50             1
353    2017-08-01            2            51           8             1
324    2017-08-01            2            24          55             2
331    2017-08-01            2            24         158             1
358    2017-08-01            2            65         292             2
412    2017-08-01            4            61          19             1
426    2017-08-01            4            88          61             1
404    2017-08-01            4            40          66             2
380    2017-08-01            4            15          47             1
388    2017-08-01            4            24           1             1
390    2017-08-01            4            24          25             1
375    2017-08-01            4            13          19             1
425    2017-08-01            4            86          19             1
...           ...          ...           ...         ...           ...
49072  2017-08-07           22            63          31             1
48996  2017-08-07           22            48          50             2
48716  2017-08-07           22            17          37             1
49168  2017-08-07           22            86          23             1
48971  2017-08-07           22            47          15             1
48629  2017-08-07           22             9         128             1
48649  2017-08-07           22            10         260             1
49186  2017-08-07           22            90          88             2
48570  2017-08-07           22             3           3             1
48783  2017-08-07           22            21          64             2
48582  2017-08-07           22             5          78             1
48901  2017-08-07           22            31          61             1
49162  2017-08-07           22            80          80             1
49164  2017-08-07           22            85          20             1
48829  2017-08-07           22            24          34             1
48569  2017-08-07           22             2          64             1
48880  2017-08-07           22            27          24             1
49041  2017-08-07           22            61          10             1
48689  2017-08-07           22            15         189             1
49146  2017-08-07           22            76          63             1
48568  2017-08-07           22             1         191             1
49039  2017-08-07           22            59          23             1
48608  2017-08-07           22             8          63             1
49040  2017-08-07           22            60          74             1
48753  2017-08-07           22            19          26             1
48872  2017-08-07           22            26         143             1
48989  2017-08-07           22            47         146             1
49118  2017-08-07           22            72          27             2
49100  2017-08-07           22            71          20             2
48684  2017-08-07           22            15          55             1

[5000 rows x 5 columns]

In [32]:
valid['create_hour'].unique()

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22,  1,  3,  5,  7,  9,
       11, 13, 15, 17, 19, 21, 23], dtype=int64)

## Feature Extracting
### 1. order list attribution

In [89]:
train_tr = coord_jul.copy()
valid_tr = valid.copy()
train_tr
# valid_tr
# valid_tr['demand_count']

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000,14431.0,24.0
1,2017-07-01,0,0,21,1,39.000,4905.0,9.0
2,2017-07-01,0,1,1,2,28.500,2437.0,4.5
3,2017-07-01,0,1,15,2,67.000,10955.0,21.5
4,2017-07-01,0,1,37,1,63.000,10010.0,20.0
5,2017-07-01,0,1,39,2,67.110,11493.0,17.5
6,2017-07-01,0,1,89,1,58.000,8905.0,17.0
7,2017-07-01,0,1,95,1,90.000,15677.0,31.0
8,2017-07-01,0,1,160,2,46.520,6347.0,12.0
9,2017-07-01,0,1,303,1,66.000,11493.0,17.0
10,2017-07-01,0,2,2,1,233.000,36363.0,36.0
11,2017-07-01,0,2,38,5,64.982,6605.8,13.0
12,2017-07-01,0,2,46,1,110.710,17460.0,23.0
13,2017-07-01,0,2,265,1,315.000,41878.0,49.0
14,2017-07-01,0,3,80,1,52.000,4728.0,9.0
15,2017-07-01,0,4,97,1,37.000,4308.0,8.0
16,2017-07-01,0,5,0,1,140.000,20099.0,18.0
17,2017-07-01,0,5,1,1,206.000,27950.0,33.0
18,2017-07-01,0,5,8,2,121.500,19427.0,21.5
19,2017-07-01,0,5,29,1,201.000,27823.0,28.0
20,2017-07-01,0,5,30,1,284.000,37830.0,45.0
21,2017-07-01,0,5,31,1,380.000,36014.0,35.0
22,2017-07-01,0,5,34,1,240.000,32813.0,34.0
23,2017-07-01,0,5,39,2,147.000,23825.5,23.0
24,2017-07-01,0,5,51,1,134.920,18680.0,23.0
25,2017-07-01,0,5,63,1,163.000,21984.0,30.0
26,2017-07-01,0,5,70,1,241.000,32615.0,36.0
27,2017-07-01,0,5,71,1,200.000,26470.0,38.0
28,2017-07-01,0,5,73,1,194.000,26601.0,29.0
29,2017-07-01,0,5,102,1,128.000,18124.0,20.0
...,...,...,...,...,...,...,...,...
447489,2017-07-31,23,109,24,1,85.000,14812.0,29.0
447490,2017-07-31,23,109,79,1,94.000,16836.0,27.0
447491,2017-07-31,23,109,92,1,206.150,35307.0,55.0
447492,2017-07-31,23,114,56,1,78.000,13353.0,26.0
447493,2017-07-31,23,114,76,2,82.625,14957.0,24.0
447494,2017-07-31,23,118,25,1,23.000,1179.0,2.0
447495,2017-07-31,23,118,118,1,26.000,1913.0,3.0
447496,2017-07-31,23,118,119,1,45.000,6389.0,10.0
447497,2017-07-31,23,119,44,1,32.000,3154.0,6.0
447498,2017-07-31,23,119,90,1,67.000,11256.0,20.0
447499,2017-07-31,23,124,157,1,53.000,7900.0,15.0
447500,2017-07-31,23,135,17,1,36.000,4116.0,8.0
447501,2017-07-31,23,135,21,1,71.000,12721.0,18.0
447502,2017-07-31,23,140,90,1,74.000,13715.0,17.0
447503,2017-07-31,23,144,72,1,65.730,10999.0,18.0
447504,2017-07-31,23,147,33,1,164.000,27290.0,54.0
447505,2017-07-31,23,147,169,1,40.000,4974.0,9.0
447506,2017-07-31,23,149,122,1,96.440,17186.0,28.0
447507,2017-07-31,23,150,74,1,59.000,9280.0,18.0
447508,2017-07-31,23,150,96,1,50.000,7043.0,14.0
447509,2017-07-31,23,150,150,2,43.255,3968.0,7.0
447510,2017-07-31,23,158,24,1,57.000,8666.0,17.0
447511,2017-07-31,23,167,146,1,61.000,10784.0,12.0
447512,2017-07-31,23,194,8,1,131.000,24066.0,28.0
447513,2017-07-31,23,195,42,1,61.000,9610.0,19.0
447514,2017-07-31,23,223,25,2,57.420,8828.0,16.5
447515,2017-07-31,23,245,175,1,71.000,12165.0,21.0
447516,2017-07-31,23,251,70,1,168.430,30206.0,36.0
447517,2017-07-31,23,360,105,1,34.770,3749.0,7.0
447518,2017-07-31,23,478,80,1,206.000,37641.0,35.0

In [90]:
# time attribution
holiday['create_date'] = pd.to_datetime(holiday['create_date'])
train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
valid_tr['create_date'] = pd.to_datetime(valid_tr['create_date'])
train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
valid_tr = pd.merge(valid_tr,holiday,on='create_date',how='left')
train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
valid_tr['dayOfWeek'] = valid_tr['create_date'].dt.dayofweek
train_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean,holiday,dayOfWeek
0,2017-07-01,0,0,10,1,101.000,14431.0,24.0,1,5
1,2017-07-01,0,0,21,1,39.000,4905.0,9.0,1,5
2,2017-07-01,0,1,1,2,28.500,2437.0,4.5,1,5
3,2017-07-01,0,1,15,2,67.000,10955.0,21.5,1,5
4,2017-07-01,0,1,37,1,63.000,10010.0,20.0,1,5
5,2017-07-01,0,1,39,2,67.110,11493.0,17.5,1,5
6,2017-07-01,0,1,89,1,58.000,8905.0,17.0,1,5
7,2017-07-01,0,1,95,1,90.000,15677.0,31.0,1,5
8,2017-07-01,0,1,160,2,46.520,6347.0,12.0,1,5
9,2017-07-01,0,1,303,1,66.000,11493.0,17.0,1,5
10,2017-07-01,0,2,2,1,233.000,36363.0,36.0,1,5
11,2017-07-01,0,2,38,5,64.982,6605.8,13.0,1,5
12,2017-07-01,0,2,46,1,110.710,17460.0,23.0,1,5
13,2017-07-01,0,2,265,1,315.000,41878.0,49.0,1,5
14,2017-07-01,0,3,80,1,52.000,4728.0,9.0,1,5
15,2017-07-01,0,4,97,1,37.000,4308.0,8.0,1,5
16,2017-07-01,0,5,0,1,140.000,20099.0,18.0,1,5
17,2017-07-01,0,5,1,1,206.000,27950.0,33.0,1,5
18,2017-07-01,0,5,8,2,121.500,19427.0,21.5,1,5
19,2017-07-01,0,5,29,1,201.000,27823.0,28.0,1,5
20,2017-07-01,0,5,30,1,284.000,37830.0,45.0,1,5
21,2017-07-01,0,5,31,1,380.000,36014.0,35.0,1,5
22,2017-07-01,0,5,34,1,240.000,32813.0,34.0,1,5
23,2017-07-01,0,5,39,2,147.000,23825.5,23.0,1,5
24,2017-07-01,0,5,51,1,134.920,18680.0,23.0,1,5
25,2017-07-01,0,5,63,1,163.000,21984.0,30.0,1,5
26,2017-07-01,0,5,70,1,241.000,32615.0,36.0,1,5
27,2017-07-01,0,5,71,1,200.000,26470.0,38.0,1,5
28,2017-07-01,0,5,73,1,194.000,26601.0,29.0,1,5
29,2017-07-01,0,5,102,1,128.000,18124.0,20.0,1,5
...,...,...,...,...,...,...,...,...,...,...
447489,2017-07-31,23,109,24,1,85.000,14812.0,29.0,0,0
447490,2017-07-31,23,109,79,1,94.000,16836.0,27.0,0,0
447491,2017-07-31,23,109,92,1,206.150,35307.0,55.0,0,0
447492,2017-07-31,23,114,56,1,78.000,13353.0,26.0,0,0
447493,2017-07-31,23,114,76,2,82.625,14957.0,24.0,0,0
447494,2017-07-31,23,118,25,1,23.000,1179.0,2.0,0,0
447495,2017-07-31,23,118,118,1,26.000,1913.0,3.0,0,0
447496,2017-07-31,23,118,119,1,45.000,6389.0,10.0,0,0
447497,2017-07-31,23,119,44,1,32.000,3154.0,6.0,0,0
447498,2017-07-31,23,119,90,1,67.000,11256.0,20.0,0,0
447499,2017-07-31,23,124,157,1,53.000,7900.0,15.0,0,0
447500,2017-07-31,23,135,17,1,36.000,4116.0,8.0,0,0
447501,2017-07-31,23,135,21,1,71.000,12721.0,18.0,0,0
447502,2017-07-31,23,140,90,1,74.000,13715.0,17.0,0,0
447503,2017-07-31,23,144,72,1,65.730,10999.0,18.0,0,0
447504,2017-07-31,23,147,33,1,164.000,27290.0,54.0,0,0
447505,2017-07-31,23,147,169,1,40.000,4974.0,9.0,0,0
447506,2017-07-31,23,149,122,1,96.440,17186.0,28.0,0,0
447507,2017-07-31,23,150,74,1,59.000,9280.0,18.0,0,0
447508,2017-07-31,23,150,96,1,50.000,7043.0,14.0,0,0
447509,2017-07-31,23,150,150,2,43.255,3968.0,7.0,0,0
447510,2017-07-31,23,158,24,1,57.000,8666.0,17.0,0,0
447511,2017-07-31,23,167,146,1,61.000,10784.0,12.0,0,0
447512,2017-07-31,23,194,8,1,131.000,24066.0,28.0,0,0
447513,2017-07-31,23,195,42,1,61.000,9610.0,19.0,0,0
447514,2017-07-31,23,223,25,2,57.420,8828.0,16.5,0,0
447515,2017-07-31,23,245,175,1,71.000,12165.0,21.0,0,0
447516,2017-07-31,23,251,70,1,168.430,30206.0,36.0,0,0
447517,2017-07-31,23,360,105,1,34.770,3749.0,7.0,0,0
447518,2017-07-31,23,478,80,1,206.000,37641.0,35.0,0,0

In [91]:
coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,4.188930
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,4.242661
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,36.500000
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,31.400000
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,25.911017
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,6.427083
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,11.502177
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,33.500000
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,35.728495
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,12.928571
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,43.902439
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,49.833333
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,NaN
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,35.000000
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,62.000000
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,32.102113
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,18.758304
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,26.345973
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,7.907644
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,21.501787
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,16.176136
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,20.000000
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,27.746914
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,7.605739
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,11.764706
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,48.579545
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,12.148200
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,31.915606
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,21.324074
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,13.799742
...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,39.652174
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,8.157407
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,33.466667
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,32.352941
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,43.613978
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,22.956522
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,30.312500
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,8.101507
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,3.879818
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,8.076531
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,79.000000
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,25.246377
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,5.316558
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,19.863095
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,27.423437
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,37.500000
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,8.193860
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,7.725853
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,22.200000
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,13.493438
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,30.166667
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,25.285714
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,8.301075
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,70.500000
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,23.218310
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,49.000000
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,19.195652
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,20.251502
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,7.643243
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,12.529720

### 2.Location
#### 2.1 Pure location

In [92]:
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_end,on='end_geo_id',how='left')
# valid_tr['end_cluster'].astype('int',inplace=True)
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,4.188930,5,5.0
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,4.242661,1,1.0
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,36.500000,5,5.0
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,31.400000,5,2.0
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,25.911017,1,5.0
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,6.427083,4,4.0
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,11.502177,1,5.0
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,33.500000,1,2.0
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,35.728495,5,2.0
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,12.928571,5,0.0
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,43.902439,1,4.0
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,49.833333,5,3.0
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,NaN,4,2.0
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,35.000000,2,0.0
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,62.000000,1,1.0
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,32.102113,4,1.0
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,18.758304,5,1.0
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,26.345973,5,1.0
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,7.907644,1,0.0
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,21.501787,1,1.0
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,16.176136,1,4.0
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,20.000000,5,2.0
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,27.746914,5,5.0
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,7.605739,5,5.0
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,11.764706,3,0.0
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,48.579545,1,2.0
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,12.148200,1,1.0
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,31.915606,1,0.0
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,21.324074,1,5.0
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,13.799742,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,39.652174,5,5.0
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,8.157407,5,1.0
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,33.466667,5,1.0
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,32.352941,1,5.0
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,43.613978,2,1.0
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,22.956522,5,3.0
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,30.312500,5,2.0
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,8.101507,5,5.0
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,3.879818,5,5.0
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,8.076531,1,5.0
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,79.000000,4,5.0
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,25.246377,5,5.0
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,5.316558,5,5.0
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,19.863095,5,5.0
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,27.423437,1,1.0
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,37.500000,1,5.0
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,8.193860,5,1.0
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,7.725853,5,5.0
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,22.200000,1,3.0
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,13.493438,5,5.0
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,30.166667,1,5.0
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,25.285714,1,5.0
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,8.301075,0,5.0
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,70.500000,4,1.0
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,23.218310,5,5.0
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,49.000000,5,3.0
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,19.195652,2,0.0
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,20.251502,5,5.0
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,7.643243,5,5.0
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,12.529720,1,1.0

In [93]:
coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,4.188930,5,5.0,1.590551,1.0,7.0,1.0
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,4.242661,1,1.0,2.573248,2.0,10.0,1.0
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,36.500000,5,5.0,1.117647,1.0,2.0,1.0
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,31.400000,5,2.0,1.000000,1.0,1.0,1.0
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,25.911017,1,5.0,1.161017,1.0,3.0,1.0
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,6.427083,4,4.0,1.270833,1.0,4.0,1.0
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,11.502177,1,5.0,1.501946,1.0,7.0,1.0
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,33.500000,1,2.0,1.100000,1.0,2.0,1.0
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,35.728495,5,2.0,1.215054,1.0,4.0,1.0
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,12.928571,5,0.0,1.131868,1.0,3.0,1.0
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,43.902439,1,4.0,1.121951,1.0,2.0,1.0
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,49.833333,5,3.0,1.000000,1.0,1.0,1.0
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,NaN,4,2.0,NaN,NaN,NaN,NaN
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,35.000000,2,0.0,1.000000,1.0,1.0,1.0
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,62.000000,1,1.0,1.000000,1.0,1.0,1.0
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,32.102113,4,1.0,1.161972,1.0,3.0,1.0
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,18.758304,5,1.0,1.750890,1.0,6.0,1.0
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,26.345973,5,1.0,1.214765,1.0,5.0,1.0
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,7.907644,1,0.0,1.368421,1.0,7.0,1.0
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,21.501787,1,1.0,1.879265,1.0,9.0,1.0
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,16.176136,1,4.0,1.136364,1.0,3.0,1.0
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,20.000000,5,2.0,1.000000,1.0,1.0,1.0
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,27.746914,5,5.0,1.074074,1.0,2.0,1.0
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,7.605739,5,5.0,1.514151,1.0,5.0,1.0
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,11.764706,3,0.0,1.000000,1.0,1.0,1.0
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,48.579545,1,2.0,1.170455,1.0,2.0,1.0
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,12.148200,1,1.0,3.627767,3.0,15.0,1.0
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,31.915606,1,0.0,1.127273,1.0,4.0,1.0
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,21.324074,1,5.0,1.166667,1.0,4.0,1.0
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,13.799742,1,5.0,1.232558,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,39.652174,5,5.0,1.000000,1.0,1.0,1.0
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,8.157407,5,1.0,1.228395,1.0,3.0,1.0
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,33.466667,5,1.0,1.066667,1.0,2.0,1.0
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,32.352941,1,5.0,1.058824,1.0,2.0,1.0
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,43.613978,2,1.0,1.193548,1.0,5.0,1.0
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,22.956522,5,3.0,1.000000,1.0,1.0,1.0
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,30.312500,5,2.0,1.125000,1.0,2.0,1.0
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,8.101507,5,5.0,1.544248,1.0,7.0,1.0
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,3.879818,5,5.0,1.460938,1.0,5.0,1.0
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,8.076531,1,5.0,1.590909,1.0,7.0,1.0
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,79.000000,4,5.0,1.000000,1.0,1.0,1.0
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,25.246377,5,5.0,1.217391,1.0,3.0,1.0
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,5.316558,5,5.0,1.318182,1.0,4.0,1.0
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,19.863095,5,5.0,1.250000,1.0,4.0,1.0
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,27.423437,1,1.0,1.281250,1.0,4.0,1.0
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,37.500000,1,5.0,1.000000,1.0,1.0,1.0
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,8.193860,5,1.0,4.220994,3.0,28.0,1.0
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,7.725853,5,5.0,2.110119,2.0,12.0,1.0
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,22.200000,1,3.0,1.100000,1.0,2.0,1.0
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,13.493438,5,5.0,1.259843,1.0,4.0,1.0
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,30.166667,1,5.0,1.185185,1.0,2.0,1.0
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,25.285714,1,5.0,1.000000,1.0,1.0,1.0
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,8.301075,0,5.0,1.410138,1.0,7.0,1.0
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,70.500000,4,1.0,1.000000,1.0,1.0,1.0
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,23.218310,5,5.0,1.084507,1.0,2.0,1.0
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,49.000000,5,3.0,1.000000,1.0,1.0,1.0
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,19.195652,2,0.0,1.130435,1.0,2.0,1.0
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,20.251502,5,5.0,1.557940,1.0,5.0,1.0
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,7.643243,5,5.0,1.362162,1.0,4.0,1.0
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,12.529720,1,1.0,1.495575,1.0,8.0,1.0

In [94]:
coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,...,5,5.0,1.590551,1.0,7.0,1.0,1.419580,1.0,21.0,1.0
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,...,1,1.0,2.573248,2.0,10.0,1.0,1.682335,1.0,24.0,1.0
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,...,5,5.0,1.117647,1.0,2.0,1.0,1.419580,1.0,21.0,1.0
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,...,5,2.0,1.000000,1.0,1.0,1.0,1.126785,1.0,9.0,1.0
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,...,1,5.0,1.161017,1.0,3.0,1.0,1.492898,1.0,23.0,1.0
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,...,4,4.0,1.270833,1.0,4.0,1.0,1.119451,1.0,5.0,1.0
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,...,1,5.0,1.501946,1.0,7.0,1.0,1.492898,1.0,23.0,1.0
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,...,1,2.0,1.100000,1.0,2.0,1.0,1.133389,1.0,6.0,1.0
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,...,5,2.0,1.215054,1.0,4.0,1.0,1.126785,1.0,9.0,1.0
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,...,5,0.0,1.131868,1.0,3.0,1.0,1.187149,1.0,12.0,1.0
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,...,1,4.0,1.121951,1.0,2.0,1.0,1.135140,1.0,6.0,1.0
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,...,5,3.0,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,...,4,2.0,NaN,NaN,NaN,NaN,1.094586,1.0,4.0,1.0
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,...,2,0.0,1.000000,1.0,1.0,1.0,1.111163,1.0,5.0,1.0
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,...,1,1.0,1.000000,1.0,1.0,1.0,1.682335,1.0,24.0,1.0
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,...,4,1.0,1.161972,1.0,3.0,1.0,1.118190,1.0,5.0,1.0
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,...,5,1.0,1.750890,1.0,6.0,1.0,1.464340,1.0,28.0,1.0
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,...,5,1.0,1.214765,1.0,5.0,1.0,1.464340,1.0,28.0,1.0
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,...,1,0.0,1.368421,1.0,7.0,1.0,1.162279,1.0,9.0,1.0
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,...,1,1.0,1.879265,1.0,9.0,1.0,1.682335,1.0,24.0,1.0
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,...,1,4.0,1.136364,1.0,3.0,1.0,1.135140,1.0,6.0,1.0
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,...,5,2.0,1.000000,1.0,1.0,1.0,1.126785,1.0,9.0,1.0
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,...,5,5.0,1.074074,1.0,2.0,1.0,1.419580,1.0,21.0,1.0
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,...,5,5.0,1.514151,1.0,5.0,1.0,1.419580,1.0,21.0,1.0
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,...,3,0.0,1.000000,1.0,1.0,1.0,1.092885,1.0,4.0,1.0
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,...,1,2.0,1.170455,1.0,2.0,1.0,1.133389,1.0,6.0,1.0
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,...,1,1.0,3.627767,3.0,15.0,1.0,1.682335,1.0,24.0,1.0
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,...,1,0.0,1.127273,1.0,4.0,1.0,1.162279,1.0,9.0,1.0
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,...,1,5.0,1.166667,1.0,4.0,1.0,1.492898,1.0,23.0,1.0
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,...,1,5.0,1.232558,1.0,3.0,1.0,1.492898,1.0,23.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,...,5,5.0,1.000000,1.0,1.0,1.0,1.419580,1.0,21.0,1.0
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,...,5,1.0,1.228395,1.0,3.0,1.0,1.464340,1.0,28.0,1.0
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,...,5,1.0,1.066667,1.0,2.0,1.0,1.464340,1.0,28.0,1.0
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,...,1,5.0,1.058824,1.0,2.0,1.0,1.492898,1.0,23.0,1.0
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,...,2,1.0,1.193548,1.0,5.0,1.0,1.153952,1.0,7.0,1.0
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,...,5,3.0,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,...,5,2.0,1.125000,1.0,2.0,1.0,1.126785,1.0,9.0,1.0
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,...,5,5.0,1.544248,1.0,7.0,1.0,1.419580,1.0,21.0,1.0
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,...,5,5.0,1.460938,1.0,5.0,1.0,1.419580,1.0,21.0,1.0
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,...,1,5.0,1.590909,1.0,7.0,1.0,1.492898,1.0,23.0,1.0
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,...,4,5.0,1.000000,1.0,1.0,1.0,1.115568,1.0,5.0,1.0
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,...,5,5.0,1.217391,1.0,3.0,1.0,1.419580,1.0,21.0,1.0
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,...,5,5.0,1.318182,1.0,4.0,1.0,1.419580,1.0,21.0,1.0
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,...,5,5.0,1.250000,1.0,4.0,1.0,1.419580,1.0,21.0,1.0
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,...,1,1.0,1.281250,1.0,4.0,1.0,1.682335,1.0,24.0,1.0
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,...,1,5.0,1.000000,1.0,1.0,1.0,1.492898,1.0,23.0,1.0
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,...,5,1.0,4.220994,3.0,28.0,1.0,1.464340,1.0,28.0,1.0
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,...,5,5.0,2.110119,2.0,12.0,1.0,1.419580,1.0,21.0,1.0
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,...,1,3.0,1.100000,1.0,2.0,1.0,1.130361,1.0,6.0,1.0
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,...,5,5.0,1.259843,1.0,4.0,1.0,1.419580,1.0,21.0,1.0
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,...,1,5.0,1.185185,1.0,2.0,1.0,1.492898,1.0,23.0,1.0
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,...,1,5.0,1.000000,1.0,1.0,1.0,1.492898,1.0,23.0,1.0
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,...,0,5.0,1.410138,1.0,7.0,1.0,1.212085,1.0,9.0,1.0
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,...,4,1.0,1.000000,1.0,1.0,1.0,1.118190,1.0,5.0,1.0
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,...,5,5.0,1.084507,1.0,2.0,1.0,1.419580,1.0,21.0,1.0
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,...,5,3.0,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,...,2,0.0,1.130435,1.0,2.0,1.0,1.111163,1.0,5.0,1.0
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,...,5,5.0,1.557940,1.0,5.0,1.0,1.419580,1.0,21.0,1.0
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,...,5,5.0,1.362162,1.0,4.0,1.0,1.419580,1.0,21.0,1.0
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,...,1,1.0,1.495575,1.0,8.0,1.0,1.682335,1.0,24.0,1.0

In [103]:
coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,...,1.590551,1.0,7.0,1.0,1.419580,1.0,21.0,1.0,0.047418,0.073056
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,...,2.573248,2.0,10.0,1.0,1.682335,1.0,24.0,1.0,0.108098,0.108166
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,...,1.117647,1.0,2.0,1.0,1.419580,1.0,21.0,1.0,0.001107,0.008482
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,...,1.000000,1.0,1.0,1.0,1.126785,1.0,9.0,1.0,0.000518,0.006050
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,...,1.161017,1.0,3.0,1.0,1.492898,1.0,23.0,1.0,0.008194,0.017852
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,...,1.270833,1.0,4.0,1.0,1.119451,1.0,5.0,1.0,0.030194,0.040687
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,...,1.501946,1.0,7.0,1.0,1.492898,1.0,23.0,1.0,0.045497,0.021254
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,...,1.100000,1.0,2.0,1.0,1.133389,1.0,6.0,1.0,0.000296,0.024123
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,...,1.215054,1.0,4.0,1.0,1.126785,1.0,9.0,1.0,0.012011,0.019004
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,...,1.131868,1.0,3.0,1.0,1.187149,1.0,12.0,1.0,0.012846,0.019660
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,...,1.121951,1.0,2.0,1.0,1.135140,1.0,6.0,1.0,0.009522,0.007404
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,...,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0,0.001856,0.025343
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.094586,1.0,4.0,1.0,NaN,NaN
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,...,1.000000,1.0,1.0,1.0,1.111163,1.0,5.0,1.0,0.000112,0.038462
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,...,1.000000,1.0,1.0,1.0,1.682335,1.0,24.0,1.0,0.005714,0.000084
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,...,1.161972,1.0,3.0,1.0,1.118190,1.0,5.0,1.0,0.020418,0.010753
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,...,1.750890,1.0,6.0,1.0,1.464340,1.0,28.0,1.0,0.018717,0.040497
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,...,1.214765,1.0,5.0,1.0,1.464340,1.0,28.0,1.0,0.006886,0.027988
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,...,1.368421,1.0,7.0,1.0,1.162279,1.0,9.0,1.0,0.043874,0.037255
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,...,1.879265,1.0,9.0,1.0,1.682335,1.0,24.0,1.0,0.019242,0.043867
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,...,1.136364,1.0,3.0,1.0,1.135140,1.0,6.0,1.0,0.002687,0.101112
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,...,1.000000,1.0,1.0,1.0,1.126785,1.0,9.0,1.0,0.000636,0.018182
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,...,1.074074,1.0,2.0,1.0,1.419580,1.0,21.0,1.0,0.009960,0.009667
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,...,1.514151,1.0,5.0,1.0,1.419580,1.0,21.0,1.0,0.046623,0.037818
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,...,1.000000,1.0,1.0,1.0,1.092885,1.0,4.0,1.0,0.006523,0.013127
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,...,1.170455,1.0,2.0,1.0,1.133389,1.0,6.0,1.0,0.007260,0.017323
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,...,3.627767,3.0,15.0,1.0,1.682335,1.0,24.0,1.0,0.048455,0.148407
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,...,1.127273,1.0,4.0,1.0,1.162279,1.0,9.0,1.0,0.003332,0.023669
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,...,1.166667,1.0,4.0,1.0,1.492898,1.0,23.0,1.0,0.007426,0.007000
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,...,1.232558,1.0,3.0,1.0,1.492898,1.0,23.0,1.0,0.018407,0.017667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,...,1.000000,1.0,1.0,1.0,1.419580,1.0,21.0,1.0,0.002537,0.004159
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,...,1.228395,1.0,3.0,1.0,1.464340,1.0,28.0,1.0,0.061553,0.030772
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,...,1.066667,1.0,2.0,1.0,1.464340,1.0,28.0,1.0,0.001701,0.011730
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,...,1.058824,1.0,2.0,1.0,1.492898,1.0,23.0,1.0,0.002084,0.005184
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,...,1.193548,1.0,5.0,1.0,1.153952,1.0,7.0,1.0,0.012391,0.009349
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,...,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0,0.001340,0.067449
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,...,1.125000,1.0,2.0,1.0,1.126785,1.0,9.0,1.0,0.000691,0.076923
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,...,1.544248,1.0,7.0,1.0,1.419580,1.0,21.0,1.0,0.044755,0.049701
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,...,1.460938,1.0,5.0,1.0,1.419580,1.0,21.0,1.0,0.065787,0.062116
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,...,1.590909,1.0,7.0,1.0,1.492898,1.0,23.0,1.0,0.043703,0.061620
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,...,1.000000,1.0,1.0,1.0,1.115568,1.0,5.0,1.0,0.000124,0.002625
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,...,1.217391,1.0,3.0,1.0,1.419580,1.0,21.0,1.0,0.009859,0.009896
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,...,1.318182,1.0,4.0,1.0,1.419580,1.0,21.0,1.0,0.049022,0.047552
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,...,1.250000,1.0,4.0,1.0,1.419580,1.0,21.0,1.0,0.029289,0.009137
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,...,1.281250,1.0,4.0,1.0,1.682335,1.0,24.0,1.0,0.005509,0.024425
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,...,1.000000,1.0,1.0,1.0,1.492898,1.0,23.0,1.0,0.001282,0.000252
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,...,4.220994,3.0,28.0,1.0,1.464340,1.0,28.0,1.0,0.125651,0.069808
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,...,2.110119,2.0,12.0,1.0,1.419580,1.0,21.0,1.0,0.081168,0.059370
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,...,1.100000,1.0,2.0,1.0,1.130361,1.0,6.0,1.0,0.000775,0.021956
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,...,1.259843,1.0,4.0,1.0,1.419580,1.0,21.0,1.0,0.018427,0.018801
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,...,1.185185,1.0,2.0,1.0,1.492898,1.0,23.0,1.0,0.002568,0.037471
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,...,1.000000,1.0,1.0,1.0,1.492898,1.0,23.0,1.0,0.006986,0.002016
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,...,1.410138,1.0,7.0,1.0,1.212085,1.0,9.0,1.0,0.038404,0.035958
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,...,1.000000,1.0,1.0,1.0,1.118190,1.0,5.0,1.0,0.003200,0.000909
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,...,1.084507,1.0,2.0,1.0,1.419580,1.0,21.0,1.0,0.008811,0.008049
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,...,1.000000,1.0,1.0,1.0,1.122001,1.0,5.0,1.0,0.000308,0.007335
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,...,1.130435,1.0,2.0,1.0,1.111163,1.0,5.0,1.0,0.002902,0.032581
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,...,1.557940,1.0,5.0,1.0,1.419580,1.0,21.0,1.0,0.028072,0.019988
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,...,1.362162,1.0,4.0,1.0,1.419580,1.0,21.0,1.0,0.039437,0.032894
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,...,1.495575,1.0,8.0,1.0,1.682335,1.0,24.0,1.0,0.023823,0.020708

In [105]:
coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,...,7.0,1.0,1.419580,1.0,21.0,1.0,0.047418,0.073056,0.578574,0.583226
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,...,10.0,1.0,1.682335,1.0,24.0,1.0,0.108098,0.108166,0.317937,0.332440
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,...,2.0,1.0,1.419580,1.0,21.0,1.0,0.001107,0.008482,0.578574,0.583226
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,...,1.0,1.0,1.126785,1.0,9.0,1.0,0.000518,0.006050,0.040975,0.480834
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,...,3.0,1.0,1.492898,1.0,23.0,1.0,0.008194,0.017852,0.533584,0.276288
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,...,4.0,1.0,1.119451,1.0,5.0,1.0,0.030194,0.040687,0.154930,0.121025
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,...,7.0,1.0,1.492898,1.0,23.0,1.0,0.045497,0.021254,0.533584,0.276288
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,...,2.0,1.0,1.133389,1.0,6.0,1.0,0.000296,0.024123,0.039409,0.237545
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,...,4.0,1.0,1.126785,1.0,9.0,1.0,0.012011,0.019004,0.040975,0.480834
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,...,3.0,1.0,1.187149,1.0,12.0,1.0,0.012846,0.019660,0.054596,0.521747
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,...,2.0,1.0,1.135140,1.0,6.0,1.0,0.009522,0.007404,0.035562,0.240217
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,...,1.0,1.0,1.122001,1.0,5.0,1.0,0.001856,0.025343,0.029277,0.523779
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,...,NaN,NaN,1.094586,1.0,4.0,1.0,NaN,NaN,0.083808,0.058420
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,...,1.0,1.0,1.111163,1.0,5.0,1.0,0.000112,0.038462,0.082909,0.067451
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,...,1.0,1.0,1.682335,1.0,24.0,1.0,0.005714,0.000084,0.317937,0.332440
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,...,3.0,1.0,1.118190,1.0,5.0,1.0,0.020418,0.010753,0.235791,0.028512
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,...,6.0,1.0,1.464340,1.0,28.0,1.0,0.018717,0.040497,0.261995,0.533313
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,...,5.0,1.0,1.464340,1.0,28.0,1.0,0.006886,0.027988,0.261995,0.533313
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,...,7.0,1.0,1.162279,1.0,9.0,1.0,0.043874,0.037255,0.046415,0.227842
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,...,9.0,1.0,1.682335,1.0,24.0,1.0,0.019242,0.043867,0.317937,0.332440
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,...,3.0,1.0,1.135140,1.0,6.0,1.0,0.002687,0.101112,0.035562,0.240217
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,...,1.0,1.0,1.126785,1.0,9.0,1.0,0.000636,0.018182,0.040975,0.480834
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,...,2.0,1.0,1.419580,1.0,21.0,1.0,0.009960,0.009667,0.578574,0.583226
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,...,5.0,1.0,1.419580,1.0,21.0,1.0,0.046623,0.037818,0.578574,0.583226
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,...,1.0,1.0,1.092885,1.0,4.0,1.0,0.006523,0.013127,0.068662,0.031358
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,...,2.0,1.0,1.133389,1.0,6.0,1.0,0.007260,0.017323,0.039409,0.237545
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,...,15.0,1.0,1.682335,1.0,24.0,1.0,0.048455,0.148407,0.317937,0.332440
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,...,4.0,1.0,1.162279,1.0,9.0,1.0,0.003332,0.023669,0.046415,0.227842
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,...,4.0,1.0,1.492898,1.0,23.0,1.0,0.007426,0.007000,0.533584,0.276288
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,...,3.0,1.0,1.492898,1.0,23.0,1.0,0.018407,0.017667,0.533584,0.276288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,...,1.0,1.0,1.419580,1.0,21.0,1.0,0.002537,0.004159,0.578574,0.583226
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,...,3.0,1.0,1.464340,1.0,28.0,1.0,0.061553,0.030772,0.261995,0.533313
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,...,2.0,1.0,1.464340,1.0,28.0,1.0,0.001701,0.011730,0.261995,0.533313
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,...,2.0,1.0,1.492898,1.0,23.0,1.0,0.002084,0.005184,0.533584,0.276288
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,...,5.0,1.0,1.153952,1.0,7.0,1.0,0.012391,0.009349,0.233533,0.040469
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,...,1.0,1.0,1.122001,1.0,5.0,1.0,0.001340,0.067449,0.029277,0.523779
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,...,2.0,1.0,1.126785,1.0,9.0,1.0,0.000691,0.076923,0.040975,0.480834
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,...,7.0,1.0,1.419580,1.0,21.0,1.0,0.044755,0.049701,0.578574,0.583226
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,...,5.0,1.0,1.419580,1.0,21.0,1.0,0.065787,0.062116,0.578574,0.583226
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,...,7.0,1.0,1.492898,1.0,23.0,1.0,0.043703,0.061620,0.533584,0.276288
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,...,1.0,1.0,1.115568,1.0,5.0,1.0,0.000124,0.002625,0.409799,0.024539
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,...,3.0,1.0,1.419580,1.0,21.0,1.0,0.009859,0.009896,0.578574,0.583226
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,...,4.0,1.0,1.419580,1.0,21.0,1.0,0.049022,0.047552,0.578574,0.583226
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,...,4.0,1.0,1.419580,1.0,21.0,1.0,0.029289,0.009137,0.578574,0.583226
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,...,4.0,1.0,1.682335,1.0,24.0,1.0,0.005509,0.024425,0.317937,0.332440
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,...,1.0,1.0,1.492898,1.0,23.0,1.0,0.001282,0.000252,0.533584,0.276288
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,...,28.0,1.0,1.464340,1.0,28.0,1.0,0.125651,0.069808,0.261995,0.533313
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,...,12.0,1.0,1.419580,1.0,21.0,1.0,0.081168,0.059370,0.578574,0.583226
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,...,2.0,1.0,1.130361,1.0,6.0,1.0,0.000775,0.021956,0.027094,0.248992
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,...,4.0,1.0,1.419580,1.0,21.0,1.0,0.018427,0.018801,0.578574,0.583226
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,...,2.0,1.0,1.492898,1.0,23.0,1.0,0.002568,0.037471,0.533584,0.276288
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,...,1.0,1.0,1.492898,1.0,23.0,1.0,0.006986,0.002016,0.533584,0.276288
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,...,7.0,1.0,1.212085,1.0,9.0,1.0,0.038404,0.035958,0.514716,0.051413
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,...,1.0,1.0,1.118190,1.0,5.0,1.0,0.003200,0.000909,0.235791,0.028512
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,...,2.0,1.0,1.419580,1.0,21.0,1.0,0.008811,0.008049,0.578574,0.583226
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,...,1.0,1.0,1.122001,1.0,5.0,1.0,0.000308,0.007335,0.029277,0.523779
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,...,2.0,1.0,1.111163,1.0,5.0,1.0,0.002902,0.032581,0.082909,0.067451
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,...,5.0,1.0,1.419580,1.0,21.0,1.0,0.028072,0.019988,0.578574,0.583226
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,...,4.0,1.0,1.419580,1.0,21.0,1.0,0.039437,0.032894,0.578574,0.583226
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,...,8.0,1.0,1.682335,1.0,24.0,1.0,0.023823,0.020708,0.317937,0.332440

### Time

In [107]:
map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr.loc[:,'hour_cls'] = valid_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls
0,2017-08-01,0,31,31,1,0,1,36.315000,29.154909,2379.361605,...,1.0,1.419580,1.0,21.0,1.0,0.047418,0.073056,0.578574,0.583226,0
1,2017-08-01,0,21,21,2,0,1,29.016364,28.290117,2388.217566,...,1.0,1.682335,1.0,24.0,1.0,0.108098,0.108166,0.317937,0.332440,0
2,2017-08-01,0,9,49,1,0,1,148.000000,99.000000,21345.764706,...,1.0,1.419580,1.0,21.0,1.0,0.001107,0.008482,0.578574,0.583226,0
3,2017-08-01,0,22,118,1,0,1,NaN,97.000000,19857.100000,...,1.0,1.126785,1.0,9.0,1.0,0.000518,0.006050,0.040975,0.480834,0
4,2017-08-01,0,39,90,3,0,1,81.384167,98.046667,14912.451977,...,1.0,1.492898,1.0,23.0,1.0,0.008194,0.017852,0.533584,0.276288,0
5,2017-08-01,0,5,5,3,0,1,30.427917,28.097436,3839.464410,...,1.0,1.119451,1.0,5.0,1.0,0.030194,0.040687,0.154930,0.121025,0
6,2017-08-01,0,13,27,2,0,1,55.440000,47.998287,6068.234640,...,1.0,1.492898,1.0,23.0,1.0,0.045497,0.021254,0.533584,0.276288,0
7,2017-08-01,0,24,105,1,0,1,NaN,NaN,18498.900000,...,1.0,1.133389,1.0,6.0,1.0,0.000296,0.024123,0.039409,0.237545,0
8,2017-08-01,0,17,47,1,0,1,NaN,109.277778,22979.020609,...,1.0,1.126785,1.0,9.0,1.0,0.012011,0.019004,0.040975,0.480834,0
9,2017-08-01,0,70,25,1,0,1,46.505000,51.310000,7198.996337,...,1.0,1.187149,1.0,12.0,1.0,0.012846,0.019660,0.054596,0.521747,0
10,2017-08-01,0,77,60,1,0,1,NaN,157.360000,29659.475610,...,1.0,1.135140,1.0,6.0,1.0,0.009522,0.007404,0.035562,0.240217,0
11,2017-08-01,0,72,95,1,0,1,NaN,NaN,27710.500000,...,1.0,1.122001,1.0,5.0,1.0,0.001856,0.025343,0.029277,0.523779,0
12,2017-08-01,0,5,176,1,0,1,NaN,NaN,NaN,...,NaN,1.094586,1.0,4.0,1.0,NaN,NaN,0.083808,0.058420,0
13,2017-08-01,2,47,183,1,0,1,NaN,NaN,24308.000000,...,1.0,1.111163,1.0,5.0,1.0,0.000112,0.038462,0.082909,0.067451,1
14,2017-08-01,2,83,15,1,0,1,NaN,NaN,31292.000000,...,1.0,1.682335,1.0,24.0,1.0,0.005714,0.000084,0.317937,0.332440,1
15,2017-08-01,2,5,39,1,0,1,141.000000,118.015556,23996.766432,...,1.0,1.118190,1.0,5.0,1.0,0.020418,0.010753,0.235791,0.028512,1
16,2017-08-01,2,6,1,1,0,1,55.000000,66.001167,9795.468505,...,1.0,1.464340,1.0,28.0,1.0,0.018717,0.040497,0.261995,0.533313,1
17,2017-08-01,2,6,50,1,0,1,104.000000,88.950476,13494.528523,...,1.0,1.464340,1.0,28.0,1.0,0.006886,0.027988,0.261995,0.533313,1
18,2017-08-01,2,51,8,1,0,1,38.795000,36.648333,4181.725188,...,1.0,1.162279,1.0,9.0,1.0,0.043874,0.037255,0.046415,0.227842,1
19,2017-08-01,2,24,55,2,0,1,61.995000,73.523105,11153.139024,...,1.0,1.682335,1.0,24.0,1.0,0.019242,0.043867,0.317937,0.332440,1
20,2017-08-01,2,24,158,1,0,1,65.500000,50.416667,8316.636364,...,1.0,1.135140,1.0,6.0,1.0,0.002687,0.101112,0.035562,0.240217,1
21,2017-08-01,2,65,292,2,0,1,NaN,NaN,17609.000000,...,1.0,1.126785,1.0,9.0,1.0,0.000636,0.018182,0.040975,0.480834,1
22,2017-08-01,4,61,19,1,0,1,NaN,82.562500,14358.265432,...,1.0,1.419580,1.0,21.0,1.0,0.009960,0.009667,0.578574,0.583226,1
23,2017-08-01,4,88,61,1,0,1,NaN,37.493627,4124.396226,...,1.0,1.419580,1.0,21.0,1.0,0.046623,0.037818,0.578574,0.583226,1
24,2017-08-01,4,40,66,2,0,1,NaN,27.000000,6207.117647,...,1.0,1.092885,1.0,4.0,1.0,0.006523,0.013127,0.068662,0.031358,1
25,2017-08-01,4,15,47,1,0,1,176.000000,198.117727,30546.954545,...,1.0,1.133389,1.0,6.0,1.0,0.007260,0.017323,0.039409,0.237545,1
26,2017-08-01,4,24,1,1,0,1,49.891346,47.341116,6363.468114,...,1.0,1.682335,1.0,24.0,1.0,0.048455,0.148407,0.317937,0.332440,1
27,2017-08-01,4,24,25,1,0,1,101.815000,119.816538,19322.359091,...,1.0,1.162279,1.0,9.0,1.0,0.003332,0.023669,0.046415,0.227842,1
28,2017-08-01,4,13,19,1,0,1,NaN,67.928571,11049.611111,...,1.0,1.492898,1.0,23.0,1.0,0.007426,0.007000,0.533584,0.276288,1
29,2017-08-01,4,86,19,1,0,1,42.240000,51.908833,7163.346253,...,1.0,1.492898,1.0,23.0,1.0,0.018407,0.017667,0.533584,0.276288,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,63,31,1,0,0,157.000000,119.023333,21118.478261,...,1.0,1.419580,1.0,21.0,1.0,0.002537,0.004159,0.578574,0.583226,0
4971,2017-08-07,22,48,50,2,0,0,46.000000,35.143827,4502.020576,...,1.0,1.464340,1.0,28.0,1.0,0.061553,0.030772,0.261995,0.533313,0
4972,2017-08-07,22,17,37,1,0,0,113.666667,81.125000,17667.566667,...,1.0,1.464340,1.0,28.0,1.0,0.001701,0.011730,0.261995,0.533313,0
4973,2017-08-07,22,86,23,1,0,0,103.456000,NaN,16739.470588,...,1.0,1.492898,1.0,23.0,1.0,0.002084,0.005184,0.533584,0.276288,0
4974,2017-08-07,22,47,15,1,0,0,174.750000,150.662857,28854.352330,...,1.0,1.153952,1.0,7.0,1.0,0.012391,0.009349,0.233533,0.040469,0
4975,2017-08-07,22,9,128,1,0,0,80.000000,63.000000,12958.608696,...,1.0,1.122001,1.0,5.0,1.0,0.001340,0.067449,0.029277,0.523779,0
4976,2017-08-07,22,10,260,1,0,0,NaN,NaN,16481.375000,...,1.0,1.126785,1.0,9.0,1.0,0.000691,0.076923,0.040975,0.480834,0
4977,2017-08-07,22,90,88,2,0,0,45.311111,35.276324,4315.007427,...,1.0,1.419580,1.0,21.0,1.0,0.044755,0.049701,0.578574,0.583226,0
4978,2017-08-07,22,3,3,1,0,0,33.209048,30.771349,2226.982292,...,1.0,1.419580,1.0,21.0,1.0,0.065787,0.062116,0.578574,0.583226,0
4979,2017-08-07,22,21,64,2,0,0,43.285614,37.421407,4304.646691,...,1.0,1.492898,1.0,23.0,1.0,0.043703,0.061620,0.533584,0.276288,0
4980,2017-08-07,22,5,78,1,0,0,NaN,NaN,39740.000000,...,1.0,1.115568,1.0,5.0,1.0,0.000124,0.002625,0.409799,0.024539,0
4981,2017-08-07,22,31,61,1,0,0,96.000000,76.954545,14123.021739,...,1.0,1.419580,1.0,21.0,1.0,0.009859,0.009896,0.578574,0.583226,0
4982,2017-08-07,22,80,80,1,0,0,47.147500,30.246728,2938.302489,...,1.0,1.419580,1.0,21.0,1.0,0.049022,0.047552,0.578574,0.583226,0
4983,2017-08-07,22,85,20,1,0,0,54.000000,59.328571,10522.843750,...,1.0,1.419580,1.0,21.0,1.0,0.029289,0.009137,0.578574,0.583226,0
4984,2017-08-07,22,24,34,1,0,0,107.486053,89.903958,14785.079167,...,1.0,1.682335,1.0,24.0,1.0,0.005509,0.024425,0.317937,0.332440,0
4985,2017-08-07,22,2,64,1,0,0,118.000000,118.000000,21721.000000,...,1.0,1.492898,1.0,23.0,1.0,0.001282,0.000252,0.533584,0.276288,0
4986,2017-08-07,22,27,24,1,0,0,47.570391,36.884166,4392.954037,...,1.0,1.464340,1.0,28.0,1.0,0.125651,0.069808,0.261995,0.533313,0
4987,2017-08-07,22,61,10,1,0,0,39.232143,33.064543,4136.834144,...,1.0,1.419580,1.0,21.0,1.0,0.081168,0.059370,0.578574,0.583226,0
4988,2017-08-07,22,15,189,1,0,0,NaN,64.000000,11260.300000,...,1.0,1.130361,1.0,6.0,1.0,0.000775,0.021956,0.027094,0.248992,0
4989,2017-08-07,22,76,63,1,0,0,61.435897,46.785000,7096.664698,...,1.0,1.419580,1.0,21.0,1.0,0.018427,0.018801,0.578574,0.583226,0
4990,2017-08-07,22,1,191,1,0,0,102.000000,70.500000,16326.037037,...,1.0,1.492898,1.0,23.0,1.0,0.002568,0.037471,0.533584,0.276288,0
4991,2017-08-07,22,59,23,1,0,0,59.000000,NaN,13490.285714,...,1.0,1.492898,1.0,23.0,1.0,0.006986,0.002016,0.533584,0.276288,0
4992,2017-08-07,22,8,63,1,0,0,50.273750,36.635263,4512.010917,...,1.0,1.212085,1.0,9.0,1.0,0.038404,0.035958,0.514716,0.051413,0
4993,2017-08-07,22,60,74,1,0,0,NaN,NaN,42779.000000,...,1.0,1.118190,1.0,5.0,1.0,0.003200,0.000909,0.235791,0.028512,0
4994,2017-08-07,22,19,26,1,0,0,85.478333,62.161429,12035.119718,...,1.0,1.419580,1.0,21.0,1.0,0.008811,0.008049,0.578574,0.583226,0
4995,2017-08-07,22,26,143,1,0,0,145.000000,152.000000,30755.666667,...,1.0,1.122001,1.0,5.0,1.0,0.000308,0.007335,0.029277,0.523779,0
4996,2017-08-07,22,47,146,1,0,0,56.000000,58.000000,12891.130435,...,1.0,1.111163,1.0,5.0,1.0,0.002902,0.032581,0.082909,0.067451,0
4997,2017-08-07,22,72,27,2,0,0,82.509417,67.797072,11109.938627,...,1.0,1.419580,1.0,21.0,1.0,0.028072,0.019988,0.578574,0.583226,0
4998,2017-08-07,22,71,20,2,0,0,41.641458,38.080340,4206.716667,...,1.0,1.419580,1.0,21.0,1.0,0.039437,0.032894,0.578574,0.583226,0
4999,2017-08-07,22,15,55,1,0,0,61.995625,45.422883,6514.173562,...,1.0,1.682335,1.0,24.0,1.0,0.023823,0.020708,0.317937,0.332440,0

In [113]:
coord_hour = train_tr.groupby('create_hour', as_index=False)['demand_count'].agg({'demand_count_h_avg':'std'})
coord_hour

    create_hour  demand_count_h_avg
0             0            0.715362
1             1            0.542483
2             2            0.445038
3             3            0.479545
4             4            0.409011
5             5            0.455702
6             6            0.485900
7             7            0.857049
8             8            1.223350
9             9            1.121640
10           10            0.802040
11           11            0.923308
12           12            0.819190
13           13            0.940280
14           14            0.930269
15           15            0.826970
16           16            0.858151
17           17            1.062571
18           18            1.181014
19           19            0.879277
20           20            0.861024
21           21            1.001478
22           22            0.912581
23           23            0.836300