In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 8,6

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
train_jul_demand_path = '../../UAI_data/input/tain_jul_demand.csv'
train_aug_demand_path = '../../UAI_data/input/tain_aug_demand.csv'
location_path = '../../UAI_data/input/location_cls.csv'
holiday_path = '../../UAI_data/input/holiday.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
train_jul_demand = pd.read_csv(train_jul_demand_path,encoding='gbk')
train_aug_demand = pd.read_csv(train_aug_demand_path,encoding='gbk')
loc_cls = pd.read_csv(location_path)
holiday = pd.read_csv(holiday_path)
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

###  Helper Functions

In [2]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

In [3]:
# train_jul_exc = train_jul[train_jul['driver_id'] != 2].copy()
train_jul_exc = train_jul.copy()
coord_jul = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_jul.loc[:,'estimate_money_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].mean()['estimate_money']
# coord_jul.loc[:,'estimate_money_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].median()['estimate_money']
# coord_jul.loc[:,'estimate_money_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].max()['estimate_money']
# coord_jul.loc[:,'estimate_money_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].min()['estimate_money']
coord_jul.loc[:,'estimate_distance_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].mean()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].median()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].max()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].min()['estimate_distance']
coord_jul.loc[:,'estimate_term_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].mean()['estimate_term']
# coord_jul.loc[:,'estimate_term_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].median()['estimate_term']
# coord_jul.loc[:,'estimate_term_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].max()['estimate_term']
# coord_jul.loc[:,'estimate_term_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].min()['estimate_term']

# coord_jul.to_csv('train_jul_exc.csv',index=False)
coord_jul

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [4]:
test

      test_id create_date  create_hour  start_geo_id  end_geo_id
0           0    2017/8/1           21            24          27
1           1    2017/8/1           21            24           9
2           2    2017/8/1           21            24          22
3           3    2017/8/1           17            24           9
4           4    2017/8/1           17            55          55
5           5    2017/8/1           17           110          88
6           6    2017/8/1            9            23          21
7           7    2017/8/1           21            16          50
8           8    2017/8/1           13             6          24
9           9    2017/8/1           21             6          22
10         10    2017/8/1           17             6           9
11         11    2017/8/1           21            34          90
12         12    2017/8/1            9             1          13
13         13    2017/8/1           21            24          13
14         14    2017/8/1           21            10          10
15         15    2017/8/1           13            48          72
16         16    2017/8/1            7           649         111
17         17    2017/8/1           21            18          22
18         18    2017/8/1           13            15           6
19         19    2017/8/1           17            24          22
20         20    2017/8/1           21             6          24
21         21    2017/8/1           11            24          24
22         22    2017/8/1           13            27          27
23         23    2017/8/1           21            90          50
24         24    2017/8/1           21            24           6
25         25    2017/8/1           15           152          77
26         26    2017/8/1           11           140         103
27         27    2017/8/1           11            22          24
28         28    2017/8/1            9             1          39
29         29    2017/8/1           13            24          55
...       ...         ...          ...           ...         ...
4970     4970    2017/8/7           17           318          61
4971     4971    2017/8/7            9             6         649
4972     4972    2017/8/7           11           266         267
4973     4973    2017/8/7            5           119          31
4974     4974    2017/8/7           15           107          24
4975     4975    2017/8/7           23           266         267
4976     4976    2017/8/7            7            47         459
4977     4977    2017/8/7           23          1282          73
4978     4978    2017/8/7           21           817         193
4979     4979    2017/8/7           15           379         120
4980     4980    2017/8/7            3           459        1285
4981     4981    2017/8/7           21           110         364
4982     4982    2017/8/7           17           107          24
4983     4983    2017/8/7           13             5          26
4984     4984    2017/8/7            5           229          59
4985     4985    2017/8/7            5           292         735
4986     4986    2017/8/7           15            92         327
4987     4987    2017/8/7            9           205         146
4988     4988    2017/8/7           21          1283         323
4989     4989    2017/8/7            1           107          24
4990     4990    2017/8/7           17            79         117
4991     4991    2017/8/7           21           331         837
4992     4992    2017/8/7           19           260         353
4993     4993    2017/8/7           19           228        1013
4994     4994    2017/8/7            1           316         316
4995     4995    2017/8/7           17           354         403
4996     4996    2017/8/7           23           275         264
4997     4997    2017/8/7           15           110         364
4998     4998    2017/8/7           13           817         193
4999     4999    2017/8/7           13            92         327

[5000 rows x 5 columns]

In [5]:
train_aug_demand

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [6]:
test['create_hour'].value_counts()

22    443
20    411
21    383
17    346
13    334
9     313
18    261
15    254
8     246
16    242
11    240
7     234
19    225
10    211
14    201
12    180
23    147
6      76
0      70
1      61
5      47
3      30
2      25
4      20
Name: create_hour, dtype: int64

### Valid set split

In [7]:
# train_aug_exc = train_aug[train_aug['driver_id'] != 2].copy()
train_aug_exc = train_aug.copy()
coord_aug = train_aug_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
# coord_aug.to_csv('train_aug_exc.csv',index=False)
coord_aug

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [8]:
dict_list = {
'l_50' : [0,1,2,3,4,5],
'l_100' : [6],
'l_150' : [12,23],
'l_200' : [10,14,19],
'l_250' : [7,8,11,15,16,18],
'l_300' : [9,13],
'l_350' : [17],
'l_400' : [20,21]
# 'l_450' : [22]
}
l_22 = coord_aug[coord_aug['create_hour'] == 22].index
r = np.random.choice(l_22,450)
valid = coord_aug.iloc[r]
for key,l in dict_list.items():
    num =  int(key.split('_')[1])
    for hour in l:
        l_tmp = coord_aug[coord_aug['create_hour'] == hour].index
        r = np.random.choice(l_tmp,num)
        tmp_valid = coord_aug.iloc[r].copy()
        valid = pd.concat([valid,tmp_valid],axis=0)
valid.sort_values(['create_date','create_hour'],inplace=True)
valid

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
234    2017-08-01            0            71          23             1
110    2017-08-01            0            24           2             2
167    2017-08-01            0            39           6             2
151    2017-08-01            0            27          24             5
57     2017-08-01            0            15          38             1
237    2017-08-01            0            71         149             1
221    2017-08-01            0            63          57             1
289    2017-08-01            0           174         190             1
303    2017-08-01            2             5           9             1
360    2017-08-01            2            47          33             1
345    2017-08-01            2            27          63             1
356    2017-08-01            2            40           2             3
319    2017-08-01            2            17          23             1
346    2017-08-01            2            27          79             1
299    2017-08-01            2             1          26             1
302    2017-08-01            2             3          15             1
300    2017-08-01            2             1          79             1
344    2017-08-01            2            27          22             1
303    2017-08-01            2             5           9             1
321    2017-08-01            2            19          15             1
383    2017-08-01            4             5          80             1
440    2017-08-01            4            90          90             1
406    2017-08-01            4            27          13             1
410    2017-08-01            4            33          15             1
388    2017-08-01            4            13          47             1
410    2017-08-01            4            33          15             1
381    2017-08-01            4             3          47             1
433    2017-08-01            4            71          60             1
385    2017-08-01            4             6          19             1
395    2017-08-01            4            17           5             1
...           ...          ...           ...         ...           ...
54223  2017-08-07           22            16          64             1
54205  2017-08-07           22            15          66             1
54185  2017-08-07           22            14          26             1
54412  2017-08-07           22            26          26             3
54447  2017-08-07           22            30          90             2
54370  2017-08-07           22            24          33             2
54333  2017-08-07           22            22          38             1
54572  2017-08-07           22            55          10             2
54585  2017-08-07           22            55          79             1
54139  2017-08-07           22            10           6             1
54207  2017-08-07           22            15          90             1
54369  2017-08-07           22            24          29             2
54200  2017-08-07           22            15          39             1
54436  2017-08-07           22            27          56             1
54441  2017-08-07           22            27         117             1
54393  2017-08-07           22            24         133             2
54159  2017-08-07           22            10          88             3
54137  2017-08-07           22             9         109             1
54217  2017-08-07           22            16          40             1
54519  2017-08-07           22            44          10             1
54154  2017-08-07           22            10          71             2
54750  2017-08-07           22            88          49             1
54497  2017-08-07           22            39          58             1
54752  2017-08-07           22            88          88             2
54749  2017-08-07           22            88          44             1
54605  2017-08-07           22            60         103             1
54175  2017-08-07           22            13          44             1
54752  2017-08-07           22            88          88             2
54648  2017-08-07           22            64          10             1
54583  2017-08-07           22            55          57             1

[5000 rows x 5 columns]

In [9]:
valid['create_hour'].unique()

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22,  1,  3,  5,  7,  9,
       11, 13, 15, 17, 19, 21, 23], dtype=int64)

## Feature Extracting
### 1. order list attribution

In [10]:
train_tr = coord_jul.copy()
valid_tr = valid.copy()
train_tr
# valid_tr
# valid_tr['demand_count']

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [11]:
# # time attribution
# holiday['create_date'] = pd.to_datetime(holiday['create_date'])
# train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
# valid_tr['create_date'] = pd.to_datetime(valid_tr['create_date'])
# train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
# valid_tr = pd.merge(valid_tr,holiday,on='create_date',how='left')
# train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
# valid_tr['dayOfWeek'] = valid_tr['create_date'].dt.dayofweek
# train_tr

# time attribution
holiday['create_date'] = pd.to_datetime(holiday['create_date'])
train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
test['create_date'] = pd.to_datetime(test['create_date'])
train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
test = pd.merge(test,holiday,on='create_date',how='left')
train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
test['dayOfWeek'] = test['create_date'].dt.dayofweek
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek
0,0,2017-08-01,21,24,27,0,1
1,1,2017-08-01,21,24,9,0,1
2,2,2017-08-01,21,24,22,0,1
3,3,2017-08-01,17,24,9,0,1
4,4,2017-08-01,17,55,55,0,1
5,5,2017-08-01,17,110,88,0,1
6,6,2017-08-01,9,23,21,0,1
7,7,2017-08-01,21,16,50,0,1
8,8,2017-08-01,13,6,24,0,1
9,9,2017-08-01,21,6,22,0,1
10,10,2017-08-01,17,6,9,0,1
11,11,2017-08-01,21,34,90,0,1
12,12,2017-08-01,9,1,13,0,1
13,13,2017-08-01,21,24,13,0,1
14,14,2017-08-01,21,10,10,0,1
15,15,2017-08-01,13,48,72,0,1
16,16,2017-08-01,7,649,111,0,1
17,17,2017-08-01,21,18,22,0,1
18,18,2017-08-01,13,15,6,0,1
19,19,2017-08-01,17,24,22,0,1
20,20,2017-08-01,21,6,24,0,1
21,21,2017-08-01,11,24,24,0,1
22,22,2017-08-01,13,27,27,0,1
23,23,2017-08-01,21,90,50,0,1
24,24,2017-08-01,21,24,6,0,1
25,25,2017-08-01,15,152,77,0,1
26,26,2017-08-01,11,140,103,0,1
27,27,2017-08-01,11,22,24,0,1
28,28,2017-08-01,9,1,39,0,1
29,29,2017-08-01,13,24,55,0,1
...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0
4971,4971,2017-08-07,9,6,649,0,0
4972,4972,2017-08-07,11,266,267,0,0
4973,4973,2017-08-07,5,119,31,0,0
4974,4974,2017-08-07,15,107,24,0,0
4975,4975,2017-08-07,23,266,267,0,0
4976,4976,2017-08-07,7,47,459,0,0
4977,4977,2017-08-07,23,1282,73,0,0
4978,4978,2017-08-07,21,817,193,0,0
4979,4979,2017-08-07,15,379,120,0,0
4980,4980,2017-08-07,3,459,1285,0,0
4981,4981,2017-08-07,21,110,364,0,0
4982,4982,2017-08-07,17,107,24,0,0
4983,4983,2017-08-07,13,5,26,0,0
4984,4984,2017-08-07,5,229,59,0,0
4985,4985,2017-08-07,5,292,735,0,0
4986,4986,2017-08-07,15,92,327,0,0
4987,4987,2017-08-07,9,205,146,0,0
4988,4988,2017-08-07,21,1283,323,0,0
4989,4989,2017-08-07,1,107,24,0,0
4990,4990,2017-08-07,17,79,117,0,0
4991,4991,2017-08-07,21,331,837,0,0
4992,4992,2017-08-07,19,260,353,0,0
4993,4993,2017-08-07,19,228,1013,0,0
4994,4994,2017-08-07,1,316,316,0,0
4995,4995,2017-08-07,17,354,403,0,0
4996,4996,2017-08-07,23,275,264,0,0
4997,4997,2017-08-07,15,110,364,0,0
4998,4998,2017-08-07,13,817,193,0,0
4999,4999,2017-08-07,13,92,327,0,0

In [12]:
# coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
# coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
# coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
# coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
# train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr

coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,7.027449
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,7.254807
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,8.080604
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,7.254807
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,3.811067
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,24.962366
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,12.909258
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,16.434430
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,9.189806
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,14.609754
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,12.455708
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,8.097914
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,8.656618
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,7.681063
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,4.515342
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,23.500786
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,56.704932
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,13.290378
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,6.939842
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,8.080604
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,9.189806
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,4.419368
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,4.459473
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,8.808363
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,8.802274
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,11.272222
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,12.750000
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,8.027218
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,17.072871
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,21.453378
...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,39.000000
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,NaN
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,NaN
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,32.800000
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,20.913725
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,NaN
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,NaN
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,NaN
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,NaN
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,NaN
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,20.913725
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,31.018601
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,38.000000
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,NaN
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,NaN
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,NaN
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,20.913725
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,16.750000
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,NaN
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,11.000000
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,NaN
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,NaN
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,NaN
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,NaN
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,NaN
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,NaN
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,NaN

### 2.Location
#### 2.1 Pure location

In [13]:
# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# valid_tr = pd.merge(valid_tr,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# valid_tr = pd.merge(valid_tr,loc_end,on='end_geo_id',how='left')
# # valid_tr['end_cluster'].astype('int',inplace=True)
# valid_tr

loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
test = pd.merge(test,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
test = pd.merge(test,loc_end,on='end_geo_id',how='left')
# test['end_cluster'].astype('int',inplace=True)
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,7.027449,1.0,5.0
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,7.254807,1.0,5.0
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,8.080604,1.0,5.0
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,7.254807,1.0,5.0
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,3.811067,1.0,1.0
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,24.962366,0.0,5.0
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,12.909258,5.0,1.0
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,16.434430,5.0,1.0
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,9.189806,5.0,1.0
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,14.609754,5.0,5.0
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,12.455708,5.0,5.0
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,8.097914,1.0,5.0
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,8.656618,1.0,1.0
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,7.681063,1.0,1.0
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,4.515342,5.0,5.0
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,23.500786,5.0,5.0
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,56.704932,0.0,0.0
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,13.290378,5.0,5.0
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,6.939842,1.0,5.0
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,8.080604,1.0,5.0
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,9.189806,5.0,1.0
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,4.419368,1.0,1.0
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,4.459473,5.0,5.0
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,8.808363,5.0,1.0
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,8.802274,1.0,5.0
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,11.272222,0.0,1.0
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,12.750000,1.0,4.0
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,8.027218,5.0,1.0
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,17.072871,1.0,1.0
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,21.453378,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,39.000000,4.0,5.0
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,NaN,5.0,0.0
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,NaN,2.0,0.0
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,32.800000,2.0,5.0
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,20.913725,5.0,1.0
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,NaN,2.0,0.0
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,NaN,2.0,4.0
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,NaN,NaN,5.0
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,NaN,2.0,0.0
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,NaN,2.0,5.0
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,NaN,4.0,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,NaN,0.0,4.0
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,20.913725,5.0,1.0
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,31.018601,4.0,5.0
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,38.000000,4.0,1.0
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,NaN,2.0,3.0
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,NaN,0.0,4.0
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,NaN,0.0,0.0
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,NaN,NaN,0.0
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,20.913725,5.0,1.0
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,16.750000,5.0,0.0
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,NaN,2.0,2.0
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,11.000000,2.0,2.0
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,NaN,3.0,0.0
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,NaN,3.0,3.0
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,NaN,0.0,4.0
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,NaN,1.0,0.0
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,NaN,0.0,4.0
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,NaN,2.0,0.0
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,NaN,0.0,4.0

In [14]:
# coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
# coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
# coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr

coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,7.027449,1.0,5.0,7.548701,4.0,198.0,1.0
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,7.254807,1.0,5.0,6.206133,4.0,131.0,1.0
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,8.080604,1.0,5.0,5.031469,3.0,58.0,1.0
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,7.254807,1.0,5.0,6.206133,4.0,131.0,1.0
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,3.811067,1.0,1.0,5.014523,3.0,53.0,1.0
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,24.962366,0.0,5.0,1.645161,1.0,8.0,1.0
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,12.909258,5.0,1.0,2.590361,2.0,17.0,1.0
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,16.434430,5.0,1.0,2.273973,1.0,21.0,1.0
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,9.189806,5.0,1.0,5.471483,4.0,51.0,1.0
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,14.609754,5.0,5.0,2.817967,2.0,23.0,1.0
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,12.455708,5.0,5.0,3.256410,2.0,33.0,1.0
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,8.097914,1.0,5.0,2.116352,1.0,17.0,1.0
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,8.656618,1.0,1.0,2.228487,2.0,20.0,1.0
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,7.681063,1.0,1.0,3.684549,2.0,54.0,1.0
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,4.515342,5.0,5.0,3.625806,3.0,23.0,1.0
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,23.500786,5.0,5.0,1.320755,1.0,6.0,1.0
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,56.704932,0.0,0.0,7.214286,5.0,20.0,3.0
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,13.290378,5.0,5.0,2.292035,2.0,11.0,1.0
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,6.939842,1.0,5.0,3.798742,3.0,48.0,1.0
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,8.080604,1.0,5.0,5.031469,3.0,58.0,1.0
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,9.189806,5.0,1.0,5.471483,4.0,51.0,1.0
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,4.419368,1.0,1.0,9.203762,7.0,178.0,1.0
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,4.459473,5.0,5.0,4.327416,3.0,71.0,1.0
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,8.808363,5.0,1.0,1.937008,1.0,25.0,1.0
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,8.802274,1.0,5.0,5.222031,4.0,96.0,1.0
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,11.272222,0.0,1.0,1.833333,1.0,10.0,1.0
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,12.750000,1.0,4.0,1.000000,1.0,1.0,1.0
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,8.027218,5.0,1.0,4.714022,3.0,65.0,1.0
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,17.072871,1.0,1.0,2.273810,1.0,25.0,1.0
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,21.453378,1.0,1.0,2.664987,2.0,21.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,39.000000,4.0,5.0,1.000000,1.0,1.0,1.0
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,NaN,5.0,0.0,NaN,NaN,NaN,NaN
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,32.800000,2.0,5.0,1.200000,1.0,2.0,1.0
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,20.913725,5.0,1.0,1.598039,1.0,8.0,1.0
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,NaN
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,20.913725,5.0,1.0,1.598039,1.0,8.0,1.0
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,31.018601,4.0,5.0,1.250000,1.0,4.0,1.0
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,38.000000,4.0,1.0,1.000000,1.0,1.0,1.0
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,20.913725,5.0,1.0,1.598039,1.0,8.0,1.0
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,16.750000,5.0,0.0,1.083333,1.0,2.0,1.0
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,11.000000,2.0,2.0,1.000000,1.0,1.0,1.0
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,NaN,3.0,0.0,NaN,NaN,NaN,NaN
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN

In [15]:
# coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
# coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
# coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# valid_tr

coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
test = pd.merge(test,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
test = pd.merge(test,coord_se_median,on=['start_cluster','end_cluster'],how='left')
test = pd.merge(test,coord_se_max,on=['start_cluster','end_cluster'],how='left')
test = pd.merge(test,coord_se_min,on=['start_cluster','end_cluster'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,...,1.0,5.0,7.548701,4.0,198.0,1.0,2.068860,1.0,198.0,1.0
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,...,1.0,5.0,6.206133,4.0,131.0,1.0,2.068860,1.0,198.0,1.0
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,...,1.0,5.0,5.031469,3.0,58.0,1.0,2.068860,1.0,198.0,1.0
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,...,1.0,5.0,6.206133,4.0,131.0,1.0,2.068860,1.0,198.0,1.0
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,...,1.0,1.0,5.014523,3.0,53.0,1.0,2.311007,1.0,178.0,1.0
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,...,0.0,5.0,1.645161,1.0,8.0,1.0,1.568431,1.0,36.0,1.0
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,...,5.0,1.0,2.590361,2.0,17.0,1.0,1.928592,1.0,144.0,1.0
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,...,5.0,1.0,2.273973,1.0,21.0,1.0,1.928592,1.0,144.0,1.0
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,...,5.0,1.0,5.471483,4.0,51.0,1.0,1.928592,1.0,144.0,1.0
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,...,5.0,5.0,2.817967,2.0,23.0,1.0,1.854976,1.0,73.0,1.0
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,...,5.0,5.0,3.256410,2.0,33.0,1.0,1.854976,1.0,73.0,1.0
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,...,1.0,5.0,2.116352,1.0,17.0,1.0,2.068860,1.0,198.0,1.0
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,...,1.0,1.0,2.228487,2.0,20.0,1.0,2.311007,1.0,178.0,1.0
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,...,1.0,1.0,3.684549,2.0,54.0,1.0,2.311007,1.0,178.0,1.0
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,...,5.0,5.0,3.625806,3.0,23.0,1.0,1.854976,1.0,73.0,1.0
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,...,5.0,5.0,1.320755,1.0,6.0,1.0,1.854976,1.0,73.0,1.0
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,...,0.0,0.0,7.214286,5.0,20.0,3.0,1.487186,1.0,20.0,1.0
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,...,5.0,5.0,2.292035,2.0,11.0,1.0,1.854976,1.0,73.0,1.0
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,...,1.0,5.0,3.798742,3.0,48.0,1.0,2.068860,1.0,198.0,1.0
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,...,1.0,5.0,5.031469,3.0,58.0,1.0,2.068860,1.0,198.0,1.0
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,...,5.0,1.0,5.471483,4.0,51.0,1.0,1.928592,1.0,144.0,1.0
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,...,1.0,1.0,9.203762,7.0,178.0,1.0,2.311007,1.0,178.0,1.0
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,...,5.0,5.0,4.327416,3.0,71.0,1.0,1.854976,1.0,73.0,1.0
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,...,5.0,1.0,1.937008,1.0,25.0,1.0,1.928592,1.0,144.0,1.0
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,...,1.0,5.0,5.222031,4.0,96.0,1.0,2.068860,1.0,198.0,1.0
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,...,0.0,1.0,1.833333,1.0,10.0,1.0,1.520541,1.0,32.0,1.0
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,...,1.0,4.0,1.000000,1.0,1.0,1.0,1.396352,1.0,14.0,1.0
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,...,5.0,1.0,4.714022,3.0,65.0,1.0,1.928592,1.0,144.0,1.0
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,...,1.0,1.0,2.273810,1.0,25.0,1.0,2.311007,1.0,178.0,1.0
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,...,1.0,1.0,2.664987,2.0,21.0,1.0,2.311007,1.0,178.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,...,4.0,5.0,1.000000,1.0,1.0,1.0,1.379346,1.0,19.0,1.0
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,...,5.0,0.0,NaN,NaN,NaN,NaN,1.501330,1.0,38.0,1.0
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,...,2.0,0.0,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,...,2.0,5.0,1.200000,1.0,2.0,1.0,1.484299,1.0,21.0,1.0
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,...,5.0,1.0,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,...,2.0,0.0,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,...,2.0,4.0,NaN,NaN,NaN,NaN,1.365783,1.0,19.0,1.0
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,...,2.0,0.0,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,...,2.0,5.0,NaN,NaN,NaN,NaN,1.484299,1.0,21.0,1.0
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,...,5.0,1.0,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,...,4.0,5.0,1.250000,1.0,4.0,1.0,1.379346,1.0,19.0,1.0
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,...,4.0,1.0,1.000000,1.0,1.0,1.0,1.401597,1.0,19.0,1.0
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,...,2.0,3.0,NaN,NaN,NaN,NaN,1.349644,1.0,15.0,1.0
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,1.487186,1.0,20.0,1.0
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,...,5.0,1.0,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,...,5.0,0.0,1.083333,1.0,2.0,1.0,1.501330,1.0,38.0,1.0
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,1.386243,1.0,16.0,1.0
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,...,2.0,2.0,1.000000,1.0,1.0,1.0,1.386243,1.0,16.0,1.0
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,...,3.0,0.0,NaN,NaN,NaN,NaN,1.452022,1.0,16.0,1.0
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,...,3.0,3.0,NaN,NaN,NaN,NaN,1.391175,1.0,11.0,1.0
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,...,1.0,0.0,NaN,NaN,NaN,NaN,1.524182,1.0,47.0,1.0
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,...,2.0,0.0,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0

In [16]:
# coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
# coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# valid_tr

coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,...,7.548701,4.0,198.0,1.0,2.068860,1.0,198.0,1.0,0.080637,0.171637
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,...,6.206133,4.0,131.0,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,...,5.031469,3.0,58.0,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,...,6.206133,4.0,131.0,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,...,5.014523,3.0,53.0,1.0,2.311007,1.0,178.0,1.0,0.088122,0.099253
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,...,1.645161,1.0,8.0,1.0,1.568431,1.0,36.0,1.0,0.033312,0.004802
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,...,2.590361,2.0,17.0,1.0,1.928592,1.0,144.0,1.0,0.084231,0.026164
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,...,2.273973,1.0,21.0,1.0,1.928592,1.0,144.0,1.0,0.016079,0.054172
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,...,5.471483,4.0,51.0,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,...,2.817967,2.0,23.0,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,...,3.256410,2.0,33.0,1.0,1.854976,1.0,73.0,1.0,0.036285,0.057128
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,...,2.116352,1.0,17.0,1.0,2.068860,1.0,198.0,1.0,0.056074,0.059737
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,...,2.228487,2.0,20.0,1.0,2.311007,1.0,178.0,1.0,0.037456,0.066566
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,...,3.684549,2.0,54.0,1.0,2.311007,1.0,178.0,1.0,0.029775,0.152189
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,...,3.625806,3.0,23.0,1.0,1.854976,1.0,73.0,1.0,0.088523,0.091935
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,...,1.320755,1.0,6.0,1.0,1.854976,1.0,73.0,1.0,0.034314,0.006278
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,...,7.214286,5.0,20.0,3.0,1.487186,1.0,20.0,1.0,0.439130,0.090421
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,...,2.292035,2.0,11.0,1.0,1.854976,1.0,73.0,1.0,0.043874,0.029144
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,...,3.798742,3.0,48.0,1.0,2.068860,1.0,198.0,1.0,0.080191,0.048428
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,...,5.031469,3.0,58.0,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,...,5.471483,4.0,51.0,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,...,9.203762,7.0,178.0,1.0,2.311007,1.0,178.0,1.0,0.101828,0.121518
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,...,4.327416,3.0,71.0,1.0,1.854976,1.0,73.0,1.0,0.086661,0.080983
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,...,1.937008,1.0,25.0,1.0,1.928592,1.0,144.0,1.0,0.043451,0.053519
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,...,5.222031,4.0,96.0,1.0,2.068860,1.0,198.0,1.0,0.052613,0.081088
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,...,1.833333,1.0,10.0,1.0,1.520541,1.0,32.0,1.0,0.026961,0.004813
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,...,1.000000,1.0,1.0,1.0,1.396352,1.0,14.0,1.0,0.006405,0.004585
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,...,4.714022,3.0,65.0,1.0,1.928592,1.0,144.0,1.0,0.089530,0.052874
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,...,2.273810,1.0,25.0,1.0,2.311007,1.0,178.0,1.0,0.028579,0.024997
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,...,2.664987,2.0,21.0,1.0,2.311007,1.0,178.0,1.0,0.018347,0.043446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,...,1.000000,1.0,1.0,1.0,1.379346,1.0,19.0,1.0,0.048780,0.000153
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.501330,1.0,38.0,1.0,NaN,NaN
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,...,1.200000,1.0,2.0,1.0,1.484299,1.0,21.0,1.0,0.003911,0.000769
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,...,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.365783,1.0,19.0,1.0,NaN,NaN
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.484299,1.0,21.0,1.0,NaN,NaN
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,...,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,...,1.250000,1.0,4.0,1.0,1.379346,1.0,19.0,1.0,0.015098,0.009930
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,...,1.000000,1.0,1.0,1.0,1.401597,1.0,19.0,1.0,0.004673,0.000404
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.349644,1.0,15.0,1.0,NaN,NaN
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.487186,1.0,20.0,1.0,NaN,NaN
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,...,1.598039,1.0,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,...,1.083333,1.0,2.0,1.0,1.501330,1.0,38.0,1.0,0.001473,0.010417
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.386243,1.0,16.0,1.0,NaN,NaN
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,...,1.000000,1.0,1.0,1.0,1.386243,1.0,16.0,1.0,0.005917,0.041667
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.452022,1.0,16.0,1.0,NaN,NaN
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.391175,1.0,11.0,1.0,NaN,NaN
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.524182,1.0,47.0,1.0,NaN,NaN
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN

In [17]:
# coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
# coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# valid_tr

coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
test = pd.merge(test,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,...,198.0,1.0,2.068860,1.0,198.0,1.0,0.080637,0.171637,0.539159,0.289222
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,...,131.0,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974,0.539159,0.289222
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,...,58.0,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948,0.539159,0.289222
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,...,131.0,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974,0.539159,0.289222
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,...,53.0,1.0,2.311007,1.0,178.0,1.0,0.088122,0.099253,0.317524,0.342112
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,...,8.0,1.0,1.568431,1.0,36.0,1.0,0.033312,0.004802,0.506919,0.052393
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,...,17.0,1.0,1.928592,1.0,144.0,1.0,0.084231,0.026164,0.263846,0.518449
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,...,21.0,1.0,1.928592,1.0,144.0,1.0,0.016079,0.054172,0.263846,0.518449
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,...,51.0,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559,0.263846,0.518449
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,...,23.0,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710,0.579441,0.566873
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,...,33.0,1.0,1.854976,1.0,73.0,1.0,0.036285,0.057128,0.579441,0.566873
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,...,17.0,1.0,2.068860,1.0,198.0,1.0,0.056074,0.059737,0.539159,0.289222
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,...,20.0,1.0,2.311007,1.0,178.0,1.0,0.037456,0.066566,0.317524,0.342112
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,...,54.0,1.0,2.311007,1.0,178.0,1.0,0.029775,0.152189,0.317524,0.342112
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,...,23.0,1.0,1.854976,1.0,73.0,1.0,0.088523,0.091935,0.579441,0.566873
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,...,6.0,1.0,1.854976,1.0,73.0,1.0,0.034314,0.006278,0.579441,0.566873
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,...,20.0,3.0,1.487186,1.0,20.0,1.0,0.439130,0.090421,0.110960,0.109537
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,...,11.0,1.0,1.854976,1.0,73.0,1.0,0.043874,0.029144,0.579441,0.566873
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,...,48.0,1.0,2.068860,1.0,198.0,1.0,0.080191,0.048428,0.539159,0.289222
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,...,58.0,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948,0.539159,0.289222
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,...,51.0,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559,0.263846,0.518449
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,...,178.0,1.0,2.311007,1.0,178.0,1.0,0.101828,0.121518,0.317524,0.342112
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,...,71.0,1.0,1.854976,1.0,73.0,1.0,0.086661,0.080983,0.579441,0.566873
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,...,25.0,1.0,1.928592,1.0,144.0,1.0,0.043451,0.053519,0.263846,0.518449
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,...,96.0,1.0,2.068860,1.0,198.0,1.0,0.052613,0.081088,0.539159,0.289222
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,...,10.0,1.0,1.520541,1.0,32.0,1.0,0.026961,0.004813,0.221802,0.046044
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,...,1.0,1.0,1.396352,1.0,14.0,1.0,0.006405,0.004585,0.033438,0.240757
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,...,65.0,1.0,1.928592,1.0,144.0,1.0,0.089530,0.052874,0.263846,0.518449
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,...,25.0,1.0,2.311007,1.0,178.0,1.0,0.028579,0.024997,0.317524,0.342112
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,...,21.0,1.0,2.311007,1.0,178.0,1.0,0.018347,0.043446,0.317524,0.342112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,...,1.0,1.0,1.379346,1.0,19.0,1.0,0.048780,0.000153,0.409848,0.024573
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,...,NaN,NaN,1.501330,1.0,38.0,1.0,NaN,NaN,0.054058,0.505128
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,...,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,...,2.0,1.0,1.484299,1.0,21.0,1.0,0.003911,0.000769,0.455874,0.040350
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,...,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,...,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,...,NaN,NaN,1.365783,1.0,19.0,1.0,NaN,NaN,0.075891,0.090161
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,...,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,...,NaN,NaN,1.484299,1.0,21.0,1.0,NaN,NaN,0.455874,0.040350
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,...,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,...,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,...,4.0,1.0,1.379346,1.0,19.0,1.0,0.015098,0.009930,0.409848,0.024573
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,...,1.0,1.0,1.401597,1.0,19.0,1.0,0.004673,0.000404,0.238616,0.028735
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,...,NaN,NaN,1.349644,1.0,15.0,1.0,NaN,NaN,0.034919,0.054246
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,...,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,...,NaN,NaN,1.487186,1.0,20.0,1.0,NaN,NaN,0.110960,0.109537
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,...,8.0,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,...,2.0,1.0,1.501330,1.0,38.0,1.0,0.001473,0.010417,0.054058,0.505128
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,...,NaN,NaN,1.386243,1.0,16.0,1.0,NaN,NaN,0.114584,0.120265
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,...,1.0,1.0,1.386243,1.0,16.0,1.0,0.005917,0.041667,0.114584,0.120265
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,...,NaN,NaN,1.452022,1.0,16.0,1.0,NaN,NaN,0.071990,0.035630
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,...,NaN,NaN,1.391175,1.0,11.0,1.0,NaN,NaN,0.091728,0.083426
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,...,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,...,NaN,NaN,1.524182,1.0,47.0,1.0,NaN,NaN,0.045842,0.234875
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,...,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,...,NaN,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,...,NaN,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749

### Time

In [18]:
# map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
# train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
# valid_tr.loc[:,'hour_cls'] = valid_tr['create_hour'].map(lambda x: map_hour[x])
# valid_tr

map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
test.loc[:,'hour_cls'] = test['create_hour'].map(lambda x: map_hour[x])
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,...,1.0,2.068860,1.0,198.0,1.0,0.080637,0.171637,0.539159,0.289222,6
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,...,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974,0.539159,0.289222,6
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,...,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948,0.539159,0.289222,6
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,...,1.0,2.068860,1.0,198.0,1.0,0.063174,0.148974,0.539159,0.289222,5
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,...,1.0,2.311007,1.0,178.0,1.0,0.088122,0.099253,0.317524,0.342112,5
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,...,1.0,1.568431,1.0,36.0,1.0,0.033312,0.004802,0.506919,0.052393,5
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,...,1.0,1.928592,1.0,144.0,1.0,0.084231,0.026164,0.263846,0.518449,2
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,...,1.0,1.928592,1.0,144.0,1.0,0.016079,0.054172,0.263846,0.518449,6
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,...,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559,0.263846,0.518449,4
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,...,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710,0.579441,0.566873,6
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,...,1.0,1.854976,1.0,73.0,1.0,0.036285,0.057128,0.579441,0.566873,5
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,...,1.0,2.068860,1.0,198.0,1.0,0.056074,0.059737,0.539159,0.289222,6
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,...,1.0,2.311007,1.0,178.0,1.0,0.037456,0.066566,0.317524,0.342112,2
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,...,1.0,2.311007,1.0,178.0,1.0,0.029775,0.152189,0.317524,0.342112,6
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,...,1.0,1.854976,1.0,73.0,1.0,0.088523,0.091935,0.579441,0.566873,6
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,...,1.0,1.854976,1.0,73.0,1.0,0.034314,0.006278,0.579441,0.566873,4
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,...,3.0,1.487186,1.0,20.0,1.0,0.439130,0.090421,0.110960,0.109537,2
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,...,1.0,1.854976,1.0,73.0,1.0,0.043874,0.029144,0.579441,0.566873,6
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,...,1.0,2.068860,1.0,198.0,1.0,0.080191,0.048428,0.539159,0.289222,4
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,...,1.0,2.068860,1.0,198.0,1.0,0.049908,0.107948,0.539159,0.289222,5
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,...,1.0,1.928592,1.0,144.0,1.0,0.074751,0.059559,0.263846,0.518449,6
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,...,1.0,2.311007,1.0,178.0,1.0,0.101828,0.121518,0.317524,0.342112,3
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,...,1.0,1.854976,1.0,73.0,1.0,0.086661,0.080983,0.579441,0.566873,4
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,...,1.0,1.928592,1.0,144.0,1.0,0.043451,0.053519,0.263846,0.518449,6
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,...,1.0,2.068860,1.0,198.0,1.0,0.052613,0.081088,0.539159,0.289222,6
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,...,1.0,1.520541,1.0,32.0,1.0,0.026961,0.004813,0.221802,0.046044,4
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,...,1.0,1.396352,1.0,14.0,1.0,0.006405,0.004585,0.033438,0.240757,3
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,...,1.0,1.928592,1.0,144.0,1.0,0.089530,0.052874,0.263846,0.518449,3
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,...,1.0,2.311007,1.0,178.0,1.0,0.028579,0.024997,0.317524,0.342112,2
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,...,1.0,2.311007,1.0,178.0,1.0,0.018347,0.043446,0.317524,0.342112,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,...,1.0,1.379346,1.0,19.0,1.0,0.048780,0.000153,0.409848,0.024573,5
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,...,NaN,1.501330,1.0,38.0,1.0,NaN,NaN,0.054058,0.505128,2
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,...,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509,3
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,...,1.0,1.484299,1.0,21.0,1.0,0.003911,0.000769,0.455874,0.040350,1
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,...,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449,4
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,...,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509,0
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,...,NaN,1.365783,1.0,19.0,1.0,NaN,NaN,0.075891,0.090161,2
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,...,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509,6
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,...,NaN,1.484299,1.0,21.0,1.0,NaN,NaN,0.455874,0.040350,4
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,...,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749,6
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,...,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449,5
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,...,1.0,1.379346,1.0,19.0,1.0,0.015098,0.009930,0.409848,0.024573,4
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,...,1.0,1.401597,1.0,19.0,1.0,0.004673,0.000404,0.238616,0.028735,1
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,...,NaN,1.349644,1.0,15.0,1.0,NaN,NaN,0.034919,0.054246,1
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,...,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749,4
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,...,NaN,1.487186,1.0,20.0,1.0,NaN,NaN,0.110960,0.109537,2
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,...,1.0,1.928592,1.0,144.0,1.0,0.086610,0.003373,0.263846,0.518449,1
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,...,1.0,1.501330,1.0,38.0,1.0,0.001473,0.010417,0.054058,0.505128,5
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,...,NaN,1.386243,1.0,16.0,1.0,NaN,NaN,0.114584,0.120265,6
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,...,1.0,1.386243,1.0,16.0,1.0,0.005917,0.041667,0.114584,0.120265,6
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,...,NaN,1.452022,1.0,16.0,1.0,NaN,NaN,0.071990,0.035630,6
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,...,NaN,1.391175,1.0,11.0,1.0,NaN,NaN,0.091728,0.083426,1
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,...,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749,5
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,...,NaN,1.524182,1.0,47.0,1.0,NaN,NaN,0.045842,0.234875,0
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,...,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749,4
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,...,NaN,1.412975,1.0,14.0,1.0,NaN,NaN,0.082221,0.069509,4
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,...,NaN,1.362518,1.0,21.0,1.0,NaN,NaN,0.054603,0.075749,4

In [19]:
coord_hour = train_tr.groupby('create_hour', as_index=False)['demand_count'].agg({'demand_count_h_avg':'std'})
coord_hour

    create_hour  demand_count_h_avg
0             0            1.935778
1             1            1.572084
2             2            0.739049
3             3            0.925068
4             4            0.971026
5             5            1.045984
6             6            1.257506
7             7            2.156388
8             8            3.425920
9             9            2.654506
10           10            1.125090
11           11            1.288213
12           12            1.252845
13           13            2.019655
14           14            1.448851
15           15            1.147384
16           16            1.435745
17           17            2.296841
18           18            2.081181
19           19            1.176402
20           20            1.533215
21           21            3.427579
22           22            3.145708
23           23            2.722501

### 3. Location + Time

In [20]:
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# valid_tr

coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
test

,test_id,create_date,create_hour,start_geo_id,end_geo_id,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls,demand_count_h_avg,demand_count_h_median,demand_count_h_max,demand_count_h_std
0,0,2017-08-01,21,24,27,0,1,37.148061,35.196824,3780.303913,...,1.0,0.080637,0.171637,0.539159,0.289222,6,27.322581,18.0,198.0,33.962123
1,1,2017-08-01,21,24,9,0,1,39.427175,36.230314,3876.549475,...,1.0,0.063174,0.148974,0.539159,0.289222,6,16.580645,11.0,131.0,23.028640
2,2,2017-08-01,21,24,22,0,1,43.077712,39.877738,4350.430965,...,1.0,0.049908,0.107948,0.539159,0.289222,6,11.900000,9.0,58.0,10.793836
3,3,2017-08-01,17,24,9,0,1,35.306929,36.230314,3876.549475,...,1.0,0.063174,0.148974,0.539159,0.289222,5,10.322581,9.0,32.0,7.054016
4,4,2017-08-01,17,55,55,0,1,31.662917,28.740887,2163.154505,...,1.0,0.088122,0.099253,0.317524,0.342112,5,10.965517,7.0,39.0,9.499935
5,5,2017-08-01,17,110,88,0,1,60.450000,88.596000,12946.467742,...,1.0,0.033312,0.004802,0.506919,0.052393,5,1.000000,1.0,1.0,0.000000
6,6,2017-08-01,9,23,21,0,1,61.754622,56.878443,6722.896237,...,1.0,0.084231,0.026164,0.263846,0.518449,2,5.300000,2.0,17.0,5.048189
7,7,2017-08-01,21,16,50,0,1,64.195916,61.556540,8558.499190,...,1.0,0.016079,0.054172,0.263846,0.518449,6,3.045455,2.5,8.0,2.103903
8,8,2017-08-01,13,6,24,0,1,41.542258,42.673683,4856.039547,...,1.0,0.074751,0.059559,0.263846,0.518449,4,6.333333,6.0,28.0,4.729463
9,9,2017-08-01,21,6,22,0,1,60.678244,56.977282,7705.057098,...,1.0,0.030960,0.044710,0.579441,0.566873,6,3.884615,2.5,23.0,4.827645
10,10,2017-08-01,17,6,9,0,1,51.829649,52.794470,6517.478098,...,1.0,0.036285,0.057128,0.579441,0.566873,5,5.892857,4.5,23.0,5.573345
11,11,2017-08-01,21,34,90,0,1,40.581528,38.050342,4386.977028,...,1.0,0.056074,0.059737,0.539159,0.289222,6,2.185185,2.0,8.0,1.664956
12,12,2017-08-01,9,1,13,0,1,44.308674,38.931903,4585.576461,...,1.0,0.037456,0.066566,0.317524,0.342112,2,3.777778,2.0,13.0,3.576992
13,13,2017-08-01,21,24,13,0,1,39.981186,38.767042,4106.999196,...,1.0,0.029775,0.152189,0.317524,0.342112,6,8.586207,5.0,54.0,10.765412
14,14,2017-08-01,21,10,10,0,1,33.060250,28.235064,2552.080842,...,1.0,0.088523,0.091935,0.579441,0.566873,6,5.346154,4.0,21.0,4.955339
15,15,2017-08-01,13,48,72,0,1,73.575152,83.304167,12487.480346,...,1.0,0.034314,0.006278,0.579441,0.566873,4,1.545455,1.0,3.0,0.687552
16,16,2017-08-01,7,649,111,0,1,243.909333,NaN,41368.336028,...,1.0,0.439130,0.090421,0.110960,0.109537,2,4.000000,4.0,5.0,1.414214
17,17,2017-08-01,21,18,22,0,1,51.156042,47.790310,6954.101470,...,1.0,0.043874,0.029144,0.579441,0.566873,6,2.050000,1.0,5.0,1.316894
18,18,2017-08-01,13,15,6,0,1,35.211733,36.362977,3716.178287,...,1.0,0.080191,0.048428,0.539159,0.289222,4,6.300000,5.0,18.0,4.387679
19,19,2017-08-01,17,24,22,0,1,38.768934,39.877738,4350.430965,...,1.0,0.049908,0.107948,0.539159,0.289222,5,6.800000,7.0,16.0,4.097097
20,20,2017-08-01,21,6,24,0,1,46.951840,42.673683,4856.039547,...,1.0,0.074751,0.059559,0.263846,0.518449,6,7.838710,6.0,44.0,8.270819
21,21,2017-08-01,11,24,24,0,1,26.060381,31.062783,2472.045810,...,1.0,0.101828,0.121518,0.317524,0.342112,3,9.161290,9.0,22.0,4.568711
22,22,2017-08-01,13,27,27,0,1,28.576314,29.421749,2481.014419,...,1.0,0.086661,0.080983,0.579441,0.566873,4,4.129032,3.0,20.0,3.630812
23,23,2017-08-01,21,90,50,0,1,43.629232,40.984436,4889.364043,...,1.0,0.043451,0.053519,0.263846,0.518449,6,1.937500,1.0,7.0,1.691892
24,24,2017-08-01,21,24,6,0,1,45.150806,40.581851,4679.554536,...,1.0,0.052613,0.081088,0.539159,0.289222,6,12.354839,7.0,96.0,16.825672
25,25,2017-08-01,15,152,77,0,1,NaN,49.500000,5923.194444,...,1.0,0.026961,0.004813,0.221802,0.046044,4,NaN,NaN,NaN,NaN
26,26,2017-08-01,11,140,103,0,1,NaN,40.000000,6629.750000,...,1.0,0.006405,0.004585,0.033438,0.240757,3,NaN,NaN,NaN,NaN
27,27,2017-08-01,11,22,24,0,1,35.312693,38.756792,4288.963968,...,1.0,0.089530,0.052874,0.263846,0.518449,3,4.275862,3.0,14.0,3.205983
28,28,2017-08-01,9,1,39,0,1,70.480156,57.302848,8822.025763,...,1.0,0.028579,0.024997,0.317524,0.342112,2,5.125000,3.0,25.0,6.088567
29,29,2017-08-01,13,24,55,0,1,72.195384,73.682276,11120.960181,...,1.0,0.018347,0.043446,0.317524,0.342112,4,4.909091,5.0,14.0,3.637229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4970,2017-08-07,17,318,61,0,0,NaN,NaN,20283.500000,...,1.0,0.048780,0.000153,0.409848,0.024573,5,NaN,NaN,NaN,NaN
4971,4971,2017-08-07,9,6,649,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054058,0.505128,2,NaN,NaN,NaN,NaN
4972,4972,2017-08-07,11,266,267,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.082221,0.069509,3,NaN,NaN,NaN,NaN
4973,4973,2017-08-07,5,119,31,0,0,NaN,91.000000,19118.600000,...,1.0,0.003911,0.000769,0.455874,0.040350,1,NaN,NaN,NaN,NaN
4974,4974,2017-08-07,15,107,24,0,0,68.800000,70.769000,10983.950980,...,1.0,0.086610,0.003373,0.263846,0.518449,4,1.000000,1.0,1.0,0.000000
4975,4975,2017-08-07,23,266,267,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.082221,0.069509,0,NaN,NaN,NaN,NaN
4976,4976,2017-08-07,7,47,459,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.075891,0.090161,2,NaN,NaN,NaN,NaN
4977,4977,2017-08-07,23,1282,73,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4978,4978,2017-08-07,21,817,193,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.082221,0.069509,6,NaN,NaN,NaN,NaN
4979,4979,2017-08-07,15,379,120,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.455874,0.040350,4,NaN,NaN,NaN,NaN
4980,4980,2017-08-07,3,459,1285,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
4981,4981,2017-08-07,21,110,364,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054603,0.075749,6,NaN,NaN,NaN,NaN
4982,4982,2017-08-07,17,107,24,0,0,86.743000,70.769000,10983.950980,...,1.0,0.086610,0.003373,0.263846,0.518449,5,1.400000,1.0,2.0,0.547723
4983,4983,2017-08-07,13,5,26,0,0,116.222000,112.661250,22577.117560,...,1.0,0.015098,0.009930,0.409848,0.024573,4,1.200000,1.0,2.0,0.447214
4984,4984,2017-08-07,5,229,59,0,0,NaN,NaN,19072.000000,...,1.0,0.004673,0.000404,0.238616,0.028735,1,NaN,NaN,NaN,NaN
4985,4985,2017-08-07,5,292,735,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.034919,0.054246,1,NaN,NaN,NaN,NaN
4986,4986,2017-08-07,15,92,327,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054603,0.075749,4,NaN,NaN,NaN,NaN
4987,4987,2017-08-07,9,205,146,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.110960,0.109537,2,NaN,NaN,NaN,NaN
4988,4988,2017-08-07,21,1283,323,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN
4989,4989,2017-08-07,1,107,24,0,0,65.000000,70.769000,10983.950980,...,1.0,0.086610,0.003373,0.263846,0.518449,1,1.000000,1.0,1.0,NaN
4990,4990,2017-08-07,17,79,117,0,0,NaN,70.695000,10119.750000,...,1.0,0.001473,0.010417,0.054058,0.505128,5,NaN,NaN,NaN,NaN
4991,4991,2017-08-07,21,331,837,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.114584,0.120265,6,NaN,NaN,NaN,NaN
4992,4992,2017-08-07,19,260,353,0,0,NaN,58.020000,5637.000000,...,1.0,0.005917,0.041667,0.114584,0.120265,6,NaN,NaN,NaN,NaN
4993,4993,2017-08-07,19,228,1013,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.071990,0.035630,6,NaN,NaN,NaN,NaN
4994,4994,2017-08-07,1,316,316,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.091728,0.083426,1,NaN,NaN,NaN,NaN
4995,4995,2017-08-07,17,354,403,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054603,0.075749,5,NaN,NaN,NaN,NaN
4996,4996,2017-08-07,23,275,264,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.045842,0.234875,0,NaN,NaN,NaN,NaN
4997,4997,2017-08-07,15,110,364,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054603,0.075749,4,NaN,NaN,NaN,NaN
4998,4998,2017-08-07,13,817,193,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.082221,0.069509,4,NaN,NaN,NaN,NaN
4999,4999,2017-08-07,13,92,327,0,0,NaN,NaN,NaN,...,1.0,NaN,NaN,0.054603,0.075749,4,NaN,NaN,NaN,NaN

In [21]:
coord = train_tr.groupby(['create_hour','start_geo_id'],as_index=False)['demand_count'].agg({'demand_count_start_avg':'mean'})
coord

      create_hour  start_geo_id  demand_count_start_avg
0               0             0                1.166667
1               0             1                1.304054
2               0             2                1.451613
3               0             3                1.114286
4               0             4                1.000000
5               0             5                1.403175
6               0             6                1.858942
7               0             7                1.000000
8               0             8                1.192771
9               0             9                1.380952
10              0            10                1.143791
11              0            11                1.200000
12              0            12                1.000000
13              0            13                1.298507
14              0            14                1.814480
15              0            15                1.661417
16              0            16                1.381148
17              0            17                1.352041
18              0            18                1.424000
19              0            19                1.331081
20              0            20                1.101449
21              0            21                1.122995
22              0            22                2.009158
23              0            23                1.166667
24              0            24                2.694897
25              0            25                1.145833
26              0            26                1.298246
27              0            27                1.522876
28              0            29                1.234375
29              0            30                1.080000
...           ...           ...                     ...
8382           23           391                1.000000
8383           23           412                1.000000
8384           23           419                1.000000
8385           23           425                1.000000
8386           23           434                1.000000
8387           23           437                2.000000
8388           23           443                1.000000
8389           23           470                1.000000
8390           23           471                3.000000
8391           23           472                1.000000
8392           23           477                1.000000
8393           23           478                1.000000
8394           23           485                1.000000
8395           23           488                8.000000
8396           23           496                1.000000
8397           23           506                1.000000
8398           23           536                1.000000
8399           23           579                1.000000
8400           23           590                1.000000
8401           23           596                4.000000
8402           23           606                1.000000
8403           23           626                1.000000
8404           23           709                3.000000
8405           23           739                6.000000
8406           23           816                1.000000
8407           23           950                1.000000
8408           23           988                1.000000
8409           23           998                1.000000
8410           23          1197                1.000000
8411           23          1222                1.000000

[8412 rows x 3 columns]

In [22]:
np.setdiff1d(train_tr.columns,valid_tr.columns)
# np.setdiff1d(test.columns,train_tr.columns)

array(['dayOfWeek', 'demand_count_h_avg', 'demand_count_h_max',
       'demand_count_h_median', 'demand_count_h_std', 'dis_hour_mean',
       'end_cluster', 'estimate_distance_mean', 'estimate_money_mean',
       'estimate_term_mean', 'holiday', 'hour_cls', 'money_hour_mean',
       'se_end_cls_ratio', 'se_end_ratio', 'se_start_cls_ratio',
       'se_start_ratio', 'sloc_eloc_max', 'sloc_eloc_mean',
       'sloc_eloc_median', 'sloc_eloc_min', 'sloccl_eloccl_max',
       'sloccl_eloccl_mean', 'sloccl_eloccl_median', 'sloccl_eloccl_min',
       'start_cluster', 'term_hour_mean'], dtype=object)

### Training

In [23]:
do_not_use_list = ['create_date','demand_count','estimate_distance_mean','estimate_money_mean','estimate_term_mean','test_id']
predictors = [f for f in train_tr.columns if f not in do_not_use_list]
print predictors

['create_hour', 'start_geo_id', 'end_geo_id', 'holiday', 'dayOfWeek', 'money_hour_mean', 'dis_hour_mean', 'term_hour_mean', 'start_cluster', 'end_cluster', 'sloc_eloc_mean', 'sloc_eloc_median', 'sloc_eloc_max', 'sloc_eloc_min', 'sloccl_eloccl_mean', 'sloccl_eloccl_median', 'sloccl_eloccl_max', 'sloccl_eloccl_min', 'se_start_ratio', 'se_end_ratio', 'se_start_cls_ratio', 'se_end_cls_ratio', 'hour_cls', 'demand_count_h_avg', 'demand_count_h_median', 'demand_count_h_max', 'demand_count_h_std']

In [24]:
import xgboost as xgb
params = {'min_child_weight': 100, 'eta': 0.1, 'colsample_bytree': 0.3, 'max_depth': 7,
                'subsample': 0.8, 'lambda': 1, 'nthread': 4, 'booster' : 'gbtree', 'silent': 1,
                'eval_metric': 'rmse', 'objective': 'reg:linear'}
boostRound = 200

# print train_feat_1[predictors]

xgbtrain = xgb.DMatrix(train_tr[predictors], train_tr['demand_count'],missing=np.nan)
# xgbvalid = xgb.DMatrix(test_feat_1[predictors])
model = xgb.train(params, xgbtrain, num_boost_round=boostRound)
param_score = pd.Series(model.get_fscore()).sort_values(ascending=False)

In [25]:
param_score

demand_count_h_avg       977
demand_count_h_std       783
dayOfWeek                758
sloc_eloc_mean           578
create_hour              567
dis_hour_mean            556
money_hour_mean          542
se_start_ratio           518
hour_cls                 508
demand_count_h_max       483
sloc_eloc_max            462
se_end_ratio             445
term_hour_mean           437
demand_count_h_median    407
end_geo_id               293
start_geo_id             289
sloc_eloc_median         261
sloccl_eloccl_mean       188
holiday                  156
se_start_cls_ratio       128
se_end_cls_ratio         109
sloccl_eloccl_max        101
end_cluster               63
start_cluster             51
sloc_eloc_min             15
dtype: int64

In [26]:
def score(pred,valid):
    return np.sum(np.abs(pred - valid)) / (1.0 * len(pred))

In [27]:
# xgbvalid = xgb.DMatrix(valid_tr[predictors],missing=np.nan)
# valid_tr.loc[:,'result'] = model.predict(xgbvalid)
# valid_tr['result'].fillna(1,inplace=True)
# valid_tr['result']

xgbvalid = xgb.DMatrix(test[predictors],missing=np.nan)
test.loc[:,'count'] = model.predict(xgbvalid)
test['count'].fillna(1,inplace=True)
test['count']

0       41.539593
1       31.216318
2       21.962547
3       13.401430
4       14.127573
5        0.962315
6        7.169292
7        3.361192
8        7.318648
9        5.268846
10       7.046665
11       2.609651
12       5.243753
13      16.581066
14       6.951802
15       1.447563
16       5.668283
17       2.170623
18       6.801793
19       7.470860
20      12.087274
21       9.559057
22       4.769428
23       2.096108
24      22.331778
25       0.983365
26       0.978573
27       4.192393
28       7.849942
29       5.617287
          ...
4970     0.979477
4971     1.050450
4972     0.983346
4973     1.009521
4974     0.990944
4975     0.917920
4976     1.036969
4977     0.984579
4978     0.950649
4979     1.037247
4980     0.983725
4981     0.999321
4982     1.324943
4983     1.171308
4984     0.994965
4985     0.983725
4986     1.046306
4987     1.027785
4988     0.951809
4989     1.047185
4990     0.986690
4991     0.988271
4992     0.998061
4993     0.987383
4994     1.044235
4995     1.038823
4996     0.916485
4997     1.041373
4998     1.011376
4999     1.035276
Name: count, dtype: float32

In [28]:
# score(valid_tr['result'],valid_tr['demand_count'])

In [29]:
test['test_id'] = test['test_id'].astype('int')
test[['test_id','count']].to_csv('result.csv',index=False)