In [2]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 10,8
poi_path = '../../UAI_data/input/poi.csv'
poi_raw_path = '../../UAI_data/input/poi_raw.csv'
train_Aug_path = '../../UAI_data/input/train_Aug.csv'
train_Jul_path = '../../UAI_data/input/train_July.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_pub5k_path = '../../UAI_data/input/test_id_Aug_agg_public5k.csv'
test_path = '../../UAI_data/input/UAI_sample_submission.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
poi_raw = pd.read_csv(poi_raw_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
weather = pd.read_csv(weather_path)
test_pub5k = pd.read_csv(test_pub5k_path,encoding='gbk')

### Re-encode location

In [69]:
l_7_end_geo = train_jul['end_geo_id']
l_7_start_geo = train_jul['start_geo_id']
l_8_end_geo = train_aug['end_geo_id']
l_8_start_geo = train_aug['start_geo_id']
l_poi_geo = poi_raw['location']
l_start_test = test_pub5k['start_geo_id']
l_end_test = test_pub5k['end_geo_id']

l_location = pd.concat([l_7_end_geo,l_7_start_geo,l_8_start_geo,l_8_end_geo,l_start_test,l_end_test],axis=0)
l_location = l_location.unique()
l_location_id = np.arange(l_location.shape[0])
data = {'location':l_location,'location_id':l_location_id}
location = pd.DataFrame(data)
location.to_csv('../../UAI_data/input/location.csv',index=False)
# l_start_geo
print "Jul train columns", train_jul.columns
print "Aug train columns", train_aug.columns
print 'test columns',test_pub5k.columns
print 'poi columns', poi_re.columns

Jul train columns Index([u'id', u'driver_id', u'member_id', u'create_date', u'create_hour',
       u'status', u'estimate_money', u'estimate_distance', u'estimate_term',
       u'start_geo_id', u'end_geo_id'],
      dtype='object')
Aug train columns Index([u'id', u'driver_id', u'member_id', u'create_date', u'create_hour',
       u'status', u'estimate_money', u'estimate_distance', u'estimate_term',
       u'start_geo_id', u'end_geo_id'],
      dtype='object')
test columns Index([u'test_id', u'start_geo_id', u'end_geo_id', u'create_date',
       u'create_hour'],
      dtype='object')
poi columns Index([    u'gas_station_num',     u'supermarket_num',       u'residence_num',
                 u'metro_num',     u'bus_station_num',           u'caffe_num',
            u'restaurant_num',             u'ATM_num', u'office_building_num',
                 u'hotel_num',         u'location_id'],
      dtype='object')

### Re-encode id

In [70]:
l_7_id= train_jul['id']
l_8_id = train_aug['id']

l_id = pd.concat([l_7_id,l_8_id],axis=0)
l_id = l_id.unique()
l_id_new = np.arange(l_id.shape[0])
data = {'id':l_id,'id_new':l_id_new}
ID = pd.DataFrame(data)
ID.to_csv('../../UAI_data/input/id.csv',index=False)

### Re-encode member

In [71]:
l_7_member_id= train_jul['member_id']
l_8_member_id = train_aug['member_id']

l_member_id = pd.concat([l_7_member_id,l_8_member_id],axis=0)
l_member_id = l_member_id.unique()
l_member_id_new = np.arange(l_member_id.shape[0])
data = {'member_id':l_member_id,'member_id_new':l_member_id_new}
member = pd.DataFrame(data)
member.to_csv('../../UAI_data/input/member_id.csv',index=False)

### Re-encode driver

In [72]:
l_7_driver_id= train_jul['driver_id']
l_8_driver_id = train_aug['driver_id']

l_driver_id = pd.concat([l_7_driver_id,l_8_driver_id],axis=0)
l_driver_id = l_driver_id.unique()
l_driver_id_new = np.arange(l_driver_id.shape[0])
data = {'driver_id':l_driver_id,'driver_id_new':l_driver_id_new}
driver = pd.DataFrame(data)
driver.to_csv('../../UAI_data/input/driver_id.csv',index=False)

### train_Jul reshape

In [73]:
location = pd.read_csv('../input/location.csv')
loc_cp = location.copy()

#driver id 
driver = pd.read_csv('../input/driver_id.csv')
train_jul = pd.merge(train_jul,driver,on='driver_id',how='left')
train_jul.drop(['driver_id'],axis=1,inplace = True)

# member_id
member = pd.read_csv('../input/member_id.csv')
train_jul = pd.merge(train_jul,member,on='member_id',how='left')
train_jul.drop(['member_id'],axis=1,inplace = True)

#start_geo
loc_cp.rename(columns={'location':'start_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'start_geo_id_new'},inplace=True)
train_jul = pd.merge(train_jul,loc_cp,on='start_geo_id',how='left')
train_jul.drop(['start_geo_id'],axis=1,inplace = True)

#end_geo
loc_cp = location.copy()
loc_cp.rename(columns={'location':'end_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'end_geo_id_new'},inplace=True)
train_jul = pd.merge(train_jul,loc_cp,on='end_geo_id',how='left')
train_jul.drop(['end_geo_id'],axis=1,inplace = True)

#id
ID = pd.read_csv('../input/id.csv')
train_jul = pd.merge(train_jul,ID,on='id',how='left')
train_jul.drop(['id'],axis=1,inplace = True)

train_jul.rename(columns={'id_new':'id',
                         'driver_id_new':'driver_id',
                         'member_id_new':'member_id',
                         'start_geo_id_new':'start_geo_id',
                         'end_geo_id_new':'end_geo_id'
                        },inplace=True)
train_jul.to_csv('../../UAI_data/input/train_July_re.csv',encoding='gbk',index=False)
train_jul

,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,driver_id,member_id,start_geo_id,end_geo_id,id
0,2017-07-01,0,2,140.00,20099.0,18.0,0,0,5,0,0
1,2017-07-01,0,2,78.00,9000.0,18.0,1,1,22,1,1
2,2017-07-01,0,1,86.23,10323.0,20.0,2,2,39,2,2
3,2017-07-01,0,1,81.88,14197.0,27.0,3,3,55,3,3
4,2017-07-01,2,1,217.01,39150.0,40.0,2,4,195,4,4
5,2017-07-01,2,1,55.69,8360.0,16.0,4,5,22,1,5
6,2017-07-01,6,2,188.00,40184.0,47.0,5,6,206,5,6
7,2017-07-01,8,2,56.00,10953.0,21.0,6,7,55,6,7
8,2017-07-01,9,2,25.00,2889.0,5.0,7,8,68,7,8
9,2017-07-01,9,2,31.00,4415.0,8.0,8,9,63,8,9
10,2017-07-01,9,2,33.00,4834.0,9.0,9,10,13,9,10
11,2017-07-01,10,2,58.00,11493.0,22.0,10,11,16,10,11
12,2017-07-01,11,1,41.44,5190.0,10.0,11,12,101,11,12
13,2017-07-01,11,0,61.88,7752.0,15.0,2,13,356,12,13
14,2017-07-01,12,2,25.00,2876.0,5.0,12,14,9,13,14
15,2017-07-01,14,2,192.00,22057.0,44.0,13,15,154,14,15
16,2017-07-01,15,2,105.00,21420.0,42.0,14,16,223,15,16
17,2017-07-01,16,2,52.00,9896.0,19.0,15,17,24,16,17
18,2017-07-01,16,2,28.00,3678.0,7.0,16,18,118,10,18
19,2017-07-01,17,2,122.00,20860.0,40.0,17,19,72,17,19
20,2017-07-01,17,2,80.00,13911.0,27.0,18,20,79,18,20
21,2017-07-01,17,1,141.67,28185.0,56.0,19,21,143,19,21
22,2017-07-01,18,2,145.00,30759.0,41.0,20,22,10,5,22
23,2017-07-01,19,2,61.00,12423.0,23.0,21,23,6,20,23
24,2017-07-01,20,0,59.84,6838.0,13.0,2,24,86,21,24
25,2017-07-01,21,1,117.15,24226.0,41.0,22,25,49,22,25
26,2017-07-01,21,2,96.00,16785.0,32.0,23,26,135,23,26
27,2017-07-01,22,2,44.00,5999.0,11.0,24,27,9,24,27
28,2017-07-01,22,2,41.00,7441.0,12.0,25,28,20,25,28
29,2017-07-01,23,2,39.00,4905.0,9.0,26,29,24,6,29
...,...,...,...,...,...,...,...,...,...,...,...
892488,2017-07-31,7,2,99.00,20599.0,37.0,3931,43503,18,16,892484
892489,2017-07-31,7,1,121.30,15778.0,31.0,2,143115,76,41,892485
892490,2017-07-31,8,2,28.00,3546.0,7.0,552,30813,6,24,892486
892491,2017-07-31,10,2,42.00,7467.0,14.0,366,12688,88,86,892487
892492,2017-07-31,10,2,24.00,2547.0,5.0,2044,75350,79,29,892488
892493,2017-07-31,11,2,41.00,7112.0,14.0,862,40191,118,67,892489
892494,2017-07-31,13,2,78.00,16230.0,32.0,2179,5763,17,109,892490
892495,2017-07-31,13,2,42.00,7306.0,14.0,4021,34375,6,29,892491
892496,2017-07-31,13,2,47.00,8600.0,17.0,3870,5143,26,6,892492
892497,2017-07-31,14,0,80.64,16665.0,33.0,2,53732,143,184,892493
892498,2017-07-31,14,2,59.00,11905.0,23.0,2507,9788,18,64,892494
892499,2017-07-31,15,1,34.36,5139.0,10.0,4685,16127,10,90,892495
892500,2017-07-31,15,0,75.95,11167.0,16.0,2,11881,128,29,892496
892501,2017-07-31,16,2,89.00,18431.0,36.0,1481,72442,27,49,892497
892502,2017-07-31,16,2,64.00,13162.0,26.0,3276,178741,24,80,892498
892503,2017-07-31,17,2,37.00,5964.0,11.0,3799,109426,79,1,892499
892504,2017-07-31,17,2,61.00,6307.0,12.0,4821,30141,16,15,892500
892505,2017-07-31,18,2,122.00,20794.0,41.0,1210,18320,16,18,892501
892506,2017-07-31,18,2,33.00,1576.0,3.0,2005,181806,6,6,892502
892507,2017-07-31,19,2,50.00,7125.0,14.0,581,113720,10,67,892503
892508,2017-07-31,20,1,56.37,5442.0,10.0,414,102407,162,35,892504
892509,2017-07-31,20,0,40.71,7043.0,12.0,2,24400,55,41,892505
892510,2017-07-31,20,2,67.00,14471.0,23.0,3031,8485,61,51,892506
892511,2017-07-31,21,2,77.00,16059.0,32.0,3552,32552,24,48,892507
892512,2017-07-31,21,2,32.00,3387.0,6.0,2058,84415,39,26,892508
892513,2017-07-31,21,2,69.00,7519.0,15.0,1261,184370,15,70,892509
892514,2017-07-31,21,2,56.00,5446.0,10.0,3955,528,16,56,892510
892515,2017-07-31,21,0,63.92,6594.0,13.0,2,182525,119,124,892511
892516,2017-07-31,22,2,92.00,13962.0,24.0,2995,52549,19,61,892512
892517,2017-07-31,23,2,244.00,44103.0,43.0,2469,165831,65,173,892513

### train_Aug reshape

In [74]:
location = pd.read_csv('../input/location.csv')
loc_cp = location.copy()

#driver id 
driver = pd.read_csv('../input/driver_id.csv')
train_aug = pd.merge(train_aug,driver,on='driver_id',how='left')
train_aug.drop(['driver_id'],axis=1,inplace = True)

# member_id
member = pd.read_csv('../input/member_id.csv')
train_aug = pd.merge(train_aug,member,on='member_id',how='left')
train_aug.drop(['member_id'],axis=1,inplace = True)

#start_geo
loc_cp.rename(columns={'location':'start_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'start_geo_id_new'},inplace=True)
train_aug = pd.merge(train_aug,loc_cp,on='start_geo_id',how='left')
train_aug.drop(['start_geo_id'],axis=1,inplace = True)

#end_geo
loc_cp = location.copy()
loc_cp.rename(columns={'location':'end_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'end_geo_id_new'},inplace=True)
train_aug = pd.merge(train_aug,loc_cp,on='end_geo_id',how='left')
train_aug.drop(['end_geo_id'],axis=1,inplace = True)

#id
ID = pd.read_csv('../input/id.csv')
train_aug = pd.merge(train_aug,ID,on='id',how='left')
train_aug.drop(['id'],axis=1,inplace = True)

train_aug.rename(columns={'id_new':'id',
                         'driver_id_new':'driver_id',
                         'member_id_new':'member_id',
                         'start_geo_id_new':'start_geo_id',
                         'end_geo_id_new':'end_geo_id'
                        },inplace=True)
train_aug.to_csv('../../UAI_data/input/train_Aug_re.csv',encoding='gbk',index=False)
train_aug

,create_date,create_hour,status,estimate_money,estimate_distance,estimate_term,driver_id,member_id,start_geo_id,end_geo_id,id
0,2017-08-01,12,2,42.00,7324.0,14.0,2960,36797,61,85,892514
1,2017-08-01,12,2,37.00,5901.0,11.0,1564,62541,6,16,892515
2,2017-08-01,14,2,32.00,3137.0,6.0,592,85350,24,24,892516
3,2017-08-01,14,0,34.53,3672.0,7.0,2,184371,70,70,892517
4,2017-08-01,16,2,31.00,4392.0,8.0,2198,132061,46,41,892518
5,2017-08-01,16,2,61.00,9645.0,19.0,3025,184372,42,167,892519
6,2017-08-01,18,2,39.00,6514.0,13.0,970,184373,34,41,892520
7,2017-08-01,20,0,142.76,19667.0,39.0,2,184374,47,1,892521
8,2017-08-01,20,2,50.00,7228.0,14.0,3180,23361,16,6,892522
9,2017-08-01,20,2,78.00,16359.0,32.0,392,184375,18,133,892523
10,2017-08-01,20,2,55.00,10898.0,21.0,5354,2993,27,1,892524
11,2017-08-01,22,2,63.00,6509.0,13.0,3418,50122,24,76,892525
12,2017-08-02,7,2,38.00,6300.0,12.0,1052,29981,56,86,892526
13,2017-08-02,7,2,44.00,8161.0,14.0,1207,43366,128,107,892527
14,2017-08-02,7,2,62.00,13269.0,20.0,2267,184376,107,194,892528
15,2017-08-02,7,2,19.00,1301.0,2.0,1152,10999,47,47,892529
16,2017-08-02,9,2,149.00,20589.0,41.0,3711,142952,5,160,892530
17,2017-08-02,9,1,223.48,32886.0,41.0,3192,184377,10,60,892531
18,2017-08-02,11,2,46.00,8418.0,16.0,2267,3622,17,26,892532
19,2017-08-02,11,2,25.00,2921.0,5.0,3427,184378,86,76,892533
20,2017-08-02,13,2,73.00,15308.0,30.0,1402,46323,67,86,892534
21,2017-08-02,15,2,107.00,14889.0,29.0,2578,34175,24,72,892535
22,2017-08-02,19,2,62.00,11060.0,22.0,4967,27949,24,86,892536
23,2017-08-02,19,1,27.07,3240.0,6.0,524,91178,88,25,892537
24,2017-08-02,19,0,30.98,4282.0,8.0,2,119298,24,9,892538
25,2017-08-02,19,2,73.00,12488.0,23.0,2853,94845,72,31,892539
26,2017-08-02,19,1,106.34,16936.0,33.0,2,184379,72,61,892540
27,2017-08-02,19,0,107.54,9676.0,19.0,2,184380,72,15,892541
28,2017-08-02,21,0,32.14,1460.0,2.0,2,16912,22,24,892542
29,2017-08-02,21,1,62.23,6390.0,12.0,2,184381,24,29,892543
...,...,...,...,...,...,...,...,...,...,...,...
95627,2017-08-06,15,2,45.00,6014.0,12.0,1831,16397,10,71,988141
95628,2017-08-06,17,0,206.10,30057.0,51.0,2,106925,148,85,988142
95629,2017-08-06,17,0,42.25,7418.0,13.0,2,77024,90,34,988143
95630,2017-08-06,19,0,40.28,2742.0,5.0,2,135829,105,129,988144
95631,2017-08-06,19,2,114.00,24635.0,32.0,2251,38176,1,5,988145
95632,2017-08-06,21,2,65.00,10530.0,21.0,1337,191131,22,15,988146
95633,2017-08-07,0,2,162.00,22049.0,29.0,3820,199095,6,191,988147
95634,2017-08-07,6,2,67.00,14919.0,21.0,1714,199096,92,219,988148
95635,2017-08-07,8,1,113.97,16848.0,33.0,2,195738,9,206,988149
95636,2017-08-07,8,0,53.29,4937.0,9.0,2,147850,24,22,988150
95637,2017-08-07,8,0,56.24,5414.0,10.0,2,25576,22,26,988151
95638,2017-08-07,8,0,98.88,14695.0,29.0,2,185767,79,8,988152
95639,2017-08-07,8,0,62.45,6446.0,12.0,2,5085,63,17,988153
95640,2017-08-07,8,0,103.35,13076.0,26.0,2,65089,21,90,988154
95641,2017-08-07,8,0,51.72,4582.0,9.0,2,25180,135,1,988155
95642,2017-08-07,10,0,64.82,6798.0,13.0,2,189355,96,69,988156
95643,2017-08-07,12,2,67.00,8061.0,16.0,1078,190829,1,27,988157
95644,2017-08-07,12,2,38.00,6219.0,12.0,5695,16503,16,41,988158
95645,2017-08-07,14,2,206.00,35191.0,57.0,1368,199097,10,58,988159
95646,2017-08-07,16,2,17.00,874.0,1.0,2301,67880,25,25,988160
95647,2017-08-07,16,2,64.00,8249.0,16.0,787,199098,146,18,988161
95648,2017-08-07,16,2,44.00,7950.0,15.0,2766,10290,27,13,988162
95649,2017-08-07,16,2,64.00,6866.0,13.0,3,196457,39,9,988163
95650,2017-08-07,16,2,106.00,21607.0,42.0,541,5181,15,112,988164
95651,2017-08-07,16,2,71.00,14834.0,29.0,2806,99346,64,56,988165
95652,2017-08-07,18,2,94.00,11682.0,23.0,1723,198765,76,8,988166
95653,2017-08-07,18,2,44.00,5865.0,11.0,3997,26541,6,3,988167
95654,2017-08-07,20,2,104.00,18162.0,33.0,2666,499,55,54,988168
95655,2017-08-07,20,0,84.15,17368.0,34.0,2,19030,15,109,988169
95656,2017-08-07,22,2,36.00,5799.0,11.0,4222,47858,76,22,988170

### poi_re reshape

In [75]:
location = pd.read_csv('../input/location.csv')
loc_cp = location.copy()
poi_raw = pd.read_csv(poi_raw_path,encoding='gbk')
poi_re = pd.merge(poi_raw,loc_cp, on='location',how='left')
del poi_re['location'],poi_re['gas_station'],poi_re['supermarket'],poi_re['residence'],poi_re['metro'],poi_re['bus_station'],poi_re['caffe'],poi_re['restaurant'],poi_re['ATM'],poi_re['office_building'],poi_re['hotel']
poi_re.to_csv('../../UAI_data/input/poi_re.csv',index=False)
poi_re

,gas_station_num,supermarket_num,residence_num,metro_num,bus_station_num,caffe_num,restaurant_num,ATM_num,office_building_num,hotel_num,location_id
0,0,0,1,0,2,0,0,0,0,0,220
1,4,43,151,4,36,22,597,59,47,45,79
2,0,0,0,0,0,0,0,0,0,0,897
3,4,32,50,3,22,6,509,20,9,27,107
4,0,3,1,0,6,0,6,0,0,1,624
5,0,0,0,0,0,0,0,0,0,0,763
6,2,30,151,3,28,19,513,39,55,80,33
7,0,0,0,0,0,0,0,0,0,0,869
8,9,34,170,4,45,20,779,69,66,116,3
9,0,0,0,0,0,0,0,0,0,0,803
10,0,2,1,0,5,0,2,0,0,2,496
11,0,0,0,0,0,0,0,0,0,0,452
12,1,0,13,0,12,2,2,2,0,3,285
13,2,7,24,0,25,0,107,11,0,3,305
14,0,0,0,0,0,0,0,0,0,0,548
15,0,0,0,0,0,0,0,0,0,0,934
16,2,13,0,0,13,0,15,0,0,1,797
17,1,0,0,0,13,1,7,1,0,2,1211
18,0,0,0,0,0,0,0,0,0,0,461
19,0,2,2,0,3,0,2,0,0,0,1051
20,0,0,0,0,1,0,1,0,0,0,896
21,0,0,0,0,1,0,3,0,0,0,1199
22,1,1,3,0,5,0,7,0,0,5,377
23,0,0,0,0,0,0,0,0,0,0,1061
24,0,0,2,0,2,0,2,0,0,3,534
25,2,9,16,0,14,1,145,1,0,4,186
26,2,5,2,0,6,0,7,1,0,2,423
27,1,7,20,1,12,0,99,2,2,6,128
28,1,7,2,0,7,0,73,2,1,8,553
29,0,6,17,0,5,1,7,0,4,22,274
...,...,...,...,...,...,...,...,...,...,...,...
1204,0,3,0,0,7,0,3,1,0,0,1098
1205,1,1,0,0,7,0,0,0,0,0,1097
1206,0,0,2,0,1,0,1,0,0,0,603
1207,0,0,0,0,0,0,0,0,0,0,1220
1208,0,0,0,0,12,0,0,1,0,0,780
1209,1,4,5,0,5,0,61,3,0,2,590
1210,2,11,31,1,33,2,92,7,11,6,253
1211,1,0,1,0,7,0,5,1,0,0,601
1212,1,8,25,1,13,3,45,7,23,4,392
1213,1,2,3,0,4,1,16,1,0,1,278
1214,3,6,4,1,14,0,20,1,0,2,686
1215,0,0,1,0,0,0,1,0,0,1,953
1216,1,17,40,2,29,2,70,13,1,9,227
1217,5,21,79,3,45,4,552,19,54,19,104
1218,0,0,0,0,0,0,0,0,0,0,926
1219,0,1,6,0,18,2,78,3,5,5,82
1220,0,0,0,0,0,0,0,0,0,0,846
1221,2,33,23,2,27,2,496,7,6,8,217
1222,2,6,3,0,14,1,55,3,1,5,221
1223,0,31,28,1,17,4,428,4,2,10,251
1224,6,86,206,5,105,21,897,70,46,72,59
1225,1,31,42,0,22,5,567,12,10,22,83
1226,0,0,0,0,0,0,0,0,0,0,561
1227,1,38,51,4,25,7,558,21,6,36,147
1228,1,19,16,0,15,1,246,2,2,3,240
1229,7,27,45,2,53,8,278,25,12,42,170
1230,1,11,30,0,24,11,190,10,10,10,42
1231,2,2,3,1,25,23,50,19,1,36,60
1232,0,0,0,0,7,0,0,0,0,0,195
1233,0,0,0,0,10,0,2,1,0,0,1085

### test reshape

In [76]:
location = pd.read_csv('../input/location.csv')
#start_geo
loc_cp = location.copy()
loc_cp.rename(columns={'location':'start_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'start_geo_id_new'},inplace=True)
test_pub5k = pd.merge(test_pub5k,loc_cp,on='start_geo_id',how='left')
test_pub5k.drop(['start_geo_id'],axis=1,inplace = True)

#end_geo
loc_cp = location.copy()
loc_cp.rename(columns={'location':'end_geo_id'},inplace=True)
loc_cp.rename(columns={'location_id':'end_geo_id_new'},inplace=True)
test_pub5k = pd.merge(test_pub5k,loc_cp,on='end_geo_id',how='left')
test_pub5k.drop(['end_geo_id'],axis=1,inplace = True)
test_pub5k.to_csv('../../UAI_data/input/test.csv',index=False)
test_pub5k

      test_id create_date  create_hour  start_geo_id_new  end_geo_id_new
0           0  2017-08-01           21                24              27
1           1  2017-08-01           21                24               9
2           2  2017-08-01           21                24              22
3           3  2017-08-01           17                24               9
4           4  2017-08-01           17                55              55
5           5  2017-08-01           17               110              88
6           6  2017-08-01            9                23              21
7           7  2017-08-01           21                16              50
8           8  2017-08-01           13                 6              24
9           9  2017-08-01           21                 6              22
10         10  2017-08-01           17                 6               9
11         11  2017-08-01           21                34              90
12         12  2017-08-01            9                 1              13
13         13  2017-08-01           21                24              13
14         14  2017-08-01           21                10              10
15         15  2017-08-01           13                48              72
16         16  2017-08-01            7               649             111
17         17  2017-08-01           21                18              22
18         18  2017-08-01           13                15               6
19         19  2017-08-01           17                24              22
20         20  2017-08-01           21                 6              24
21         21  2017-08-01           11                24              24
22         22  2017-08-01           13                27              27
23         23  2017-08-01           21                90              50
24         24  2017-08-01           21                24               6
25         25  2017-08-01           15               152              77
26         26  2017-08-01           11               140             103
27         27  2017-08-01           11                22              24
28         28  2017-08-01            9                 1              39
29         29  2017-08-01           13                24              55
...       ...         ...          ...               ...             ...
4970     4970  2017-08-07           17               318              61
4971     4971  2017-08-07            9                 6             649
4972     4972  2017-08-07           11               266             267
4973     4973  2017-08-07            5               119              31
4974     4974  2017-08-07           15               107              24
4975     4975  2017-08-07           23               266             267
4976     4976  2017-08-07            7                47             459
4977     4977  2017-08-07           23              1282              73
4978     4978  2017-08-07           21               817             193
4979     4979  2017-08-07           15               379             120
4980     4980  2017-08-07            3               459            1285
4981     4981  2017-08-07           21               110             364
4982     4982  2017-08-07           17               107              24
4983     4983  2017-08-07           13                 5              26
4984     4984  2017-08-07            5               229              59
4985     4985  2017-08-07            5               292             735
4986     4986  2017-08-07           15                92             327
4987     4987  2017-08-07            9               205             146
4988     4988  2017-08-07           21              1283             323
4989     4989  2017-08-07            1               107              24
4990     4990  2017-08-07           17                79             117
4991     4991  2017-08-07           21               331             837
4992     4992  2017-08-07           19               260             353
4993     4993  2017-08-07           19               228            1013
4994     4994  2017-08-07            1               316             316
4995     4995  2017-08-07           17               354             403
4996     4996  2017-08-07           23               275             264
4997     4997  2017-08-07           15               110             364
4998     4998  2017-08-07           13               817             193
4999     4999  2017-08-07           13                92             327

[5000 rows x 5 columns]