In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 8,6

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
train_jul_demand_path = '../../UAI_data/input/tain_jul_demand.csv'
train_aug_demand_path = '../../UAI_data/input/tain_aug_demand.csv'
location_path = '../../UAI_data/input/location_cls.csv'
holiday_path = '../../UAI_data/input/holiday.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
train_jul_demand = pd.read_csv(train_jul_demand_path,encoding='gbk')
train_aug_demand = pd.read_csv(train_aug_demand_path,encoding='gbk')
loc_cls = pd.read_csv(location_path)
holiday = pd.read_csv(holiday_path)
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

###  Helper Functions

In [2]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

In [5]:
train_jul_exc = train_jul[train_jul['driver_id'] != 2].copy()
coord_jul = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_jul.loc[:,'estimate_money_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].mean()['estimate_money']
# coord_jul.loc[:,'estimate_money_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].median()['estimate_money']
# coord_jul.loc[:,'estimate_money_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].max()['estimate_money']
# coord_jul.loc[:,'estimate_money_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].min()['estimate_money']
coord_jul.loc[:,'estimate_distance_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].mean()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].median()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].max()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].min()['estimate_distance']
coord_jul.loc[:,'estimate_term_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].mean()['estimate_term']
# coord_jul.loc[:,'estimate_term_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].median()['estimate_term']
# coord_jul.loc[:,'estimate_term_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].max()['estimate_term']
# coord_jul.loc[:,'estimate_term_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].min()['estimate_term']

coord_jul.to_csv('train_jul_exc.csv',index=False)
coord_jul

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000,14431.0,24.0
1,2017-07-01,0,0,21,1,39.000,4905.0,9.0
2,2017-07-01,0,1,1,2,28.500,2437.0,4.5
3,2017-07-01,0,1,15,2,67.000,10955.0,21.5
4,2017-07-01,0,1,37,1,63.000,10010.0,20.0
5,2017-07-01,0,1,39,2,67.110,11493.0,17.5
6,2017-07-01,0,1,89,1,58.000,8905.0,17.0
7,2017-07-01,0,1,95,1,90.000,15677.0,31.0
8,2017-07-01,0,1,160,2,46.520,6347.0,12.0
9,2017-07-01,0,1,303,1,66.000,11493.0,17.0
10,2017-07-01,0,2,2,1,233.000,36363.0,36.0
11,2017-07-01,0,2,38,5,64.982,6605.8,13.0
12,2017-07-01,0,2,46,1,110.710,17460.0,23.0
13,2017-07-01,0,2,265,1,315.000,41878.0,49.0
14,2017-07-01,0,3,80,1,52.000,4728.0,9.0
15,2017-07-01,0,4,97,1,37.000,4308.0,8.0
16,2017-07-01,0,5,0,1,140.000,20099.0,18.0
17,2017-07-01,0,5,1,1,206.000,27950.0,33.0
18,2017-07-01,0,5,8,2,121.500,19427.0,21.5
19,2017-07-01,0,5,29,1,201.000,27823.0,28.0
20,2017-07-01,0,5,30,1,284.000,37830.0,45.0
21,2017-07-01,0,5,31,1,380.000,36014.0,35.0
22,2017-07-01,0,5,34,1,240.000,32813.0,34.0
23,2017-07-01,0,5,39,2,147.000,23825.5,23.0
24,2017-07-01,0,5,51,1,134.920,18680.0,23.0
25,2017-07-01,0,5,63,1,163.000,21984.0,30.0
26,2017-07-01,0,5,70,1,241.000,32615.0,36.0
27,2017-07-01,0,5,71,1,200.000,26470.0,38.0
28,2017-07-01,0,5,73,1,194.000,26601.0,29.0
29,2017-07-01,0,5,102,1,128.000,18124.0,20.0
...,...,...,...,...,...,...,...,...
447489,2017-07-31,23,109,24,1,85.000,14812.0,29.0
447490,2017-07-31,23,109,79,1,94.000,16836.0,27.0
447491,2017-07-31,23,109,92,1,206.150,35307.0,55.0
447492,2017-07-31,23,114,56,1,78.000,13353.0,26.0
447493,2017-07-31,23,114,76,2,82.625,14957.0,24.0
447494,2017-07-31,23,118,25,1,23.000,1179.0,2.0
447495,2017-07-31,23,118,118,1,26.000,1913.0,3.0
447496,2017-07-31,23,118,119,1,45.000,6389.0,10.0
447497,2017-07-31,23,119,44,1,32.000,3154.0,6.0
447498,2017-07-31,23,119,90,1,67.000,11256.0,20.0
447499,2017-07-31,23,124,157,1,53.000,7900.0,15.0
447500,2017-07-31,23,135,17,1,36.000,4116.0,8.0
447501,2017-07-31,23,135,21,1,71.000,12721.0,18.0
447502,2017-07-31,23,140,90,1,74.000,13715.0,17.0
447503,2017-07-31,23,144,72,1,65.730,10999.0,18.0
447504,2017-07-31,23,147,33,1,164.000,27290.0,54.0
447505,2017-07-31,23,147,169,1,40.000,4974.0,9.0
447506,2017-07-31,23,149,122,1,96.440,17186.0,28.0
447507,2017-07-31,23,150,74,1,59.000,9280.0,18.0
447508,2017-07-31,23,150,96,1,50.000,7043.0,14.0
447509,2017-07-31,23,150,150,2,43.255,3968.0,7.0
447510,2017-07-31,23,158,24,1,57.000,8666.0,17.0
447511,2017-07-31,23,167,146,1,61.000,10784.0,12.0
447512,2017-07-31,23,194,8,1,131.000,24066.0,28.0
447513,2017-07-31,23,195,42,1,61.000,9610.0,19.0
447514,2017-07-31,23,223,25,2,57.420,8828.0,16.5
447515,2017-07-31,23,245,175,1,71.000,12165.0,21.0
447516,2017-07-31,23,251,70,1,168.430,30206.0,36.0
447517,2017-07-31,23,360,105,1,34.770,3749.0,7.0
447518,2017-07-31,23,478,80,1,206.000,37641.0,35.0

In [6]:
test

      test_id create_date  create_hour  start_geo_id_new  end_geo_id_new
0           0  2017-08-01           21                24              27
1           1  2017-08-01           21                24               9
2           2  2017-08-01           21                24              22
3           3  2017-08-01           17                24               9
4           4  2017-08-01           17                55              55
5           5  2017-08-01           17               110              88
6           6  2017-08-01            9                23              21
7           7  2017-08-01           21                16              50
8           8  2017-08-01           13                 6              24
9           9  2017-08-01           21                 6              22
10         10  2017-08-01           17                 6               9
11         11  2017-08-01           21                34              90
12         12  2017-08-01            9                 1              13
13         13  2017-08-01           21                24              13
14         14  2017-08-01           21                10              10
15         15  2017-08-01           13                48              72
16         16  2017-08-01            7               649             111
17         17  2017-08-01           21                18              22
18         18  2017-08-01           13                15               6
19         19  2017-08-01           17                24              22
20         20  2017-08-01           21                 6              24
21         21  2017-08-01           11                24              24
22         22  2017-08-01           13                27              27
23         23  2017-08-01           21                90              50
24         24  2017-08-01           21                24               6
25         25  2017-08-01           15               152              77
26         26  2017-08-01           11               140             103
27         27  2017-08-01           11                22              24
28         28  2017-08-01            9                 1              39
29         29  2017-08-01           13                24              55
...       ...         ...          ...               ...             ...
4970     4970  2017-08-07           17               318              61
4971     4971  2017-08-07            9                 6             649
4972     4972  2017-08-07           11               266             267
4973     4973  2017-08-07            5               119              31
4974     4974  2017-08-07           15               107              24
4975     4975  2017-08-07           23               266             267
4976     4976  2017-08-07            7                47             459
4977     4977  2017-08-07           23              1282              73
4978     4978  2017-08-07           21               817             193
4979     4979  2017-08-07           15               379             120
4980     4980  2017-08-07            3               459            1285
4981     4981  2017-08-07           21               110             364
4982     4982  2017-08-07           17               107              24
4983     4983  2017-08-07           13                 5              26
4984     4984  2017-08-07            5               229              59
4985     4985  2017-08-07            5               292             735
4986     4986  2017-08-07           15                92             327
4987     4987  2017-08-07            9               205             146
4988     4988  2017-08-07           21              1283             323
4989     4989  2017-08-07            1               107              24
4990     4990  2017-08-07           17                79             117
4991     4991  2017-08-07           21               331             837
4992     4992  2017-08-07           19               260             353
4993     4993  2017-08-07           19               228            1013
4994     4994  2017-08-07            1               316             316
4995     4995  2017-08-07           17               354             403
4996     4996  2017-08-07           23               275             264
4997     4997  2017-08-07           15               110             364
4998     4998  2017-08-07           13               817             193
4999     4999  2017-08-07           13                92             327

[5000 rows x 5 columns]

In [7]:
train_aug_demand

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]