In [1]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 8,6

poi_path = '../../UAI_data/input/poi_re.csv'
train_Aug_path = '../../UAI_data/input/train_Aug_re.csv'
train_Jul_path = '../../UAI_data/input/train_July_re.csv'
train_jul_demand_path = '../../UAI_data/input/tain_jul_demand.csv'
train_aug_demand_path = '../../UAI_data/input/tain_aug_demand.csv'
location_path = '../../UAI_data/input/location_cls.csv'
holiday_path = '../../UAI_data/input/holiday.csv'
weather_path = '../../UAI_data/input/weather.csv'
test_path = '../../UAI_data/input/test.csv'

poi = pd.read_csv(poi_path,encoding='gbk')
train_aug = pd.read_csv(train_Aug_path,encoding='gbk')
train_jul = pd.read_csv(train_Jul_path,encoding='gbk')
train_jul_demand = pd.read_csv(train_jul_demand_path,encoding='gbk')
train_aug_demand = pd.read_csv(train_aug_demand_path,encoding='gbk')
loc_cls = pd.read_csv(location_path)
holiday = pd.read_csv(holiday_path)
weather = pd.read_csv(weather_path)
test = pd.read_csv(test_path,encoding='gbk')

###  Helper Functions

In [2]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = df.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

In [3]:
# train_jul_exc = train_jul[train_jul['driver_id'] != 2].copy()
train_jul_exc = train_jul.copy()
coord_jul = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
coord_jul.loc[:,'estimate_money_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].mean()['estimate_money']
# coord_jul.loc[:,'estimate_money_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].median()['estimate_money']
# coord_jul.loc[:,'estimate_money_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].max()['estimate_money']
# coord_jul.loc[:,'estimate_money_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money'].min()['estimate_money']
coord_jul.loc[:,'estimate_distance_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].mean()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].median()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].max()['estimate_distance']
# coord_jul.loc[:,'estimate_distance_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_distance'].min()['estimate_distance']
coord_jul.loc[:,'estimate_term_mean'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].mean()['estimate_term']
# coord_jul.loc[:,'estimate_term_median'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].median()['estimate_term']
# coord_jul.loc[:,'estimate_term_max'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].max()['estimate_term']
# coord_jul.loc[:,'estimate_term_min'] = train_jul_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_term'].min()['estimate_term']

# coord_jul.to_csv('train_jul_exc.csv',index=False)
coord_jul

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [4]:
test

      test_id create_date  create_hour  start_geo_id  end_geo_id
0           0    2017/8/1           21            24          27
1           1    2017/8/1           21            24           9
2           2    2017/8/1           21            24          22
3           3    2017/8/1           17            24           9
4           4    2017/8/1           17            55          55
5           5    2017/8/1           17           110          88
6           6    2017/8/1            9            23          21
7           7    2017/8/1           21            16          50
8           8    2017/8/1           13             6          24
9           9    2017/8/1           21             6          22
10         10    2017/8/1           17             6           9
11         11    2017/8/1           21            34          90
12         12    2017/8/1            9             1          13
13         13    2017/8/1           21            24          13
14         14    2017/8/1           21            10          10
15         15    2017/8/1           13            48          72
16         16    2017/8/1            7           649         111
17         17    2017/8/1           21            18          22
18         18    2017/8/1           13            15           6
19         19    2017/8/1           17            24          22
20         20    2017/8/1           21             6          24
21         21    2017/8/1           11            24          24
22         22    2017/8/1           13            27          27
23         23    2017/8/1           21            90          50
24         24    2017/8/1           21            24           6
25         25    2017/8/1           15           152          77
26         26    2017/8/1           11           140         103
27         27    2017/8/1           11            22          24
28         28    2017/8/1            9             1          39
29         29    2017/8/1           13            24          55
...       ...         ...          ...           ...         ...
4970     4970    2017/8/7           17           318          61
4971     4971    2017/8/7            9             6         649
4972     4972    2017/8/7           11           266         267
4973     4973    2017/8/7            5           119          31
4974     4974    2017/8/7           15           107          24
4975     4975    2017/8/7           23           266         267
4976     4976    2017/8/7            7            47         459
4977     4977    2017/8/7           23          1282          73
4978     4978    2017/8/7           21           817         193
4979     4979    2017/8/7           15           379         120
4980     4980    2017/8/7            3           459        1285
4981     4981    2017/8/7           21           110         364
4982     4982    2017/8/7           17           107          24
4983     4983    2017/8/7           13             5          26
4984     4984    2017/8/7            5           229          59
4985     4985    2017/8/7            5           292         735
4986     4986    2017/8/7           15            92         327
4987     4987    2017/8/7            9           205         146
4988     4988    2017/8/7           21          1283         323
4989     4989    2017/8/7            1           107          24
4990     4990    2017/8/7           17            79         117
4991     4991    2017/8/7           21           331         837
4992     4992    2017/8/7           19           260         353
4993     4993    2017/8/7           19           228        1013
4994     4994    2017/8/7            1           316         316
4995     4995    2017/8/7           17           354         403
4996     4996    2017/8/7           23           275         264
4997     4997    2017/8/7           15           110         364
4998     4998    2017/8/7           13           817         193
4999     4999    2017/8/7           13            92         327

[5000 rows x 5 columns]

In [5]:
train_aug_demand

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [6]:
test['create_hour'].value_counts()

22    443
20    411
21    383
17    346
13    334
9     313
18    261
15    254
8     246
16    242
11    240
7     234
19    225
10    211
14    201
12    180
23    147
6      76
0      70
1      61
5      47
3      30
2      25
4      20
Name: create_hour, dtype: int64

### Valid set split

In [7]:
# train_aug_exc = train_aug[train_aug['driver_id'] != 2].copy()
train_aug_exc = train_aug.copy()
coord_aug = train_aug_exc.groupby(['create_date','create_hour','start_geo_id','end_geo_id'],as_index=False)['start_geo_id'].agg({'demand_count':'count'})
# coord_aug.to_csv('train_aug_exc.csv',index=False)
coord_aug

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
0      2017-08-01            0             1           1             1
1      2017-08-01            0             1           9             1
2      2017-08-01            0             1          41             1
3      2017-08-01            0             1          73             1
4      2017-08-01            0             1         101             1
5      2017-08-01            0             1         191             1
6      2017-08-01            0             1         198             1
7      2017-08-01            0             3          56             1
8      2017-08-01            0             5           1             1
9      2017-08-01            0             5           5             3
10     2017-08-01            0             5          18             1
11     2017-08-01            0             5          24             1
12     2017-08-01            0             5          55             1
13     2017-08-01            0             5          56             1
14     2017-08-01            0             5          62             1
15     2017-08-01            0             5         107             1
16     2017-08-01            0             5         176             1
17     2017-08-01            0             5         203             1
18     2017-08-01            0             5         211             1
19     2017-08-01            0             5         300             1
20     2017-08-01            0             5         530             1
21     2017-08-01            0             6           9             1
22     2017-08-01            0             6          13             1
23     2017-08-01            0             6          16             2
24     2017-08-01            0             6          39             1
25     2017-08-01            0             6          64             1
26     2017-08-01            0             6          70             1
27     2017-08-01            0             6          80             1
28     2017-08-01            0             6          90             1
29     2017-08-01            0             6          92             1
...           ...          ...           ...         ...           ...
54793  2017-08-07           22           146          63             2
54794  2017-08-07           22           149          27             1
54795  2017-08-07           22           149          72             1
54796  2017-08-07           22           149         149             1
54797  2017-08-07           22           150          21             2
54798  2017-08-07           22           152           6             1
54799  2017-08-07           22           158           1             1
54800  2017-08-07           22           163         110             4
54801  2017-08-07           22           164          33             1
54802  2017-08-07           22           167          47             1
54803  2017-08-07           22           168         298             1
54804  2017-08-07           22           173          88             3
54805  2017-08-07           22           184           4             1
54806  2017-08-07           22           184          24             1
54807  2017-08-07           22           184          87             2
54808  2017-08-07           22           191         243             1
54809  2017-08-07           22           194           9             1
54810  2017-08-07           22           194          27             1
54811  2017-08-07           22           195          18             1
54812  2017-08-07           22           198           1             1
54813  2017-08-07           22           198         160             3
54814  2017-08-07           22           201         127             1
54815  2017-08-07           22           223          49             1
54816  2017-08-07           22           251           5             1
54817  2017-08-07           22           300         306             1
54818  2017-08-07           22           343         932             1
54819  2017-08-07           22           349          60             1
54820  2017-08-07           22           349         472             1
54821  2017-08-07           22           353         223             2
54822  2017-08-07           22           693          10             2

[54823 rows x 5 columns]

In [8]:
dict_list = {
'l_50' : [0,1,2,3,4,5],
'l_100' : [6],
'l_150' : [12,23],
'l_200' : [10,14,19],
'l_250' : [7,8,11,15,16,18],
'l_300' : [9,13],
'l_350' : [17],
'l_400' : [20,21]
# 'l_450' : [22]
}
l_22 = coord_aug[coord_aug['create_hour'] == 22].index
r = np.random.choice(l_22,450)
valid = coord_aug.iloc[r]
for key,l in dict_list.items():
    num =  int(key.split('_')[1])
    for hour in l:
        l_tmp = coord_aug[coord_aug['create_hour'] == hour].index
        r = np.random.choice(l_tmp,num)
        tmp_valid = coord_aug.iloc[r].copy()
        valid = pd.concat([valid,tmp_valid],axis=0)
valid.sort_values(['create_date','create_hour'],inplace=True)
valid

      create_date  create_hour  start_geo_id  end_geo_id  demand_count
100    2017-08-01            0            22          39             1
68     2017-08-01            0            17         128             2
96     2017-08-01            0            22          22             2
2      2017-08-01            0             1          41             1
375    2017-08-01            2            88          51             1
328    2017-08-01            2            24           2             1
299    2017-08-01            2             1          26             1
338    2017-08-01            2            24          88             1
350    2017-08-01            2            33          39             1
301    2017-08-01            2             1          99             1
432    2017-08-01            4            71          19             1
430    2017-08-01            4            70          90             1
421    2017-08-01            4            55          19             1
439    2017-08-01            4            90          30             1
402    2017-08-01            4            24          25             1
407    2017-08-01            4            27          19             1
389    2017-08-01            4            13         135             1
420    2017-08-01            4            55           5             1
384    2017-08-01            4             6          15             2
715    2017-08-01            6            79         114             1
543    2017-08-01            6            22          72             1
555    2017-08-01            6            24          72             2
647    2017-08-01            6            56           9             1
671    2017-08-01            6            62          86             1
820    2017-08-01            6           649          99             1
819    2017-08-01            6           649          96             4
739    2017-08-01            6            92           9             2
544    2017-08-01            6            22          77             1
820    2017-08-01            6           649          99             1
630    2017-08-01            6            48          86             1
...           ...          ...           ...         ...           ...
54710  2017-08-07           22            76          15             5
54494  2017-08-07           22            39          55             3
54588  2017-08-07           22            55          90             1
54217  2017-08-07           22            16          40             1
54784  2017-08-07           22           120          16             1
54353  2017-08-07           22            24           3             6
54569  2017-08-07           22            51         160             1
54433  2017-08-07           22            27          39             1
54453  2017-08-07           22            31          64             1
54513  2017-08-07           22            41          18             1
54228  2017-08-07           22            16         149             2
54485  2017-08-07           22            39          26             5
54576  2017-08-07           22            55          24             1
54463  2017-08-07           22            34          54             1
54269  2017-08-07           22            19           6             3
54285  2017-08-07           22            19          62             1
54659  2017-08-07           22            69          27             1
54469  2017-08-07           22            36          51             2
54643  2017-08-07           22            63         102             1
54788  2017-08-07           22           135          77             1
54178  2017-08-07           22            13          79             1
54351  2017-08-07           22            23         140             1
54714  2017-08-07           22            76          36             1
54753  2017-08-07           22            88          90             1
54645  2017-08-07           22            63         120             1
54383  2017-08-07           22            24          72             2
54290  2017-08-07           22            19         139             1
54524  2017-08-07           22            45          70             1
54094  2017-08-07           22             6          22             4
54407  2017-08-07           22            26           6             1

[5000 rows x 5 columns]

In [9]:
valid['create_hour'].unique()

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22,  1,  3,  5,  7,  9,
       11, 13, 15, 17, 19, 21, 23], dtype=int64)

## Feature Extracting
### 1. order list attribution

In [10]:
train_tr = coord_jul.copy()
valid_tr = valid.copy()
train_tr
# valid_tr
# valid_tr['demand_count']

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667
...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000

In [11]:
# time attribution
holiday['create_date'] = pd.to_datetime(holiday['create_date'])
train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
valid_tr['create_date'] = pd.to_datetime(valid_tr['create_date'])
train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
valid_tr = pd.merge(valid_tr,holiday,on='create_date',how='left')
train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
valid_tr['dayOfWeek'] = valid_tr['create_date'].dt.dayofweek
train_tr

# # time attribution
# holiday['create_date'] = pd.to_datetime(holiday['create_date'])
# train_tr['create_date'] = pd.to_datetime(train_tr['create_date'])
# test['create_date'] = pd.to_datetime(test['create_date'])
# train_tr = pd.merge(train_tr,holiday,on='create_date',how='left')
# test = pd.merge(test,holiday,on='create_date',how='left')
# train_tr['dayOfWeek'] = train_tr['create_date'].dt.dayofweek
# test['dayOfWeek'] = test['create_date'].dt.dayofweek
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,estimate_money_mean,estimate_distance_mean,estimate_term_mean,holiday,dayOfWeek
0,2017-07-01,0,0,10,1,101.000000,14431.000000,24.000000,1,5
1,2017-07-01,0,0,21,1,39.000000,4905.000000,9.000000,1,5
2,2017-07-01,0,0,64,1,78.860000,8764.000000,9.000000,1,5
3,2017-07-01,0,1,1,2,28.500000,2437.000000,4.500000,1,5
4,2017-07-01,0,1,15,2,67.000000,10955.000000,21.500000,1,5
5,2017-07-01,0,1,37,1,63.000000,10010.000000,20.000000,1,5
6,2017-07-01,0,1,39,2,67.110000,11493.000000,17.500000,1,5
7,2017-07-01,0,1,89,2,59.675000,9208.500000,18.000000,1,5
8,2017-07-01,0,1,95,1,90.000000,15677.000000,31.000000,1,5
9,2017-07-01,0,1,160,2,46.520000,6347.000000,12.000000,1,5
10,2017-07-01,0,1,303,1,66.000000,11493.000000,17.000000,1,5
11,2017-07-01,0,2,2,1,233.000000,36363.000000,36.000000,1,5
12,2017-07-01,0,2,5,1,234.290000,36363.000000,37.000000,1,5
13,2017-07-01,0,2,38,7,71.901429,6602.714286,13.000000,1,5
14,2017-07-01,0,2,46,5,149.892000,17490.200000,22.600000,1,5
15,2017-07-01,0,2,265,1,315.000000,41878.000000,49.000000,1,5
16,2017-07-01,0,3,80,1,52.000000,4728.000000,9.000000,1,5
17,2017-07-01,0,4,97,1,37.000000,4308.000000,8.000000,1,5
18,2017-07-01,0,5,0,3,140.083333,20009.000000,18.333333,1,5
19,2017-07-01,0,5,1,1,206.000000,27950.000000,33.000000,1,5
20,2017-07-01,0,5,8,3,129.566667,19778.666667,21.333333,1,5
21,2017-07-01,0,5,9,3,192.633333,26606.000000,27.000000,1,5
22,2017-07-01,0,5,18,3,125.733333,17620.000000,20.666667,1,5
23,2017-07-01,0,5,22,5,146.710000,20771.800000,19.800000,1,5
24,2017-07-01,0,5,29,1,201.000000,27823.000000,28.000000,1,5
25,2017-07-01,0,5,30,2,284.135000,37830.000000,45.000000,1,5
26,2017-07-01,0,5,31,1,380.000000,36014.000000,35.000000,1,5
27,2017-07-01,0,5,34,1,240.000000,32813.000000,34.000000,1,5
28,2017-07-01,0,5,39,3,151.160000,23301.333333,23.000000,1,5
29,2017-07-01,0,5,51,3,132.980000,18438.333333,22.666667,1,5
...,...,...,...,...,...,...,...,...,...,...
501315,2017-07-31,23,114,56,1,78.000000,13353.000000,26.000000,0,0
501316,2017-07-31,23,114,76,2,82.625000,14957.000000,24.000000,0,0
501317,2017-07-31,23,118,25,1,23.000000,1179.000000,2.000000,0,0
501318,2017-07-31,23,118,118,1,26.000000,1913.000000,3.000000,0,0
501319,2017-07-31,23,118,119,1,45.000000,6389.000000,10.000000,0,0
501320,2017-07-31,23,119,44,1,32.000000,3154.000000,6.000000,0,0
501321,2017-07-31,23,119,90,1,67.000000,11256.000000,20.000000,0,0
501322,2017-07-31,23,124,157,1,53.000000,7900.000000,15.000000,0,0
501323,2017-07-31,23,126,108,1,81.180000,14343.000000,25.000000,0,0
501324,2017-07-31,23,135,17,1,36.000000,4116.000000,8.000000,0,0
501325,2017-07-31,23,135,21,1,71.000000,12721.000000,18.000000,0,0
501326,2017-07-31,23,140,90,1,74.000000,13715.000000,17.000000,0,0
501327,2017-07-31,23,144,72,1,65.730000,10999.000000,18.000000,0,0
501328,2017-07-31,23,147,33,1,164.000000,27290.000000,54.000000,0,0
501329,2017-07-31,23,147,169,1,40.000000,4974.000000,9.000000,0,0
501330,2017-07-31,23,149,122,1,96.440000,17186.000000,28.000000,0,0
501331,2017-07-31,23,150,74,1,59.000000,9280.000000,18.000000,0,0
501332,2017-07-31,23,150,96,1,50.000000,7043.000000,14.000000,0,0
501333,2017-07-31,23,150,150,2,43.255000,3968.000000,7.000000,0,0
501334,2017-07-31,23,155,3,1,71.910000,6850.000000,13.000000,0,0
501335,2017-07-31,23,158,24,1,57.000000,8666.000000,17.000000,0,0
501336,2017-07-31,23,167,146,1,61.000000,10784.000000,12.000000,0,0
501337,2017-07-31,23,194,8,1,131.000000,24066.000000,28.000000,0,0
501338,2017-07-31,23,195,42,1,61.000000,9610.000000,19.000000,0,0
501339,2017-07-31,23,223,25,2,57.420000,8828.000000,16.500000,0,0
501340,2017-07-31,23,245,175,1,71.000000,12165.000000,21.000000,0,0
501341,2017-07-31,23,251,70,1,168.430000,30206.000000,36.000000,0,0
501342,2017-07-31,23,360,105,1,34.770000,3749.000000,7.000000,0,0
501343,2017-07-31,23,478,80,1,206.000000,37641.000000,35.000000,0,0
501344,2017-07-31,23,579,60,1,129.710000,22936.000000,34.000000,0,0

In [12]:
coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_money_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_hour_mean':'mean'})
# coord_money_day = train_tr.groupby(['dayOfWeek','start_geo_id','end_geo_id'],as_index=False)['estimate_money_mean'].agg({'money_day_mean':'mean'})
# coord_dis_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_distance_mean'].agg({'dis_hour_mean':'mean'})
# coord_term_hour = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['estimate_term_mean'].agg({'term_hour_mean':'mean'})
# train_tr = pd.merge(train_tr,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# # train_tr = pd.merge(train_tr,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_money_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_money_day,on=['dayOfWeek','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_dis_hour,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_term_hour,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,8.000088
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,29.750000
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,4.480016
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,40.047128
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,25.766667
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,25.451156
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,21.973866
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,27.764229
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,13.987179
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,26.503876
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,27.528846
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,11.829968
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,9.298250
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,31.934149
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,8.427184
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,6.347252
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,5.970395
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,32.832585
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,27.662935
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,26.800189
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,27.042553
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,25.300000
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,44.115385
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,28.148026
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,22.264706
...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,8.665388
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,17.257846
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,15.484587
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,11.624164
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,28.157895
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,13.304600
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,21.431373
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,13.007876
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,29.344697
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,40.054545
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,18.426310
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,8.181783
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,21.027852
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,40.250000
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,7.225336
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,13.329829
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,35.908046
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,5.047693
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,13.166667
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,32.000000
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,13.695473
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,34.000000
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,21.905914
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,7.844253
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,45.047619
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,27.662935
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,27.968750
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,28.494949
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,14.609754
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,15.811851

### 2.Location
#### 2.1 Pure location

In [13]:
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
loc_start = loc_cls.copy()
loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_start,on='start_geo_id',how='left')
loc_end = loc_cls.copy()
loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
valid_tr = pd.merge(valid_tr,loc_end,on='end_geo_id',how='left')
# valid_tr['end_cluster'].astype('int',inplace=True)
valid_tr

# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# train_tr = pd.merge(train_tr,loc_end,on='end_geo_id',how='left')
# loc_start = loc_cls.copy()
# loc_start.rename(columns={'location_id':'start_geo_id','cluster':'start_cluster'},inplace=True)
# test = pd.merge(test,loc_start,on='start_geo_id',how='left')
# loc_end = loc_cls.copy()
# loc_end.rename(columns={'location_id':'end_geo_id','cluster':'end_cluster'},inplace=True)
# test = pd.merge(test,loc_end,on='end_geo_id',how='left')
# # test['end_cluster'].astype('int',inplace=True)
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,8.000088,5.0,1.0
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,29.750000,5.0,3.0
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,4.480016,5.0,5.0
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,40.047128,1.0,5.0
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,25.766667,5.0,1.0
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,25.451156,1.0,1.0
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,21.973866,1.0,5.0
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,27.764229,1.0,5.0
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,13.987179,5.0,1.0
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,26.503876,1.0,5.0
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,27.528846,5.0,5.0
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,11.829968,5.0,5.0
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963,1.0,5.0
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,9.298250,5.0,1.0
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,31.934149,1.0,0.0
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679,5.0,5.0
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,8.427184,1.0,3.0
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699,1.0,4.0
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,6.347252,5.0,1.0
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,5.970395,5.0,1.0
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,32.832585,5.0,5.0
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,27.662935,1.0,5.0
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,26.800189,5.0,5.0
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,27.042553,5.0,1.0
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000,0.0,5.0
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,25.300000,0.0,1.0
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,44.115385,0.0,5.0
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,28.148026,5.0,1.0
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000,0.0,5.0
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,22.264706,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,8.665388,5.0,1.0
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,17.257846,1.0,1.0
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,15.484587,1.0,5.0
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,11.624164,5.0,3.0
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,28.157895,5.0,5.0
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,13.304600,1.0,5.0
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,21.431373,1.0,3.0
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,13.007876,5.0,1.0
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,29.344697,5.0,5.0
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,40.054545,5.0,5.0
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,18.426310,5.0,3.0
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,8.181783,1.0,5.0
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,21.027852,1.0,1.0
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,40.250000,1.0,4.0
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,7.225336,5.0,5.0
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,13.329829,5.0,5.0
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,35.908046,0.0,5.0
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,5.047693,2.0,1.0
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,13.166667,5.0,0.0
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,32.000000,3.0,1.0
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,13.695473,1.0,5.0
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,34.000000,5.0,1.0
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,21.905914,5.0,2.0
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,7.844253,5.0,5.0
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,45.047619,5.0,5.0
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,27.662935,1.0,5.0
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,27.968750,5.0,3.0
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,28.494949,5.0,5.0
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,14.609754,5.0,5.0
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,15.811851,5.0,5.0

In [14]:
coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_se_mean = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_median':'median'})
# coord_se_max = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_max':'max'})
# coord_se_min = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_mean,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_median,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_max,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_min,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,term_hour_mean,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,8.000088,5.0,1.0,2.940397,2.0,25.0,1.0
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,29.750000,5.0,3.0,1.500000,1.0,3.0,1.0
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,4.480016,5.0,5.0,4.448598,3.0,56.0,1.0
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,40.047128,1.0,5.0,1.619048,1.0,9.0,1.0
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,25.766667,5.0,1.0,1.490909,1.0,6.0,1.0
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,25.451156,1.0,1.0,2.057143,1.0,21.0,1.0
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,21.973866,1.0,5.0,1.865079,1.0,9.0,1.0
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,27.764229,1.0,5.0,1.732484,1.0,16.0,1.0
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,13.987179,5.0,1.0,1.346154,1.0,6.0,1.0
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,26.503876,1.0,5.0,1.325581,1.0,6.0,1.0
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,27.528846,5.0,5.0,1.602564,1.0,11.0,1.0
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,11.829968,5.0,5.0,1.586420,1.0,10.0,1.0
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,14.475963,1.0,5.0,1.851675,1.0,14.0,1.0
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,9.298250,5.0,1.0,1.720000,1.0,12.0,1.0
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,31.934149,1.0,0.0,1.650794,1.0,16.0,1.0
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,11.405679,5.0,5.0,1.618519,1.0,10.0,1.0
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,8.427184,1.0,3.0,1.407767,1.0,6.0,1.0
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,43.595699,1.0,4.0,1.370968,1.0,5.0,1.0
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,6.347252,5.0,1.0,3.059701,2.0,22.0,1.0
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,5.970395,5.0,1.0,1.263158,1.0,4.0,1.0
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,32.832585,5.0,5.0,1.901515,1.0,16.0,1.0
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,27.662935,1.0,5.0,2.577011,2.0,20.0,1.0
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,26.800189,5.0,5.0,1.306818,1.0,4.0,1.0
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,27.042553,5.0,1.0,1.297872,1.0,5.0,1.0
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000,0.0,5.0,2.500000,2.5,4.0,1.0
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,25.300000,0.0,1.0,2.000000,1.5,4.0,1.0
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,44.115385,0.0,5.0,1.230769,1.0,3.0,1.0
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,28.148026,5.0,1.0,1.592105,1.0,12.0,1.0
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,59.750000,0.0,5.0,2.500000,2.5,4.0,1.0
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,22.264706,5.0,1.0,1.294118,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,8.665388,5.0,1.0,2.023649,2.0,11.0,1.0
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,17.257846,1.0,1.0,1.777311,1.0,11.0,1.0
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,15.484587,1.0,5.0,2.282258,1.0,28.0,1.0
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,11.624164,5.0,3.0,2.431925,2.0,19.0,1.0
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,28.157895,5.0,5.0,1.052632,1.0,2.0,1.0
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,13.304600,1.0,5.0,2.868132,2.0,51.0,1.0
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,21.431373,1.0,3.0,1.117647,1.0,3.0,1.0
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,13.007876,5.0,1.0,2.666667,2.0,36.0,1.0
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,29.344697,5.0,5.0,1.196970,1.0,4.0,1.0
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,40.054545,5.0,5.0,1.389610,1.0,5.0,1.0
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,18.426310,5.0,3.0,2.092593,1.0,13.0,1.0
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,8.181783,1.0,5.0,2.259740,1.0,30.0,1.0
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,21.027852,1.0,1.0,3.181818,2.0,22.0,1.0
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,40.250000,1.0,4.0,1.000000,1.0,1.0,1.0
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,7.225336,5.0,5.0,2.726636,2.0,32.0,1.0
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,13.329829,5.0,5.0,1.601190,1.0,11.0,1.0
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,35.908046,0.0,5.0,1.724138,1.0,9.0,1.0
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,5.047693,2.0,1.0,1.913706,1.0,29.0,1.0
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,13.166667,5.0,0.0,1.233333,1.0,3.0,1.0
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,32.000000,3.0,1.0,1.600000,1.0,3.0,1.0
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,13.695473,1.0,5.0,1.320988,1.0,4.0,1.0
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,34.000000,5.0,1.0,1.000000,1.0,1.0,1.0
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,21.905914,5.0,2.0,1.516129,1.0,5.0,1.0
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,7.844253,5.0,5.0,2.052000,1.0,16.0,1.0
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,45.047619,5.0,5.0,1.357143,1.0,3.0,1.0
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,27.662935,1.0,5.0,2.577011,2.0,20.0,1.0
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,27.968750,5.0,3.0,1.500000,1.0,4.0,1.0
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,28.494949,5.0,5.0,1.272727,1.0,3.0,1.0
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,14.609754,5.0,5.0,2.817967,2.0,23.0,1.0
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,15.811851,5.0,5.0,1.922509,1.0,26.0,1.0

In [15]:
coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
valid_tr

# coord_se_mean = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_mean':'mean'})
# coord_se_median = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_median':'median'})
# coord_se_max = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_max':'max'})
# coord_se_min = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloccl_eloccl_min':'min'})
# train_tr = pd.merge(train_tr,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# train_tr = pd.merge(train_tr,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_mean,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_median,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_max,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_min,on=['start_cluster','end_cluster'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,start_cluster,end_cluster,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,...,5.0,1.0,2.940397,2.0,25.0,1.0,1.928592,1.0,144.0,1.0
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,...,5.0,3.0,1.500000,1.0,3.0,1.0,1.414443,1.0,20.0,1.0
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,...,5.0,5.0,4.448598,3.0,56.0,1.0,1.854976,1.0,73.0,1.0
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,...,1.0,5.0,1.619048,1.0,9.0,1.0,2.068860,1.0,198.0,1.0
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,...,5.0,1.0,1.490909,1.0,6.0,1.0,1.928592,1.0,144.0,1.0
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,...,1.0,1.0,2.057143,1.0,21.0,1.0,2.311007,1.0,178.0,1.0
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,...,1.0,5.0,1.865079,1.0,9.0,1.0,2.068860,1.0,198.0,1.0
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,...,1.0,5.0,1.732484,1.0,16.0,1.0,2.068860,1.0,198.0,1.0
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,...,5.0,1.0,1.346154,1.0,6.0,1.0,1.928592,1.0,144.0,1.0
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,...,1.0,5.0,1.325581,1.0,6.0,1.0,2.068860,1.0,198.0,1.0
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,...,5.0,5.0,1.602564,1.0,11.0,1.0,1.854976,1.0,73.0,1.0
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,...,5.0,5.0,1.586420,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.0,5.0,1.851675,1.0,14.0,1.0,2.068860,1.0,198.0,1.0
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,...,5.0,1.0,1.720000,1.0,12.0,1.0,1.928592,1.0,144.0,1.0
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,...,1.0,0.0,1.650794,1.0,16.0,1.0,1.524182,1.0,47.0,1.0
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,5.0,5.0,1.618519,1.0,10.0,1.0,1.854976,1.0,73.0,1.0
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,...,1.0,3.0,1.407767,1.0,6.0,1.0,1.473938,1.0,29.0,1.0
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.0,4.0,1.370968,1.0,5.0,1.0,1.396352,1.0,14.0,1.0
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,...,5.0,1.0,3.059701,2.0,22.0,1.0,1.928592,1.0,144.0,1.0
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,...,5.0,1.0,1.263158,1.0,4.0,1.0,1.928592,1.0,144.0,1.0
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,...,5.0,5.0,1.901515,1.0,16.0,1.0,1.854976,1.0,73.0,1.0
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,...,1.0,5.0,2.577011,2.0,20.0,1.0,2.068860,1.0,198.0,1.0
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,...,5.0,5.0,1.306818,1.0,4.0,1.0,1.854976,1.0,73.0,1.0
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,...,5.0,1.0,1.297872,1.0,5.0,1.0,1.928592,1.0,144.0,1.0
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,0.0,5.0,2.500000,2.5,4.0,1.0,1.568431,1.0,36.0,1.0
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,...,0.0,1.0,2.000000,1.5,4.0,1.0,1.520541,1.0,32.0,1.0
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,...,0.0,5.0,1.230769,1.0,3.0,1.0,1.568431,1.0,36.0,1.0
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,...,5.0,1.0,1.592105,1.0,12.0,1.0,1.928592,1.0,144.0,1.0
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,0.0,5.0,2.500000,2.5,4.0,1.0,1.568431,1.0,36.0,1.0
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,...,5.0,1.0,1.294118,1.0,5.0,1.0,1.928592,1.0,144.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,...,5.0,1.0,2.023649,2.0,11.0,1.0,1.928592,1.0,144.0,1.0
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,...,1.0,1.0,1.777311,1.0,11.0,1.0,2.311007,1.0,178.0,1.0
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,...,1.0,5.0,2.282258,1.0,28.0,1.0,2.068860,1.0,198.0,1.0
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,...,5.0,3.0,2.431925,2.0,19.0,1.0,1.414443,1.0,20.0,1.0
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,...,5.0,5.0,1.052632,1.0,2.0,1.0,1.854976,1.0,73.0,1.0
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,...,1.0,5.0,2.868132,2.0,51.0,1.0,2.068860,1.0,198.0,1.0
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,...,1.0,3.0,1.117647,1.0,3.0,1.0,1.473938,1.0,29.0,1.0
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,...,5.0,1.0,2.666667,2.0,36.0,1.0,1.928592,1.0,144.0,1.0
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,...,5.0,5.0,1.196970,1.0,4.0,1.0,1.854976,1.0,73.0,1.0
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,...,5.0,5.0,1.389610,1.0,5.0,1.0,1.854976,1.0,73.0,1.0
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,...,5.0,3.0,2.092593,1.0,13.0,1.0,1.414443,1.0,20.0,1.0
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,...,1.0,5.0,2.259740,1.0,30.0,1.0,2.068860,1.0,198.0,1.0
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,...,1.0,1.0,3.181818,2.0,22.0,1.0,2.311007,1.0,178.0,1.0
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,...,1.0,4.0,1.000000,1.0,1.0,1.0,1.396352,1.0,14.0,1.0
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,...,5.0,5.0,2.726636,2.0,32.0,1.0,1.854976,1.0,73.0,1.0
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,...,5.0,5.0,1.601190,1.0,11.0,1.0,1.854976,1.0,73.0,1.0
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,...,0.0,5.0,1.724138,1.0,9.0,1.0,1.568431,1.0,36.0,1.0
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,...,2.0,1.0,1.913706,1.0,29.0,1.0,1.503732,1.0,37.0,1.0
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,...,5.0,0.0,1.233333,1.0,3.0,1.0,1.501330,1.0,38.0,1.0
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,...,3.0,1.0,1.600000,1.0,3.0,1.0,1.483888,1.0,34.0,1.0
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,...,1.0,5.0,1.320988,1.0,4.0,1.0,2.068860,1.0,198.0,1.0
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,...,5.0,1.0,1.000000,1.0,1.0,1.0,1.928592,1.0,144.0,1.0
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,...,5.0,2.0,1.516129,1.0,5.0,1.0,1.404628,1.0,34.0,1.0
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,...,5.0,5.0,2.052000,1.0,16.0,1.0,1.854976,1.0,73.0,1.0
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,...,5.0,5.0,1.357143,1.0,3.0,1.0,1.854976,1.0,73.0,1.0
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,...,1.0,5.0,2.577011,2.0,20.0,1.0,2.068860,1.0,198.0,1.0
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,...,5.0,3.0,1.500000,1.0,4.0,1.0,1.414443,1.0,20.0,1.0
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,...,5.0,5.0,1.272727,1.0,3.0,1.0,1.854976,1.0,73.0,1.0
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,...,5.0,5.0,2.817967,2.0,23.0,1.0,1.854976,1.0,73.0,1.0
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,...,5.0,5.0,1.922509,1.0,26.0,1.0,1.854976,1.0,73.0,1.0

In [16]:
coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_se_sum = train_tr.groupby(['start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_geo_id',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_geo_id',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_geo_id',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_geo_id',how='left')
# coord_se_sum.loc[:,'se_start_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_se_sum,on=['start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_mean,sloc_eloc_median,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,...,2.940397,2.0,25.0,1.0,1.928592,1.0,144.0,1.0,0.046675,0.058108
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,...,1.500000,1.0,3.0,1.0,1.414443,1.0,20.0,1.0,0.000460,0.012605
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,...,4.448598,3.0,56.0,1.0,1.854976,1.0,73.0,1.0,0.083398,0.089269
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,...,1.619048,1.0,9.0,1.0,2.068860,1.0,198.0,1.0,0.008479,0.008872
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,...,1.490909,1.0,6.0,1.0,1.928592,1.0,144.0,1.0,0.008226,0.010196
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,...,2.057143,1.0,21.0,1.0,2.311007,1.0,178.0,1.0,0.002497,0.062096
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,...,1.865079,1.0,9.0,1.0,2.068860,1.0,198.0,1.0,0.011721,0.016668
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,...,1.732484,1.0,16.0,1.0,2.068860,1.0,198.0,1.0,0.004717,0.025612
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,...,1.346154,1.0,6.0,1.0,1.928592,1.0,144.0,1.0,0.030043,0.007634
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,...,1.325581,1.0,6.0,1.0,2.068860,1.0,198.0,1.0,0.002843,0.026611
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,...,1.602564,1.0,11.0,1.0,1.854976,1.0,73.0,1.0,0.013676,0.009720
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,...,1.586420,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.021205,0.022812
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.851675,1.0,14.0,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,...,1.720000,1.0,12.0,1.0,1.928592,1.0,144.0,1.0,0.030381,0.076005
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,...,1.650794,1.0,16.0,1.0,1.524182,1.0,47.0,1.0,0.003607,0.027218
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.618519,1.0,10.0,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,...,1.407767,1.0,6.0,1.0,1.473938,1.0,29.0,1.0,0.011248,0.043886
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.370968,1.0,5.0,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,...,3.059701,2.0,22.0,1.0,1.928592,1.0,144.0,1.0,0.037272,0.084821
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,...,1.263158,1.0,4.0,1.0,1.928592,1.0,144.0,1.0,0.010874,0.071482
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,...,1.901515,1.0,16.0,1.0,1.854976,1.0,73.0,1.0,0.017591,0.022511
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,...,2.577011,2.0,20.0,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,...,1.306818,1.0,4.0,1.0,1.854976,1.0,73.0,1.0,0.008132,0.004703
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,...,1.297872,1.0,5.0,1.0,1.928592,1.0,144.0,1.0,0.011713,0.004925
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,2.500000,2.5,4.0,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,...,2.000000,1.5,4.0,1.0,1.520541,1.0,32.0,1.0,0.086957,0.009737
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,...,1.230769,1.0,3.0,1.0,1.568431,1.0,36.0,1.0,0.009357,0.001309
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,...,1.592105,1.0,12.0,1.0,1.928592,1.0,144.0,1.0,0.004240,0.017646
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,2.500000,2.5,4.0,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,...,1.294118,1.0,5.0,1.0,1.928592,1.0,144.0,1.0,0.010784,0.003552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,...,2.023649,2.0,11.0,1.0,1.928592,1.0,144.0,1.0,0.046384,0.035406
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,...,1.777311,1.0,11.0,1.0,2.311007,1.0,178.0,1.0,0.016214,0.017370
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,...,2.282258,1.0,28.0,1.0,2.068860,1.0,198.0,1.0,0.020636,0.050240
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,...,2.431925,2.0,19.0,1.0,1.414443,1.0,20.0,1.0,0.016724,0.141260
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,...,1.052632,1.0,2.0,1.0,1.854976,1.0,73.0,1.0,0.013495,0.000839
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,...,2.868132,2.0,51.0,1.0,2.068860,1.0,198.0,1.0,0.018104,0.118100
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,...,1.117647,1.0,3.0,1.0,1.473938,1.0,29.0,1.0,0.002636,0.012786
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,...,2.666667,2.0,36.0,1.0,1.928592,1.0,144.0,1.0,0.035391,0.039087
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,...,1.196970,1.0,4.0,1.0,1.854976,1.0,73.0,1.0,0.006945,0.006645
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,...,1.389610,1.0,5.0,1.0,1.854976,1.0,73.0,1.0,0.008183,0.005930
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,...,2.092593,1.0,13.0,1.0,1.414443,1.0,20.0,1.0,0.007297,0.110513
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,...,2.259740,1.0,30.0,1.0,2.068860,1.0,198.0,1.0,0.026679,0.049365
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,...,3.181818,2.0,22.0,1.0,2.311007,1.0,178.0,1.0,0.038282,0.021729
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,...,1.000000,1.0,1.0,1.0,1.396352,1.0,14.0,1.0,0.000333,0.005369
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,...,2.726636,2.0,32.0,1.0,1.854976,1.0,73.0,1.0,0.094128,0.031190
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,...,1.601190,1.0,11.0,1.0,1.854976,1.0,73.0,1.0,0.021697,0.037397
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,...,1.724138,1.0,9.0,1.0,1.568431,1.0,36.0,1.0,0.014952,0.001846
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,...,1.913706,1.0,29.0,1.0,1.503732,1.0,37.0,1.0,0.102279,0.046879
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,...,1.233333,1.0,3.0,1.0,1.501330,1.0,38.0,1.0,0.005851,0.042799
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,...,1.600000,1.0,3.0,1.0,1.483888,1.0,34.0,1.0,0.001961,0.001167
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,...,1.320988,1.0,4.0,1.0,2.068860,1.0,198.0,1.0,0.008300,0.012045
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,...,1.000000,1.0,1.0,1.0,1.928592,1.0,144.0,1.0,0.000196,0.000838
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,...,1.516129,1.0,5.0,1.0,1.404628,1.0,34.0,1.0,0.003639,0.012304
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,...,2.052000,1.0,16.0,1.0,1.854976,1.0,73.0,1.0,0.051465,0.045535
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,...,1.357143,1.0,3.0,1.0,1.854976,1.0,73.0,1.0,0.001502,0.009880
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,...,2.577011,2.0,20.0,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,...,1.500000,1.0,4.0,1.0,1.414443,1.0,20.0,1.0,0.000968,0.011111
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,...,1.272727,1.0,3.0,1.0,1.854976,1.0,73.0,1.0,0.015413,0.003348
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,...,2.817967,2.0,23.0,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,...,1.922509,1.0,26.0,1.0,1.854976,1.0,73.0,1.0,0.038762,0.013925

In [17]:
coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# coord_se_sum
train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr = pd.merge(valid_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
valid_tr

# coord_se_sum = train_tr.groupby(['start_cluster','end_cluster'],as_index=False)['demand_count'].agg({'sloc_eloc_sum':'sum'})
# coord_s_sum = coord_se_sum.groupby('start_cluster',as_index=False)['sloc_eloc_sum'].agg({'sloc_sum':'sum'})
# coord_e_sum = coord_se_sum.groupby('end_cluster',as_index=False)['sloc_eloc_sum'].agg({'eloc_sum':'sum'})
# coord_se_sum = pd.merge(coord_se_sum,coord_s_sum,on='start_cluster',how='left')
# coord_se_sum = pd.merge(coord_se_sum,coord_e_sum,on='end_cluster',how='left')
# coord_se_sum.loc[:,'se_start_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['sloc_sum'])
# coord_se_sum.loc[:,'se_end_cls_ratio'] = coord_se_sum['sloc_eloc_sum'] / (1.0 * coord_se_sum['eloc_sum'])
# del coord_se_sum['sloc_eloc_sum'],coord_se_sum['sloc_sum'],coord_se_sum['eloc_sum']
# # coord_se_sum
# train_tr = pd.merge(train_tr,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# test = pd.merge(test,coord_se_sum,on=['start_cluster','end_cluster'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_max,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,...,25.0,1.0,1.928592,1.0,144.0,1.0,0.046675,0.058108,0.263846,0.518449
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,...,3.0,1.0,1.414443,1.0,20.0,1.0,0.000460,0.012605,0.029368,0.504273
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,...,56.0,1.0,1.854976,1.0,73.0,1.0,0.083398,0.089269,0.579441,0.566873
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,...,9.0,1.0,2.068860,1.0,198.0,1.0,0.008479,0.008872,0.539159,0.289222
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,...,6.0,1.0,1.928592,1.0,144.0,1.0,0.008226,0.010196,0.263846,0.518449
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,...,21.0,1.0,2.311007,1.0,178.0,1.0,0.002497,0.062096,0.317524,0.342112
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,...,9.0,1.0,2.068860,1.0,198.0,1.0,0.011721,0.016668,0.539159,0.289222
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,...,16.0,1.0,2.068860,1.0,198.0,1.0,0.004717,0.025612,0.539159,0.289222
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,...,6.0,1.0,1.928592,1.0,144.0,1.0,0.030043,0.007634,0.263846,0.518449
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,...,6.0,1.0,2.068860,1.0,198.0,1.0,0.002843,0.026611,0.539159,0.289222
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,...,11.0,1.0,1.854976,1.0,73.0,1.0,0.013676,0.009720,0.579441,0.566873
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.021205,0.022812,0.579441,0.566873
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,14.0,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093,0.539159,0.289222
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,...,12.0,1.0,1.928592,1.0,144.0,1.0,0.030381,0.076005,0.263846,0.518449
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,...,16.0,1.0,1.524182,1.0,47.0,1.0,0.003607,0.027218,0.045842,0.234875
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,10.0,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981,0.579441,0.566873
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,...,6.0,1.0,1.473938,1.0,29.0,1.0,0.011248,0.043886,0.026742,0.251779
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,5.0,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921,0.033438,0.240757
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,...,22.0,1.0,1.928592,1.0,144.0,1.0,0.037272,0.084821,0.263846,0.518449
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,...,4.0,1.0,1.928592,1.0,144.0,1.0,0.010874,0.071482,0.263846,0.518449
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,...,16.0,1.0,1.854976,1.0,73.0,1.0,0.017591,0.022511,0.579441,0.566873
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,...,20.0,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269,0.539159,0.289222
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,...,4.0,1.0,1.854976,1.0,73.0,1.0,0.008132,0.004703,0.579441,0.566873
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,...,5.0,1.0,1.928592,1.0,144.0,1.0,0.011713,0.004925,0.263846,0.518449
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,4.0,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334,0.506919,0.052393
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,...,4.0,1.0,1.520541,1.0,32.0,1.0,0.086957,0.009737,0.221802,0.046044
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,...,3.0,1.0,1.568431,1.0,36.0,1.0,0.009357,0.001309,0.506919,0.052393
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,...,12.0,1.0,1.928592,1.0,144.0,1.0,0.004240,0.017646,0.263846,0.518449
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,4.0,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334,0.506919,0.052393
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,...,5.0,1.0,1.928592,1.0,144.0,1.0,0.010784,0.003552,0.263846,0.518449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,...,11.0,1.0,1.928592,1.0,144.0,1.0,0.046384,0.035406,0.263846,0.518449
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,...,11.0,1.0,2.311007,1.0,178.0,1.0,0.016214,0.017370,0.317524,0.342112
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,...,28.0,1.0,2.068860,1.0,198.0,1.0,0.020636,0.050240,0.539159,0.289222
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,...,19.0,1.0,1.414443,1.0,20.0,1.0,0.016724,0.141260,0.029368,0.504273
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,...,2.0,1.0,1.854976,1.0,73.0,1.0,0.013495,0.000839,0.579441,0.566873
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,...,51.0,1.0,2.068860,1.0,198.0,1.0,0.018104,0.118100,0.539159,0.289222
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,...,3.0,1.0,1.473938,1.0,29.0,1.0,0.002636,0.012786,0.026742,0.251779
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,...,36.0,1.0,1.928592,1.0,144.0,1.0,0.035391,0.039087,0.263846,0.518449
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,...,4.0,1.0,1.854976,1.0,73.0,1.0,0.006945,0.006645,0.579441,0.566873
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,...,5.0,1.0,1.854976,1.0,73.0,1.0,0.008183,0.005930,0.579441,0.566873
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,...,13.0,1.0,1.414443,1.0,20.0,1.0,0.007297,0.110513,0.029368,0.504273
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,...,30.0,1.0,2.068860,1.0,198.0,1.0,0.026679,0.049365,0.539159,0.289222
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,...,22.0,1.0,2.311007,1.0,178.0,1.0,0.038282,0.021729,0.317524,0.342112
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,...,1.0,1.0,1.396352,1.0,14.0,1.0,0.000333,0.005369,0.033438,0.240757
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,...,32.0,1.0,1.854976,1.0,73.0,1.0,0.094128,0.031190,0.579441,0.566873
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,...,11.0,1.0,1.854976,1.0,73.0,1.0,0.021697,0.037397,0.579441,0.566873
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,...,9.0,1.0,1.568431,1.0,36.0,1.0,0.014952,0.001846,0.506919,0.052393
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,...,29.0,1.0,1.503732,1.0,37.0,1.0,0.102279,0.046879,0.236511,0.042046
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,...,3.0,1.0,1.501330,1.0,38.0,1.0,0.005851,0.042799,0.054058,0.505128
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,...,3.0,1.0,1.483888,1.0,34.0,1.0,0.001961,0.001167,0.217268,0.022613
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,...,4.0,1.0,2.068860,1.0,198.0,1.0,0.008300,0.012045,0.539159,0.289222
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,...,1.0,1.0,1.928592,1.0,144.0,1.0,0.000196,0.000838,0.263846,0.518449
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,...,5.0,1.0,1.404628,1.0,34.0,1.0,0.003639,0.012304,0.040195,0.466298
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,...,16.0,1.0,1.854976,1.0,73.0,1.0,0.051465,0.045535,0.579441,0.566873
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,...,3.0,1.0,1.854976,1.0,73.0,1.0,0.001502,0.009880,0.579441,0.566873
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,...,20.0,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269,0.539159,0.289222
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,...,4.0,1.0,1.414443,1.0,20.0,1.0,0.000968,0.011111,0.029368,0.504273
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,...,3.0,1.0,1.854976,1.0,73.0,1.0,0.015413,0.003348,0.579441,0.566873
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,...,23.0,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710,0.579441,0.566873
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,...,26.0,1.0,1.854976,1.0,73.0,1.0,0.038762,0.013925,0.579441,0.566873

### Time

In [18]:
map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr.loc[:,'hour_cls'] = valid_tr['create_hour'].map(lambda x: map_hour[x])
valid_tr

# map_hour = {1:1,2:1,3:1,4:1,5:1,6:1,7:2,8:2,9:2,10:3,11:3,12:3,13:4,14:4,15:4,16:5,17:5,18:5,19:6,20:6,21:6,22:0,23:0,0:0}
# train_tr.loc[:,'hour_cls'] = train_tr['create_hour'].map(lambda x: map_hour[x])
# test.loc[:,'hour_cls'] = test['create_hour'].map(lambda x: map_hour[x])
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloc_eloc_min,sloccl_eloccl_mean,sloccl_eloccl_median,sloccl_eloccl_max,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,...,1.0,1.928592,1.0,144.0,1.0,0.046675,0.058108,0.263846,0.518449,0
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,...,1.0,1.414443,1.0,20.0,1.0,0.000460,0.012605,0.029368,0.504273,0
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,...,1.0,1.854976,1.0,73.0,1.0,0.083398,0.089269,0.579441,0.566873,0
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,...,1.0,2.068860,1.0,198.0,1.0,0.008479,0.008872,0.539159,0.289222,0
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,...,1.0,1.928592,1.0,144.0,1.0,0.008226,0.010196,0.263846,0.518449,1
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,...,1.0,2.311007,1.0,178.0,1.0,0.002497,0.062096,0.317524,0.342112,1
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,...,1.0,2.068860,1.0,198.0,1.0,0.011721,0.016668,0.539159,0.289222,1
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,...,1.0,2.068860,1.0,198.0,1.0,0.004717,0.025612,0.539159,0.289222,1
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,...,1.0,1.928592,1.0,144.0,1.0,0.030043,0.007634,0.263846,0.518449,1
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,...,1.0,2.068860,1.0,198.0,1.0,0.002843,0.026611,0.539159,0.289222,1
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,...,1.0,1.854976,1.0,73.0,1.0,0.013676,0.009720,0.579441,0.566873,1
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,...,1.0,1.854976,1.0,73.0,1.0,0.021205,0.022812,0.579441,0.566873,1
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.0,2.068860,1.0,198.0,1.0,0.014110,0.030093,0.539159,0.289222,1
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,...,1.0,1.928592,1.0,144.0,1.0,0.030381,0.076005,0.263846,0.518449,1
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,...,1.0,1.524182,1.0,47.0,1.0,0.003607,0.027218,0.045842,0.234875,1
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.0,1.854976,1.0,73.0,1.0,0.017261,0.033981,0.579441,0.566873,1
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,...,1.0,1.473938,1.0,29.0,1.0,0.011248,0.043886,0.026742,0.251779,1
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.0,1.396352,1.0,14.0,1.0,0.006198,0.021921,0.033438,0.240757,1
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,...,1.0,1.928592,1.0,144.0,1.0,0.037272,0.084821,0.263846,0.518449,1
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,...,1.0,1.928592,1.0,144.0,1.0,0.010874,0.071482,0.263846,0.518449,1
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,...,1.0,1.854976,1.0,73.0,1.0,0.017591,0.022511,0.579441,0.566873,1
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,...,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269,0.539159,0.289222,1
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,...,1.0,1.854976,1.0,73.0,1.0,0.008132,0.004703,0.579441,0.566873,1
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,...,1.0,1.928592,1.0,144.0,1.0,0.011713,0.004925,0.263846,0.518449,1
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334,0.506919,0.052393,1
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,...,1.0,1.520541,1.0,32.0,1.0,0.086957,0.009737,0.221802,0.046044,1
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,...,1.0,1.568431,1.0,36.0,1.0,0.009357,0.001309,0.506919,0.052393,1
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,...,1.0,1.928592,1.0,144.0,1.0,0.004240,0.017646,0.263846,0.518449,1
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,1.0,1.568431,1.0,36.0,1.0,0.021739,0.002334,0.506919,0.052393,1
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,...,1.0,1.928592,1.0,144.0,1.0,0.010784,0.003552,0.263846,0.518449,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,...,1.0,1.928592,1.0,144.0,1.0,0.046384,0.035406,0.263846,0.518449,0
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,...,1.0,2.311007,1.0,178.0,1.0,0.016214,0.017370,0.317524,0.342112,0
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,...,1.0,2.068860,1.0,198.0,1.0,0.020636,0.050240,0.539159,0.289222,0
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,...,1.0,1.414443,1.0,20.0,1.0,0.016724,0.141260,0.029368,0.504273,0
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,...,1.0,1.854976,1.0,73.0,1.0,0.013495,0.000839,0.579441,0.566873,0
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,...,1.0,2.068860,1.0,198.0,1.0,0.018104,0.118100,0.539159,0.289222,0
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,...,1.0,1.473938,1.0,29.0,1.0,0.002636,0.012786,0.026742,0.251779,0
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,...,1.0,1.928592,1.0,144.0,1.0,0.035391,0.039087,0.263846,0.518449,0
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,...,1.0,1.854976,1.0,73.0,1.0,0.006945,0.006645,0.579441,0.566873,0
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,...,1.0,1.854976,1.0,73.0,1.0,0.008183,0.005930,0.579441,0.566873,0
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,...,1.0,1.414443,1.0,20.0,1.0,0.007297,0.110513,0.029368,0.504273,0
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,...,1.0,2.068860,1.0,198.0,1.0,0.026679,0.049365,0.539159,0.289222,0
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,...,1.0,2.311007,1.0,178.0,1.0,0.038282,0.021729,0.317524,0.342112,0
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,...,1.0,1.396352,1.0,14.0,1.0,0.000333,0.005369,0.033438,0.240757,0
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,...,1.0,1.854976,1.0,73.0,1.0,0.094128,0.031190,0.579441,0.566873,0
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,...,1.0,1.854976,1.0,73.0,1.0,0.021697,0.037397,0.579441,0.566873,0
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,...,1.0,1.568431,1.0,36.0,1.0,0.014952,0.001846,0.506919,0.052393,0
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,...,1.0,1.503732,1.0,37.0,1.0,0.102279,0.046879,0.236511,0.042046,0
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,...,1.0,1.501330,1.0,38.0,1.0,0.005851,0.042799,0.054058,0.505128,0
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,...,1.0,1.483888,1.0,34.0,1.0,0.001961,0.001167,0.217268,0.022613,0
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,...,1.0,2.068860,1.0,198.0,1.0,0.008300,0.012045,0.539159,0.289222,0
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,...,1.0,1.928592,1.0,144.0,1.0,0.000196,0.000838,0.263846,0.518449,0
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,...,1.0,1.404628,1.0,34.0,1.0,0.003639,0.012304,0.040195,0.466298,0
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,...,1.0,1.854976,1.0,73.0,1.0,0.051465,0.045535,0.579441,0.566873,0
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,...,1.0,1.854976,1.0,73.0,1.0,0.001502,0.009880,0.579441,0.566873,0
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,...,1.0,2.068860,1.0,198.0,1.0,0.019440,0.050269,0.539159,0.289222,0
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,...,1.0,1.414443,1.0,20.0,1.0,0.000968,0.011111,0.029368,0.504273,0
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,...,1.0,1.854976,1.0,73.0,1.0,0.015413,0.003348,0.579441,0.566873,0
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,...,1.0,1.854976,1.0,73.0,1.0,0.030960,0.044710,0.579441,0.566873,0
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,...,1.0,1.854976,1.0,73.0,1.0,0.038762,0.013925,0.579441,0.566873,0

In [19]:
coord_hour = train_tr.groupby('create_hour', as_index=False)['demand_count'].agg({'demand_count_h_avg':'std'})
coord_hour

    create_hour  demand_count_h_avg
0             0            1.935778
1             1            1.572084
2             2            0.739049
3             3            0.925068
4             4            0.971026
5             5            1.045984
6             6            1.257506
7             7            2.156388
8             8            3.425920
9             9            2.654506
10           10            1.125090
11           11            1.288213
12           12            1.252845
13           13            2.019655
14           14            1.448851
15           15            1.147384
16           16            1.435745
17           17            2.296841
18           18            2.081181
19           19            1.176402
20           20            1.533215
21           21            3.427579
22           22            3.145708
23           23            2.722501

### 3. Location + Time

In [20]:
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr = pd.merge(valid_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
valid_tr

# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_avg':'mean'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_median':'median'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_max':'max'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# coord_hour = train_tr.groupby(['create_hour','start_geo_id','end_geo_id'],as_index=False)['demand_count'].agg({'demand_count_h_std':'std'})
# train_tr = pd.merge(train_tr,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test = pd.merge(test,coord_hour,on=['create_hour','start_geo_id','end_geo_id'],how='left')
# test

,create_date,create_hour,start_geo_id,end_geo_id,demand_count,holiday,dayOfWeek,money_hour_mean,money_day_mean,dis_hour_mean,...,sloccl_eloccl_min,se_start_ratio,se_end_ratio,se_start_cls_ratio,se_end_cls_ratio,hour_cls,demand_count_h_avg,demand_count_h_median,demand_count_h_max,demand_count_h_std
0,2017-08-01,0,22,39,1,0,1,40.414660,39.166027,4241.878884,...,1.0,0.046675,0.058108,0.263846,0.518449,0,2.500000,1.0,12.0,3.034120
1,2017-08-01,0,17,128,2,0,1,NaN,88.000000,19667.000000,...,1.0,0.000460,0.012605,0.029368,0.504273,0,NaN,NaN,NaN,NaN
2,2017-08-01,0,22,22,2,0,1,30.946554,31.001616,2540.075593,...,1.0,0.083398,0.089269,0.579441,0.566873,0,3.250000,2.0,28.0,5.998903
3,2017-08-01,0,1,41,1,0,1,126.010000,133.683846,20582.471066,...,1.0,0.008479,0.008872,0.539159,0.289222,0,1.000000,1.0,1.0,NaN
4,2017-08-01,2,88,51,1,0,1,NaN,73.363333,15513.443939,...,1.0,0.008226,0.010196,0.263846,0.518449,1,NaN,NaN,NaN,NaN
5,2017-08-01,2,24,2,1,0,1,NaN,87.551464,13616.525612,...,1.0,0.002497,0.062096,0.317524,0.342112,1,NaN,NaN,NaN,NaN
6,2017-08-01,2,1,26,1,0,1,NaN,75.132375,11392.201905,...,1.0,0.011721,0.016668,0.539159,0.289222,1,NaN,NaN,NaN,NaN
7,2017-08-01,2,24,88,1,0,1,109.000000,104.919444,16327.369851,...,1.0,0.004717,0.025612,0.539159,0.289222,1,1.000000,1.0,1.0,0.000000
8,2017-08-01,2,33,39,1,0,1,NaN,49.568933,7469.746410,...,1.0,0.030043,0.007634,0.263846,0.518449,1,NaN,NaN,NaN,NaN
9,2017-08-01,2,1,99,1,0,1,NaN,86.741000,14417.703488,...,1.0,0.002843,0.026611,0.539159,0.289222,1,NaN,NaN,NaN,NaN
10,2017-08-01,4,71,19,1,0,1,NaN,90.592882,14135.195513,...,1.0,0.013676,0.009720,0.579441,0.566873,1,NaN,NaN,NaN,NaN
11,2017-08-01,4,70,90,1,0,1,NaN,51.846270,6606.354600,...,1.0,0.021205,0.022812,0.579441,0.566873,1,NaN,NaN,NaN,NaN
12,2017-08-01,4,55,19,1,0,1,52.443333,51.701006,7501.373320,...,1.0,0.014110,0.030093,0.539159,0.289222,1,1.000000,1.0,1.0,0.000000
13,2017-08-01,4,90,30,1,0,1,NaN,42.854173,4967.806095,...,1.0,0.030381,0.076005,0.263846,0.518449,1,NaN,NaN,NaN,NaN
14,2017-08-01,4,24,25,1,0,1,101.815000,121.325962,19280.205026,...,1.0,0.003607,0.027218,0.045842,0.234875,1,3.000000,3.0,5.0,2.828427
15,2017-08-01,4,27,19,1,0,1,45.108000,47.760650,5948.032778,...,1.0,0.017261,0.033981,0.579441,0.566873,1,1.000000,1.0,1.0,0.000000
16,2017-08-01,4,13,135,1,0,1,NaN,41.640980,4499.089968,...,1.0,0.011248,0.043886,0.026742,0.251779,1,NaN,NaN,NaN,NaN
17,2017-08-01,4,55,5,1,0,1,168.457500,189.068778,30803.538172,...,1.0,0.006198,0.021921,0.033438,0.240757,1,1.500000,1.5,2.0,0.707107
18,2017-08-01,4,6,15,2,0,1,34.247917,35.755271,3432.313452,...,1.0,0.037272,0.084821,0.263846,0.518449,1,2.000000,2.0,6.0,1.414214
19,2017-08-01,6,79,114,1,0,1,NaN,31.490192,3235.598684,...,1.0,0.010874,0.071482,0.263846,0.518449,1,NaN,NaN,NaN,NaN
20,2017-08-01,6,22,72,1,0,1,90.022000,108.452348,18409.539626,...,1.0,0.017591,0.022511,0.579441,0.566873,1,2.214286,2.0,5.0,1.188313
21,2017-08-01,6,24,72,2,0,1,75.641276,90.780522,15107.824977,...,1.0,0.019440,0.050269,0.539159,0.289222,1,3.500000,2.0,19.0,3.900549
22,2017-08-01,6,56,9,1,0,1,85.795000,83.343214,13766.317235,...,1.0,0.008132,0.004703,0.579441,0.566873,1,2.500000,2.5,4.0,2.121320
23,2017-08-01,6,62,86,1,0,1,64.666667,91.493333,13838.677305,...,1.0,0.011713,0.004925,0.263846,0.518449,1,1.166667,1.0,2.0,0.389249
24,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,1.0,0.021739,0.002334,0.506919,0.052393,1,NaN,NaN,NaN,NaN
25,2017-08-01,6,649,96,4,0,1,68.493333,NaN,12960.400000,...,1.0,0.086957,0.009737,0.221802,0.046044,1,3.000000,3.0,3.0,NaN
26,2017-08-01,6,92,9,2,0,1,113.743636,141.833333,22778.153846,...,1.0,0.009357,0.001309,0.506919,0.052393,1,1.181818,1.0,2.0,0.404520
27,2017-08-01,6,22,77,1,0,1,70.550000,104.566000,15354.846930,...,1.0,0.004240,0.017646,0.263846,0.518449,1,1.000000,1.0,1.0,0.000000
28,2017-08-01,6,649,99,1,0,1,NaN,NaN,44802.500000,...,1.0,0.021739,0.002334,0.506919,0.052393,1,NaN,NaN,NaN,NaN
29,2017-08-01,6,48,86,1,0,1,61.666667,78.683333,11756.951961,...,1.0,0.010784,0.003552,0.263846,0.518449,1,1.000000,1.0,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2017-08-07,22,76,15,5,0,0,45.034444,40.674033,4568.977715,...,1.0,0.046384,0.035406,0.263846,0.518449,0,1.916667,2.0,3.0,0.792961
4971,2017-08-07,22,39,55,3,0,0,80.443149,57.453208,9217.747021,...,1.0,0.016214,0.017370,0.317524,0.342112,0,2.157895,1.0,6.0,1.675416
4972,2017-08-07,22,55,90,1,0,0,63.557109,53.545122,8368.035282,...,1.0,0.020636,0.050240,0.539159,0.289222,0,2.812500,2.0,16.0,3.745553
4973,2017-08-07,22,16,40,1,0,0,62.119028,45.022469,6124.759885,...,1.0,0.016724,0.141260,0.029368,0.504273,0,4.266667,3.0,16.0,4.382867
4974,2017-08-07,22,120,16,1,0,0,114.000000,77.885000,15662.210526,...,1.0,0.013495,0.000839,0.579441,0.566873,0,1.000000,1.0,1.0,NaN
4975,2017-08-07,22,24,3,6,0,0,64.903184,49.018286,7051.912512,...,1.0,0.018104,0.118100,0.539159,0.289222,0,5.931034,3.0,51.0,9.676669
4976,2017-08-07,22,51,160,1,0,0,99.280000,88.500000,12327.117647,...,1.0,0.002636,0.012786,0.026742,0.251779,0,1.000000,1.0,1.0,0.000000
4977,2017-08-07,22,27,39,1,0,0,61.670451,49.139724,6839.245698,...,1.0,0.035391,0.039087,0.263846,0.518449,0,1.823529,1.0,5.0,1.236694
4978,2017-08-07,22,31,64,1,0,0,113.977500,88.076667,16906.810606,...,1.0,0.006945,0.006645,0.579441,0.566873,0,1.250000,1.0,3.0,0.707107
4979,2017-08-07,22,41,18,1,0,0,149.152000,141.774444,22720.515152,...,1.0,0.008183,0.005930,0.579441,0.566873,0,1.000000,1.0,1.0,0.000000
4980,2017-08-07,22,16,149,2,0,0,72.385361,63.785417,9646.463196,...,1.0,0.007297,0.110513,0.029368,0.504273,0,2.300000,1.0,9.0,2.540779
4981,2017-08-07,22,39,26,5,0,0,46.913262,38.711701,4413.620998,...,1.0,0.026679,0.049365,0.539159,0.289222,0,3.304348,2.0,16.0,3.495904
4982,2017-08-07,22,55,24,1,0,0,80.867733,66.969825,10827.081044,...,1.0,0.038282,0.021729,0.317524,0.342112,0,3.777778,2.0,22.0,5.012403
4983,2017-08-07,22,34,54,1,0,0,NaN,118.000000,24169.250000,...,1.0,0.000333,0.005369,0.033438,0.240757,0,NaN,NaN,NaN,NaN
4984,2017-08-07,22,19,6,3,0,0,45.539592,32.613663,3861.422396,...,1.0,0.094128,0.031190,0.579441,0.566873,0,5.076923,5.0,13.0,2.910987
4985,2017-08-07,22,19,62,1,0,0,66.262839,50.091023,6911.838777,...,1.0,0.021697,0.037397,0.579441,0.566873,0,2.846154,3.0,7.0,1.908147
4986,2017-08-07,22,69,27,1,0,0,146.500000,109.553333,18777.303777,...,1.0,0.014952,0.001846,0.506919,0.052393,0,1.000000,1.0,1.0,0.000000
4987,2017-08-07,22,36,51,2,0,0,42.869744,30.004937,2777.759877,...,1.0,0.102279,0.046879,0.236511,0.042046,0,5.266667,2.0,29.0,8.048662
4988,2017-08-07,22,63,102,1,0,0,66.000000,50.980625,6957.944444,...,1.0,0.005851,0.042799,0.054058,0.505128,0,1.000000,1.0,1.0,0.000000
4989,2017-08-07,22,135,77,1,0,0,107.000000,NaN,18285.466667,...,1.0,0.001961,0.001167,0.217268,0.022613,0,1.000000,1.0,1.0,NaN
4990,2017-08-07,22,13,79,1,0,0,60.971429,56.092222,7153.296296,...,1.0,0.008300,0.012045,0.539159,0.289222,0,1.571429,1.0,3.0,0.975900
4991,2017-08-07,22,23,140,1,0,0,NaN,NaN,29349.000000,...,1.0,0.000196,0.000838,0.263846,0.518449,0,NaN,NaN,NaN,NaN
4992,2017-08-07,22,76,36,1,0,0,101.700000,71.333333,12632.483871,...,1.0,0.003639,0.012304,0.040195,0.466298,0,5.000000,5.0,5.0,NaN
4993,2017-08-07,22,88,90,1,0,0,45.451424,36.565043,4199.456120,...,1.0,0.051465,0.045535,0.579441,0.566873,0,4.058824,2.0,16.0,5.213811
4994,2017-08-07,22,63,120,1,0,0,206.970000,186.500000,29129.761905,...,1.0,0.001502,0.009880,0.579441,0.566873,0,2.000000,2.0,2.0,NaN
4995,2017-08-07,22,24,72,2,0,0,108.490171,90.324140,15107.824977,...,1.0,0.019440,0.050269,0.539159,0.289222,0,4.277778,2.0,16.0,4.349517
4996,2017-08-07,22,19,139,1,0,0,97.000000,81.000000,15093.843750,...,1.0,0.000968,0.011111,0.029368,0.504273,0,1.000000,1.0,1.0,0.000000
4997,2017-08-07,22,45,70,1,0,0,NaN,74.573333,15428.318182,...,1.0,0.015413,0.003348,0.579441,0.566873,0,NaN,NaN,NaN,NaN
4998,2017-08-07,22,6,22,4,0,0,67.396788,52.134679,7705.057098,...,1.0,0.030960,0.044710,0.579441,0.566873,0,3.136364,2.0,15.0,3.105992
4999,2017-08-07,22,26,6,1,0,0,63.803750,50.897915,8270.280296,...,1.0,0.038762,0.013925,0.579441,0.566873,0,2.125000,1.0,10.0,3.181981

In [21]:
coord = train_tr.groupby(['create_hour','start_geo_id'],as_index=False)['demand_count'].agg({'demand_count_start_avg':'mean'})
coord

      create_hour  start_geo_id  demand_count_start_avg
0               0             0                1.166667
1               0             1                1.304054
2               0             2                1.451613
3               0             3                1.114286
4               0             4                1.000000
5               0             5                1.403175
6               0             6                1.858942
7               0             7                1.000000
8               0             8                1.192771
9               0             9                1.380952
10              0            10                1.143791
11              0            11                1.200000
12              0            12                1.000000
13              0            13                1.298507
14              0            14                1.814480
15              0            15                1.661417
16              0            16                1.381148
17              0            17                1.352041
18              0            18                1.424000
19              0            19                1.331081
20              0            20                1.101449
21              0            21                1.122995
22              0            22                2.009158
23              0            23                1.166667
24              0            24                2.694897
25              0            25                1.145833
26              0            26                1.298246
27              0            27                1.522876
28              0            29                1.234375
29              0            30                1.080000
...           ...           ...                     ...
8382           23           391                1.000000
8383           23           412                1.000000
8384           23           419                1.000000
8385           23           425                1.000000
8386           23           434                1.000000
8387           23           437                2.000000
8388           23           443                1.000000
8389           23           470                1.000000
8390           23           471                3.000000
8391           23           472                1.000000
8392           23           477                1.000000
8393           23           478                1.000000
8394           23           485                1.000000
8395           23           488                8.000000
8396           23           496                1.000000
8397           23           506                1.000000
8398           23           536                1.000000
8399           23           579                1.000000
8400           23           590                1.000000
8401           23           596                4.000000
8402           23           606                1.000000
8403           23           626                1.000000
8404           23           709                3.000000
8405           23           739                6.000000
8406           23           816                1.000000
8407           23           950                1.000000
8408           23           988                1.000000
8409           23           998                1.000000
8410           23          1197                1.000000
8411           23          1222                1.000000

[8412 rows x 3 columns]

In [22]:
np.setdiff1d(train_tr.columns,valid_tr.columns)
# np.setdiff1d(test.columns,train_tr.columns)

array(['estimate_distance_mean', 'estimate_money_mean',
       'estimate_term_mean'], dtype=object)

### Training

In [23]:
do_not_use_list = ['create_date','demand_count','estimate_distance_mean','estimate_money_mean','estimate_term_mean','test_id']
predictors = [f for f in train_tr.columns if f not in do_not_use_list]
print predictors

['create_hour', 'start_geo_id', 'end_geo_id', 'holiday', 'dayOfWeek', 'money_hour_mean', 'money_day_mean', 'dis_hour_mean', 'term_hour_mean', 'start_cluster', 'end_cluster', 'sloc_eloc_mean', 'sloc_eloc_median', 'sloc_eloc_max', 'sloc_eloc_min', 'sloccl_eloccl_mean', 'sloccl_eloccl_median', 'sloccl_eloccl_max', 'sloccl_eloccl_min', 'se_start_ratio', 'se_end_ratio', 'se_start_cls_ratio', 'se_end_cls_ratio', 'hour_cls', 'demand_count_h_avg', 'demand_count_h_median', 'demand_count_h_max', 'demand_count_h_std']

In [ ]:
import xgboost as xgb
params = {'min_child_weight': 100, 'eta': 0.1, 'colsample_bytree': 0.3, 'max_depth': 7,
                'subsample': 0.8, 'lambda': 1, 'nthread': 4, 'booster' : 'gbtree', 'silent': 1,
                'eval_metric': 'rmse', 'objective': 'reg:linear'}
boostRound = 150

train_tr_trip = train_tr[train_tr['create_date'] >= '2017-07-01'].copy()
# print train_feat_1[predictors]

xgbtrain = xgb.DMatrix(train_tr_trip[predictors], train_tr_trip['demand_count'],missing=np.nan)
# xgbvalid = xgb.DMatrix(test_feat_1[predictors])
model = xgb.train(params, xgbtrain, num_boost_round=boostRound)
param_score = pd.Series(model.get_fscore()).sort_values(ascending=False)

In [ ]:
param_score

In [ ]:
def score(pred,valid):
    pred_l = list(pred)
    valid_l = list(valid)
    sum_ = 0
    for i in range(len(pred_l)):
        sum_ += abs(pred_l[i] - valid_l[i])
    return sum_ / (1.0 * len(pred_l))
#     return np.sum(np.abs(pred - valid)) / (1.0 * len(pred))

In [ ]:
xgbvalid = xgb.DMatrix(valid_tr[predictors],missing=np.nan)
valid_tr.loc[:,'result'] = model.predict(xgbvalid)
valid_tr['result'].fillna(1,inplace=True)
valid_tr['result']

# xgbvalid = xgb.DMatrix(test[predictors],missing=np.nan)
# test.loc[:,'count'] = model.predict(xgbvalid)
# test['count'].fillna(1,inplace=True)
# test['count']

In [ ]:
score(valid_tr['result'],valid_tr['demand_count'])

In [ ]:
# test['test_id'] = test['test_id'].astype('int')
# test[['test_id','count']].to_csv('result.csv',index=False)